@font-face{ 
	font-family: "fostmdl2";
	src: url("fonts/fostmdl2.eot");
	src: url("fonts/fostmdl2.eot?#iefix") format("embedded-opentype"),
	     url("fonts/fostmdl2.woff") format("woff"),
	     url("fonts/fostmdl2.ttf") format("truetype"),
	     url("fonts/fostmdl2.svg#webfont") format("svg");
}
@font-face{ 
	font-family: "fostlgl2";
	src: url("fonts/fostlgl2.eot");
	src: url("fonts/fostlgl2.eot?#iefix") format("embedded-opentype"),
	     url("fonts/fostlgl2.woff") format("woff"),
	     url("fonts/fostlgl2.ttf") format("truetype"),
	     url("fonts/fostlgl2.svg#webfont") format("svg");
}
@font-face{ 
	font-family: "fostbkl2";
	src: url("fonts/fostbkl2.eot");
	src: url("fonts/fostbkl2.eot?#iefix") format("embedded-opentype"),
	     url("fonts/fostbkl2.woff") format("woff"),
	     url("fonts/fostbkl2.ttf") format("truetype"),
	     url("fonts/fostbkl2.svg#webfont") format("svg");
}
@font-face{ 
	font-family: "fostdml2";
	src: url("fonts/fostdml2.eot");
	src: url("fonts/fostdml2.eot?#iefix") format("embedded-opentype"),
	     url("fonts/fostdml2.woff") format("woff"),
	     url("fonts/fostdml2.ttf") format("truetype"),
	     url("fonts/fostdml2.svg#webfont") format("svg");
}
@font-face{ 
	font-family: "fostbdl2";
	src: url("fonts/fostbdl2.eot");
	src: url("fonts/fostbdl2.eot?#iefix") format("embedded-opentype"),
	     url("fonts/fostbdl2.woff") format("woff"),
	     url("fonts/fostbdl2.ttf") format("truetype"),
	     url("fonts/fostbdl2.svg#webfont") format("svg");
}
* { 
	padding: 0;
	margin: 0;
	outline: none;
}
html, body {
	height: 100%;
}
table td{
	text-align: center !important;
}
img, fieldset {
	border: 0;
}
ul {
	list-style: none;
}
table {
	border-spacing: 0;
}
body {
	min-width: 996px;
	color: #00333F;
	font: 12px/1.3 Arial;
	background: url(/img/bg_1.gif) repeat;
}
.main {
	width: 996px;
	margin: 0 auto;
}
#top {
	width: 100%;
	height: 135px;
	background: url(/img/top_bg.gif) repeat-x;
	float: left;
}
#top #logo {
	height: 81px;
	margin: 20px 0 0 5px;
	float: left;
}
#top #lang {
	margin: 12px 0 0 0;
	float: right;
}
#top #lang li {
	margin: 0 0 0 6px;
	float: left;
}
#top #lang li a {
	color: #9BB7BE;
	font: 14px/1.2 fostmdl2;
	text-decoration: none;
	float: left;
}
#top #lang li a:hover, #top #lang li a.act {
	color: #557981;
}
#top #top_search {
	width: 160px;
	height: 25px;
	background: url(/img/top_search_bg.png) no-repeat;
	margin: 25px 0 0 0;
	clear: right;
	float: right;
}
#top #top_search .input {
	width: 125px;
	color: #858585;
	font: 12px fostlgl2;
	border: 0;
	margin: 4px 0 0 7px;
	float: left;
}
#top #top_search .submit {
	width: 20px;
	height: 21px;
	cursor: pointer;
	background: none;
	border: 0;
	margin: 2px 2px 0 0;
	float: right;
}
#top #menu {    
	width: 100%;
	float: left;
}
#top #menu li {
    list-style:none;
    margin:0;
	height: 32px;
	border-right: 1px solid #FFF;
	float: left;
}
#top #menu li:first-child {
	border-left: 1px solid #D2D2CE;
}
#top #menu li a {
	height: 32px;
	color: #00333F;
	font: 16px/32px fostmdl2;
	text-decoration: none;
	border-right: 1px solid #D2D2CE;
	padding: 0 19px;
	float: left;
}
#top #menu li:first-child a {
	width: 17px;
	background: url(/img/home_icon.png) no-repeat center 10px;
	border-left: 1px solid #FFF;
}
#top #menu li a:hover, #top #menu li a.act {
	font: 16px/32px fostbdl2;
}
#wrapper_bg {
	width: 100%;
	min-width: 996px;
	background: url(/img/bg_2.gif) repeat;
	float: left;
}
#wrapper {
	width: 100%;
	min-width: 996px;
	background: url(/img/bg_3.jpg) no-repeat center 0;
	float: left;
}
#container {
	width: 994px;
	background: rgba(255,255,255,0.81);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CEFFFFFF,endColorstr=#CEFFFFFF)";
	border-left: 1px solid #D2D2CE;
	border-right: 1px solid #D2D2CE;
	padding: 30px 0 10px 0;
	margin: 0 auto;
}
#container h1 {
	color: #547980;
	font: 74px/54px fostbkl2;
	padding: 0 0 20px 20px;
	display: block;
}
#container .home_box h1 {
	padding: 0 0 20px 0;
}
#container .home_box{
    color: #00343f;
}
#container h2 {
	color: #00333F;
	font: 16px/32px fostmdl2;
	background: url(/img/h2_bg.gif) repeat-x;
	padding: 0 0 0 20px;
	clear: both;
	display: block;
}
#container h2.fix {
	background: #DAE4E5;
	border: 1px solid #FFF;
	outline: 1px solid #D2D2CE;
	margin: 0 0 15px 0;
}
#container .slider h2 {
	margin: 0 -20px 10px -20px;
}
#container .home_news h2 {
	margin: 0 0 10px 0;
}
#container #content h2 {
	font: 16px/30px fostmdl2;
	border: 1px solid #FFF;
	outline: 1px solid #D2D2CE;
	margin: 0 -20px 15px -20px;
}
#container p {
	font: 15px/1.3 fostbkl2;
	padding: 0 0 20px 0;
	display: block;
}
#container .home_box {
	width: 630px;
	margin: 0 0 15px 20px;
	float: left;
}
#container .slider {
	width: 286px;
	background: url(/img/box_bg.gif) repeat;
	border: 1px solid #FFF;
	outline: 1px solid #D2D2CE;
	padding: 0 20px 10px 20px;
	margin: 0 0 15px 0;
	overflow: hidden;
	float: right;
}
#container .slider .panel {
	width: 286px;
	float: left;
}
#container .slider .panel a.foto {
	background: #FFF;
	box-shadow: 0 0 3px #C8C8C8;
	behavior: url(PIE.htc);
	border: 1px solid #DADADA;
	padding: 2px;
	margin: 5px 0 10px 0;
	position: relative;
	display: block;
}
#container .slider .panel h3 {
	color: #E5AF1F;
	font: 16px/1.2 fostmdl2;
	padding: 0 0 8px 0;
	display: block;
}
#container .slider .panel p {
	font: 13px/1.3 fostbkl2;
    color:#557981;
}
#container .slider .pages {
	text-align: center;
	display: block;
}
#container #content .pages {
	float: right;
}
#container .pages a {
	width: 18px;
	height: 18px;
	display: inline-block;
}
#container .pages a {
	background: url(/img/slider_pages.png) no-repeat 0 -25px;
}
#container .pages a:hover, #container .pages a.act {
	background: url(/img/slider_pages.png) no-repeat -25px -25px;
}
#container .pages a.prev {
	background: url(/img/slider_pages.png) no-repeat;
}
#container .pages a.next {
	background: url(/img/slider_pages.png) no-repeat -25px 0;
}
#container .home_news {
	width: 650px;
	background: url(/img/box_bg.gif) repeat;
	border: 1px solid #FFF;
	outline: 1px solid #D2D2CE;
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	float: left;
}
#container .home_news li {
	width: 285px;
	padding: 0 20px;
	float: left;
}
#container .home_news li.sep {
	width: 650px;
	height: 1px;
	background: #D2D2CE;
	border-top: 1px solid #FFF;
	padding: 0;
	margin: 10px 0;
}
#container .home_news li.last {
	width: 630px;
	text-align: right;
	padding: 0;
}
#container .home_news li a {
	color: #565757;
	font: 13px/1.3 fostdml2;
	text-decoration: none;
}
#container .home_news li a span {
	color: #797979;
	font: italic 11px/1.2 Georgia;
	padding: 5px 0 0 0;
	display: block;
}
#container .home_news li a:hover span {
	color: #E6AF19;
	font: bold italic 11px/1.2 Georgia;
}
#container .home_news li.last a {
	color: #557981;
	font: 14px/1.2 fostbdl2;
}
#container .home_services {
	width: 994px;
	padding: 0 0 10px 0;
	float: left;
}
#container .home_services li {
	width: 291px;
	padding: 0 20px;
	float: left;
}
#container .home_services li.sep {
	width: 994px;
	height: 1px;
	background: #D2D2CE;
	border-top: 1px solid #FFF;
	padding: 0;
	margin: 10px 0 15px 0;
}
#container .home_services li a.foto {
	background: #FFF;
	box-shadow: 0 0 3px #C8C8C8;
	behavior: url(PIE.htc);
	border: 1px solid #DADADA;
	padding: 2px;
	margin: 0 0 10px 0;
	position: relative;
	float: left;
}
#container .home_services li h3 {
	color: #5D5D5B;
	font: 15px/1.2 fostdml2;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	margin: 0 0 0 15px;
	float: left;
    width:100px;
    height:110px;
    display:table-cell;
    position:relative;
}
#container .home_services li h3 a{
    color: #5D5D5B;
    position:absolute;
    bottom:0;
    vertical-align:bottom;
    display:block;
    text-decoration:none;
}
#container .home_services li h3 a:hover{
    color:#E5AF1F;
}
#container .home_services li a.url {
	color: #555657;
	font: 12px/1.3 fostdml2;
	text-decoration: none;
	clear: both;
	display: block;
    font-weight:normal;
}
#container .home_services li a.url:hover{
    font-weight:bold;
}
#container .column {
	width: 460px;
	color: #555757;
	background: url(/img/box_bg.gif) repeat;
	border: 1px solid #FFF;
	outline: 1px solid #D2D2CE;
	margin: 0 0 15px 0;
}
#container .column h3 {
	color: #557981;
	font: 14px/1.3 fostmdl2;
	padding: 0 0 5px 0;
	display: block;
}
#container .column p {
	font: 13px/1.3 fostmdl2;
	text-align: justify;
	padding: 0 0 10px 0;
	display: block;
}
#container .column ul.list, #container .column ul.list li{
    list-style: url(/img/li.png);
}
#container .column ul.list li h3:before {
    content:  url(/img/li.png) no-repeat top left;
    padding-right:10px;
     
}
#container .column .list li {
    margin:0;
	padding: 10px 20px 0 20px;
	display: block;
}
#container .column .list li:last-child {
    padding-bottom:5px;
}

#container .column .list h3.act, #container .column h3.act{
    color:#D29900;
}

#container .column .list li:hover, #container .column .list li.act {
	background: #FAFAF9;
}
#sidebar {
	width: 334px;
	padding: 0 0 15px 0;
	float: left;
}
#sidebar .submenu {
	background: url(/img/box_bg.gif) repeat;
	border: 1px solid #FFF;
	outline: 1px solid #D2D2CE;
	margin: 0 0 15px 0;
	display: block;
}
#sidebar .submenu li {
	border-top: 1px solid #FFF;
	display: block;
}
#sidebar .submenu li:first-child {
	border-top: 0;
}
#sidebar .submenu li a {
	color: #00333F;
	font: 15px/1.4 fostbkl2;
	text-decoration: none;
	border-top: 1px solid #D2D2CE;
	padding: 5px 20px;
	display: block;
}
#sidebar .submenu li:first-child a {
	border-top: 0;
}
#sidebar .submenu li a:hover, #sidebar .submenu li a.act {
	font: 15px/1.4 fostmdl2;
	background: url(/img/submenu_bg.gif) repeat;
}
#sidebar .big_foto {
	color: #557981;
	font: 15px/1.2 fostbdl2;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	padding: 0 4px 15px 20px;
	display: block;
}
#sidebar .big_foto .foto {
	background: #FFF;
	box-shadow: 0 0 3px #C8C8C8;
	behavior: url(PIE.htc);
	border: 1px solid #DADADA;
	padding: 2px;
	margin: 0 0 10px 0;
	position: relative;
	display: block;
    width:304px;
    height:294px;
}

#sidebar .big_foto a.foto img{    
    text-align:center;    
    position:absolute;top:0;bottom:0;margin:auto;
    left:0;right:0;
}
#sidebar .txt_box {
	color: #00333F;
	font: 15px/1.4 fostbkl2;
	background: url(/img/box_bg.gif) repeat;
	border: 1px solid #FFF;
	outline: 1px solid #D2D2CE;
	padding: 5px 20px;
	margin: 0 0 15px 0;
	display: block;
}
#sidebar .txt_box li {
	padding: 10px 0 10px 0;
	display: block;
}
#sidebar .txt_box li p {
    padding:0;
    line-height: 1.2;
}
/*
#sidebar .txt_box li:first-child {
	padding: 0;
}*/
#sidebar .txt_box li a {
	color: #00333F;
	text-decoration: none;
}
#sidebar .form {
	width: 178px;
	padding: 10px 0 5px 20px;
	display: block;
}
#sidebar .form li {
	padding: 0 0 10px 0;
	display: block;
}
#sidebar .form li.last {
	text-align: center;
}
#sidebar .form li label {
	color: #557981;
	font: 13px/1.2 fostbdl2;
	padding: 0 0 4px 0;
	display: block;
}
#sidebar .form li .input, #sidebar .form li textarea {
	width: 178px;
	color: #555757;
	font: 13px/1.2 fostmdl2;
	background: #FFF;
	border: 1px solid #ACADAD;
    border-radius: 5px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior: url(PIE.htc);
	padding: 2px 4px;
	position: relative;
}
#sidebar .form li textarea {
	height: 100px;
	overflow: auto;
}
#sidebar .form li .submit {
	height: 26px;
	color: #557981;
	font: 13px/1.2 fostbdl2;
	cursor: pointer;
	background: #FFF;
	border: 1px solid #ACADAD;
    border-radius: 15px;
    -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	behavior: url(PIE.htc);
	padding: 0 8px;
	position: relative;
}
.tight {
	width: 566px;
	padding: 0 20px 15px 20px;
	float: right;
}
.tight.fix {
	padding: 0 40px 15px 0;
}
#content h3 {
	color: #557981;
	font: 15px/1.3 fostmdl2;
	padding: 0 0 10px 0;
	display: block;
}
#content p {
	font: 13px/1.3 fostmdl2;
	text-align: justify;
}
#content p.fix {
	margin: 10px 0 0 0;
}
#content ul {
	padding: 0 0 10px 0;
	display: block;
    list-style:none;
}
#content ul > li {
	font: 13px/1.3 fostmdl2;
	list-style: square;
	padding: 0 0 5px 0;
    margin-left:30px;
    /*list-style:  url(/img/li.png) no-repeat top left;*/
}

#content a, #container .column a {
	color: #557981;
}
#content a:hover, #container .column a:hover {
	text-decoration: none;
}
#content a.more {
	color: #557981;
	font: 14px/1.2 fostbdl2;
	text-decoration: none;
}
#content a.back {
	color: #557981;
	font: 14px/1.2 fostbdl2;
	text-decoration: none;
	float: right;
}
#content .nav {
	height: 30px;
	background: url(/img/h2_bg.gif) repeat-x;
	border: 1px solid #FFF;
	outline: 1px solid #D2D2CE;
	padding: 0 0 0 20px;
	margin: 0 -20px 15px -20px;
	clear: both;
	display: block;
}
#content .nav li {
	list-style: none;
	padding: 0 25px 0 0;
	float: left;
}
#content .nav li a {
	color: #00333F;
	font: 16px/30px fostmdl2;
	text-decoration: none;
	float: left;
}
#content .nav li a:hover, #content .nav li a.act {
	font: 16px/30px fostbkl2;
}

#content .nav li a.subtexts_link:hover, #content .nav li a.active {
    font: 16px/30px fostbkl2;
    font-weight:bold;
}

#content .projects_box {
	background: url(/img/box_bg.gif) repeat;
	border: 1px solid #D2D2CE;
	margin: 0 -21px 15px -20px;
	display: block;
}
#content .projects_box .fix_line {
	border: 1px solid #FFF;
	padding: 0 0 12px 0;
	display: block;
}
#content .projects_box h4 {
	color: #D29900;
	font: 16px/32px fostmdl2;
	border-bottom: 1px solid #FFF;
	padding: 0 0 0 20px;
	clear: both;
	display: block;
}
#content .projects_box .projects_list {
	border-top: 1px solid #D2D2CE;
	padding: 5px 20px 0 20px;
	display: block;
}
#content .projects_box .projects_list > li {
	list-style: none;
	padding: 8px 0 0 0;
	position: relative;
	display: block;
}
#content .projects_box .projects_list > li > a {
	color: #555757;
	font: 13px/1.2 fostmdl2;
	text-decoration: none;
	display: inline-block;
}
#content .projects_box .projects_list > li:hover > a {
	color: #00333F;
}
#content .projects_box .projects_list > li ul {
	width: 240px;
	background: url(/img/projects_list_drop_bg.png) no-repeat;
	padding: 0 12px 0 18px;
	display: none;
	position: absolute;
	top: -50px;
	left: 275px;
}
#content .projects_box .projects_list > li:hover ul {
	display: block;
}
#content .projects_box .projects_list > li ul li {
	width: 240px;
	font: 13px/1.2 fostmdl2;
	list-style: none;
	padding: 10px 0 0 0;
	float: left;
}
#content .projects_box .projects_list > li ul li.bottom {
	width: 270px;
	height: 15px;
	background: url(/img/projects_list_drop_bg.png) no-repeat 0 bottom;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: -15px;
}
#content .projects_box .projects_list > li ul li .fl {
	width: 50px;
	color: #00333F;
	text-align: right;
	padding: 0 10px 0 0;
}
#content .projects_box .projects_list > li ul li .fr {
	width: 180px;
	color: #555757;
}
#content .search_list {
	padding: 0;
}
#content .search_list li {
	list-style: none;
	padding: 0;
	display: block;
}
#content .search_list li h4 {
	font: 15px/1.2 fostmdl2;
	padding: 0 0 10px 0;
	display: block;
}
#content .news_list {
	padding: 0;
}
#content .news_list li {
	list-style: none;
	padding: 0 0 20px 0;
	display: block;
}
#content .news_list li .date {
	color: #557981;
	font: 13px/1.2 fostbdl2;
	padding: 0 0 2px 0;
	display: block;
}
#content .news_list li p {
	padding: 0 0 2px 0;
}
#content .map {
	background: #FFF;
	box-shadow: 0 0 3px #C8C8C8;
	behavior: url(PIE.htc);
	border: 1px solid #DADADA;
	padding: 3px;
	margin: 0 0 15px 0;
	position: relative;
	display: block;
}
#foto_list {
	width: 994px;
	padding: 0 0 10px 0;
	float: left;
}
#foto_list li {
	width: 150px;
	margin: 0 20px 20px 20px;
	float: left;
}
#foto_list li.sep {
	width: 100%;
	margin: 0;
}
#foto_list li a.foto {
	background: #FFF;
	box-shadow: 0 0 3px #C8C8C8;
	behavior: url(PIE.htc);
	border: 1px solid #DADADA;
	padding: 2px;
	margin: 0 0 5px 0;
	position: relative;
	display: inline-block;
    width: 109px;
    height: 105px;
}
#foto_list li a.foto img{    
    text-align:center;    
    position:absolute;top:0;bottom:0;margin:auto;
    left:0;right:0;
}

#foto_list li a.url {
	color: #557981;
	font: 13px/1.2 fostdml2;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	text-decoration: none;
	clear: both;
}
#foto_list li:hover a.url {
	font: 13px/1.2 fostbdl2;
}
#bottom {
	width: 100%;
	min-width: 996px;
	height: 40px;
	color: #FFF;
	font: 12px/40px fostmdl2;
	text-align: right;
	background: url(/img/bottom_bg.gif) repeat-x;
	float: left;
}
#bottom a {
	color: #FFF;
	text-decoration: none;
}
#bottom span {
	margin: 0 15px;
	display: inline-block;
}
#footer {
	width: 100%;
	color: #D0D0D0;
	font: 12px/1.2 fostmdl2;
	text-align: center;
	padding: 15px 0 25px 0;
	float: left;
}
#footer a {
	color: #D0D0D0;
	text-decoration: none;
}
#bottom a:hover, #footer a:hover {
	text-decoration: underline;
}
#footer span {
	margin: 0 15px;
	display: inline-block;
}
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}
.clearfix:before, .clearfix:after {
	height: 0;
	content: ".";
	overflow: hidden;
	display: block;
}
.clearfix:after {
	clear: both;
}
.input, select, textarea {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}


img.desaturate { 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

img.desaturate:hover{
     filter: none;
    -webkit-filter: grayscale(0%);
}


#container .slider ul.pages {
    text-align: center;
    display: block;
}
#container #content ul.pages li {
    float: left;
}
#container .pages li a, #container .pages li {
    width: 18px;
    height: 18px;
    display: inline-block;
}
#container .pages li a {
    background: url(/img/slider_pages.png) no-repeat 0 -25px;
}
#container .pages li a:hover, #container .pages li a.act, #container .pages li.current a {
    background: url(/img/slider_pages.png) no-repeat -25px -25px;
}
#container .pages li a.prev {
    background: url(/img/slider_pages.png) no-repeat;
}
#container .pages li a.next {
    background: url(/img/slider_pages.png) no-repeat -25px 0;
}
.rez{
    color:#E7AF19;
}
.cursor{
    cursor: pointer;
}

.dn {
    display: none;
}

.block {
    display: block;
}

.h5 {
    height: 5px
}

.h10 {
    height: 10px
}

.h20 {
    height: 20px
}

.mr10px {
    margin-right: 10px;
}

.ml10px {
    margin-left: 10px;
}

.mr20px {
    margin-right: 20px;
}

.ml20px {
    margin-left: 20px;
}

.mt20px {
    margin-top: 20px;
}

.pr10px {
    padding-right: 10px;
}
.pl5px {
    padding-left: 5px;
}
.pl10px {
    padding-left: 10px;
}

.pr20px {
    padding-right: 20px;
}

.pl20px {
    padding-left: 20px;
}

.pl40px {
    padding-left: 40px;
}

.pl60px {
    padding-left: 60px;
}