<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml'); ?>
        <section>
            <form class="form-search well" method="get">
                <div class="control-group pull-right">
                    <div class="controls">
                        <input type="text" name="filter" value="<?php echo $this->filter ?>" class="search-query"
                               placeholder="<?php echo Core_Locale::translate('Filter') ?>">
                        <button type="submit" class="btn"><?php echo Core_Locale::translate('Search') ?></button>
                    </div>
                </div>
            </form>
            <table class="table table-hover table-striped tableContentAlignLeft">
                <thead>
                <tr>
                    <th><?php echo Core_Locale::translate('Eiles nr.') ?></th>
                    <th><?php echo Core_Locale::translate('Phone number') ?></th>
                    <th><?php echo Core_Locale::translate('Plate') ?></th>
                    <th><?php echo Core_Locale::translate('Email') ?></th>
                </tr>
                </thead>
                <tbody>
                <?php if ($this->paginator->count()) {
                    if (!$this->page) {
                        $p = (((DEFAULT_PAGINATION_ITEMS) * 1) - (DEFAULT_PAGINATION_ITEMS - 1));
                    } else {
                        $p = ((DEFAULT_PAGINATION_ITEMS) * ($this->page) - (DEFAULT_PAGINATION_ITEMS - 1));
                    }
                }
                foreach ($this->paginator->getCurrentItems() as $i) { ?>
                    <tr>

                        <td><?php echo $p++; ?></td>
                        <td><?php echo $i['phone_number'] ?></td>
                        <td><?php echo $i['number_plate'] ?></td>
                        <td><?php echo $i['email'] ?></td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                ['paginator_params' => $this->paginator_params]); ?>
        </section>
    </div>
</article>

