.cube {
    position: relative;
    color: black;
    width: 10em;
    margin-left: 60px;
    margin-top:-35px;
}

.rightFace,.leftFace,.topFace {
    background-color: #F5F5F5;
    width: 5em;
    height: 9em;
    border: solid 2px #C6C6C6;
}

.leftFaceFocus{
    border-bottom: solid 2px #7ABA05;
}
.rightFaceFocus{
    border-left: solid 2px #7ABA05;
}
.depthFaceFocus{
    border-bottom: solid 2px #7ABA05;
}

.rightFace,.leftFace {
    height: 5em;
}

.rightFace,.leftFace,.topFace {
    position: absolute;
}

.leftFace {
    -sand-transform: skewY(30deg);
    left: 12.1em;
}

.rightFace {
    width: 9em;
    -sand-transform: skewY(-30deg);
    top: -1.1em;
    left: 17.3em;
}

.topFace {
    -sand-transform: rotate(60deg) skewY(-30deg) scale(1, 1.15);
    top: -7.2em;
    left: 16.8em;
}

.cube div.topFace,.cube div.rightFace,.cube div.leftFace {
    overflow-x: hidden;
    overflow-y: hidden;
}

.arrowRightFace{
    display:none;
    top:5px;
    left:50%;;
    height:57px;
}
.arrowTopFace{
    display:none;
    top:5px;
    left:44px;;
    height:113px;
}
.arrowLeftFace{
    display:none;
    -sand-transform: rotate(90deg);
    top:6px;
    left:50%;
    height:55px;
}

.arrow_box_container{
    width:2px;
    position:absolute;
}

.arrow_box, .arrow_box_down {
    height:100%;
    position: relative;
    background: #7ABA05;
    border: 1px solid #7ABA05;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(122, 186, 5, 0);
    border-bottom-color: #7ABA05;
    border-width: 3px;
    left: 50%;
    margin-left: -3px;
}
.arrow_box:before {
    border-color: rgba(122, 186, 5, 0);
    border-bottom-color: #7ABA05;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
}
.arrow_box_down:after, .arrow_box_down:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_down:after {
    border-color: rgba(122, 186, 5, 0);
    border-top-color: #7ABA05;
    border-width: 3px;
    left: 50%;
    margin-left: -3px;
}
.arrow_box_down:before {
    border-color: rgba(122, 186, 5, 0);
    border-top-color: #7ABA05;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
}


