@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
body{
 /*font-family:"Trebuchet MS", Helvetica, sans-serif*/
    font-family: 'Open Sans Condensed', sans-serif;
}

.fl {
    float: left
}

.fr {
    float: right
}

.dn {
    display: none;
}

.block {
    display: block;
}
.pd0px {
    padding:0;
}
.mr0px {
    margin:0;
}
.mr10px {
    margin-right: 10px;
}

.ml10px {
    margin-left: 10px;
}

.mr20px {
    margin-right: 20px;
}
.mr40px {
    margin-right: 40px;
}

.ml20px {
    margin-left: 20px;
}
.mt5px{
    margin-top: 5px;
}
.mt20px {
    margin-top: 20px;
}

.pr10px {
    padding-right: 10px;
}
.pl5px {
    padding-left: 5px;
}
.pl10px {
    padding-left: 10px;
}

.pr20px {
    padding-right: 20px;
}

.pl20px {
    padding-left: 20px;
}

.pl40px {
    padding-left: 40px;
}

.pl60px {
    padding-left: 60px;
}

.clearboth .clearboath {
    clear: both
}
.h10{height:10px}
.h20{height:20px}
.cursor {cursor:pointer}
.tac{text-align:center}
.tal{text-align:left}
.tar{text-align:right}
body {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color:#F5F5F5;
}

h3#logo{
    background:url("../img/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 71px;
    text-indent: -9999em;
    width: 203px;
}


 /*
    Datepicker for Bootstrap
    Copyright 2012 Stefan Petre
    Licensed under the Apache License v2.0
    http://www.apache.org/licenses/LICENSE-2.0
*/
/* Default styling for jQuery Datepicker v4.0.6. */
.datepick {
    border-color: rgba(122, 168, 5,1);
    background-color:#FFF;
    color: #000;
    font-size: 90%;
}

.datepick-rtl {
    direction: rtl;
}

.datepick-popup {
    background-color:#FFF;
    z-index: 6000;
    border: 1px solid rgba(122, 168, 5, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(122, 168, 5, 0.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow:hidden;
    padding: 10px;
}

.datepick-disable {
    position: absolute;
    z-index: 00;
    background-color: #fff;
    opacity: 0.5;
    filter: alpha(opacity =   50);
}

.datepick a {
    color: #fff;
    text-decoration: none;
}

.datepick a.datepick-disabled {
    color: #888;
    cursor: auto;
}

.datepick button {
    margin: 0.25em;
    padding: 0.125em 0em;
    background-color: #fcc;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}

.datepick-nav {
    height: 30px;
}

.datepick-nav,.datepick-ctrl {
    float: left;
    width: 100%;
    background-color: #FFF;
    color: #000;
    font-size: 90%;
    font-weight: bold;
    border-top: solid 1px #999;
}

.datepick-ctrl {
    background-color: #FFF;
    color:#000;
}

.datepick-cmd {
    width: 30%;
}
a.datepick-cmd{color: #000;}

.datepick-cmd:hover {
    background-color: #FFF;
    text-decoration:underline;
}

.datepick-ctrl .datepick-cmd:hover {
    background-color: #FFF;
}

.datepick-cmd-prevJump,.datepick-cmd-nextJump {
    width: 8%;
}

a.datepick-cmd {
    height: 1.5em;
}

button.datepick-cmd {
    text-align: center;
}

.datepick-cmd-prev,.datepick-cmd-prevJump,.datepick-cmd-clear {
    float: left;
    padding-left: 2%;
}

.datepick-cmd-current,.datepick-cmd-today {
    float: left;
    width: 35%;
    text-align: center;
}

.datepick-cmd-next,.datepick-cmd-nextJump,.datepick-cmd-close {
    float: right;
    padding-right: 2%;
    text-align: right;
}

.datepick-rtl .datepick-cmd-prev,.datepick-rtl .datepick-cmd-prevJump,.datepick-rtl .datepick-cmd-clear
    {
    float: right;
    padding-left: 0%;
    padding-right: 2%;
    text-align: right;
}

.datepick-rtl .datepick-cmd-current,.datepick-rtl .datepick-cmd-today {
    float: right;
}

.datepick-rtl .datepick-cmd-next,.datepick-rtl .datepick-cmd-nextJump,.datepick-rtl .datepick-cmd-close
    {
    float: left;
    padding-left: 2%;
    padding-right: 0%;
    text-align: left;
}

.datepick-month-nav {
    float: left;
    background-color: #FFF;
    text-align: center;
}

.datepick-month-nav div {
    float: left;
    width: 12.5%;
    margin: 1%;
    padding: 1%;
}

.datepick-month-nav span {
    color: #888;
}

.datepick-month-row {
    clear: left;
}

.datepick-month {
    float: left;
    width: 300px;;
    text-align: center;
}
.datepick-month-header{
    border-bottom: solid 1px #999;
    border-top: solid 1px #999;
}
.datepick-month-header,.datepick-month-header select,.datepick-month-header input
    {
    height: 28px;
    background-color: #FFF;
    color: #000;
}

.datepick-month-header select,.datepick-month-header input {
    height: 28px;
    border: none;
}
.datepick-month-header select{
    width:120px;
}

.datepick-month-header input {
    position: absolute;
    display: none;
}

.datepick-month table {
    width: 100%;
    border-collapse: collapse;
}

.datepick-month thead {
    
}

.datepick-month th,.datepick-month td {
    margin: 0em;
    padding: 0em;
    font-weight: normal;
    text-align: center;
}

.datepick-month th {
    
}

.datepick-month th,.datepick-month th a {
    background-color: #FFF;
    color: #000;
    font-weight:bold;
}

.datepick-month td {
    width:30px;
}

.datepick-month td.datepick-week {
}

.datepick-month td.datepick-week * {
    color: #000;
    font-weight:bold;'
    border: none;
}

.datepick-month a {
    display: block;
    width: 100%;
    padding: 0.125em 0em;
    background-color: #FFF;
    color: #000;
    text-decoration: none;
}

.datepick-month span {
    display: block;
    width: 100%;
    padding: 0.125em 0em;
}

.datepick-month td span {
    color: #000;
}

.datepick-month td .datepick-other-month {
    background-color: #fff;
}

.datepick-month td .datepick-weekend {
    background-color: #FFF;
}

.datepick-month td .datepick-today {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datepick-month td .datepick-highlight {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datepick-month td .datepick-selected {
    background-color: #7aba05;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
}

.datepick-month th.datepick-week {
    background-color: #FFF;
    color: #000;
}

.datepick-status {
    clear: both;
    background-color: #ddd;
    text-align: center;
}

.datepick-clear-fix {
    clear: both;
}

.datepick-cover {
    display: none;
    display /**/: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -1px;
    left: -1px;
    width: 100px;
    height: 100px;
}

input.datePIckerCalendar {
    padding-left:24px;
    background: url("/img/icons/icon_calendar.png") no-repeat scroll 6px 6px transparent;
}
input.datePIckerSchdeule{
    padding-left:24px;
    background: url("/img/icons/icon_calendar.png") no-repeat scroll 6px 6px transparent;
    background-color:#BCB7B7;
    border:none;
    box-shadow:none;
    color:#FFF;
    font-weight:bold;
}

.headerText{
    color:#7ABA05;
    text-transform:uppercase;
    font-weight:normal;
    padding-top:25px;
    font-size:24px;
}
.headerLine{
    background: url("../img/header-line.png") no-repeat scroll -660px 60px transparent;
    width:100%;
    height:92px;
}
.headerLine a{
    text-align:right;
    width:993px;
    display:block;
}

.footer{
    background: url("../img/footer.png") no-repeat scroll -60px 0 transparent;
    height:55px;
    color:#FFF;
    font-size:15px;
    text-transform:uppercase;
    padding-top: 17px;
    padding-left:26px;
}


/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    padding: 19px 29px 29px;
}

.container-narrow>hr {
    margin: 30px 0;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
    border-color: rgba(122, 186, 5, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(122, 186, 5, 0.6)
}


/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p+h4 {
    margin-top: 28px;
}

.cube p {
line-height: 14px;
font-size: 12px;
}

.cube h2 {
font-weight: bold;
}


.text45deg{
    -sand-transform: rotate(-89deg) ;
}
h2.text45deg{
    padding:0;
    margin-right:-35px;
    padding-bottom:45px;
    font-size:22px;
}


ul.errors{
    list-style:none;
    margin:0;
    padding:0;
    margin-top:-10px;
}
ul.errors li{
    margin:0;
    padding:0;
    color:#B94A48;
    font-size:10px;
}

input.error, select.error, input[type="text"].error {
    border: 1px solid #FF0000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6)
}

/**
 * NEW
 */
.rowBottomMargin{margin-bottom:20px;}
.noBorder{border:none;box-shadow:none;}
.bold{font-weight:bold;}
.green{color:#68C013;}
.blue{color:#172566;}
.red{color:#B94A48;}
.blockBg{
    background-color:#F5F5F5;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: solid 1px #C6C6C6;
}
label{
    font-size:16px;
}
legend{
    color:#68C013;
    font-size:22px;
}
#tempSliderL{
    font-size:10px;
    margin-top:5px;
}
#tempSliderH{
    font-size:10px;
    margin-bottom:5px;
}

.thumbnail:hover .deleteBtn{
    display:block;
} 
.deleteBtn:hover{
    color:#FFF;
}
.deleteBtn{
    display:none;
    color:#FFF;
    background: none repeat scroll 0 0 #000000;
    border-radius: 5px 5px 5px 5px;
    bottom: 16px;
    list-style: none outside none;
    margin: 0;
    opacity: 0.85;
    padding: 6px 10px;
    margin: -40px 10px 0 0;
    float:right;
    z-index: 9999;
}


