
.uploadify {
    margin-bottom: 1em;
    position: relative;
}
.uploadify-button {
    font-weight:normal;
    font-size:17.5px;
}
.uploadify:hover {
    background-color: #606060;
    background-image: -moz-linear-gradient(center top , #606060 0%, #808080 100%);
    background-position: center bottom;
}
.uploadify-button.disabled {
    background-color: #D0D0D0;
    color: #808080;
}
.uploadify-queue {
    margin-bottom: 1em;
}
.uploadify-queue-item {
    background-color: #F5F5F5;
    border-radius: 3px 3px 3px 3px;
    font: 11px Verdana,Geneva,sans-serif;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
}
.uploadify-error {
    background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
    background: url("/js/uploadify/uploadify-cancel.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 16px;
    margin-right: 16px;
    text-indent: -9999px;
    width: 16px;
}
.uploadify-queue-item.completed {
    background-color: #E5E5E5;
}
.uploadify-progress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}
.uploadify-progress-bar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}
