//
// Chromatron style
// --------------------------------------------------


/* Globals */
body {
	background-image: url("@{bodyBackgroundImage}");
	background-repeat: repeat-y;
	background-position: 264px 0;
	text-rendering: optimizelegibility;
}

/* Layout */
.container-fluid {
	padding: 0;
}
.navigation-block {
	.size(auto, @navigationWidth);
	float: left;
	padding: @baseMargin 0;
	color: @navigationColor;
	position: absolute;
}
.content-block {
	height: 100%;
	background-color: @contentBackground;
	margin-left: @navigationWidth + 1;
	padding: @baseMargin @fluidGridGutterWidth @fluidGridGutterWidth;
	color: @textColor;
	.clearfix();
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: normal;
	small {
		font-weight: normal;
	}
	&:first-child {
		margin-top: 0;
	}
}
h1 {
	font-size: @baseFontSize * 2;
	margin: @baseMargin 0;
}
h2 {
	font-size: @baseFontSize * 1.5;
	margin: @baseMargin * 0.9 0;
}
h3 {
	font-size: @baseFontSize * 1.15;
	margin: @baseMargin * 0.8 0;
}
h4 {
	font-size: @baseFontSize;
	margin: @baseMargin * 0.7 0;
}
h5 {
	font-size: @baseFontSize * 0.85;
	text-transform: uppercase;
	margin: @baseMargin * 0.6 0;
}
h6 {
	font-size: @baseFontSize * 0.75;
	text-transform: uppercase;
	margin: @baseMargin * 0.5 0;
}
nav {
	ul,
	ol {
		margin: 0;
		padding: 0;
		list-style: none;
		list-style-image: none;
	}
}
p {
	line-height: 150%;
}
q,
blockquote {
	border: none;
	margin: 0;
	padding: @baseMargin / 2 0 0 @baseMargin;
	background-image: url("@{blockquoteBackground}");
	background-position: top left;
	background-repeat: no-repeat;
}
q.pull-right,
blockquote.pull-right {
	border: none;
	padding: @baseMargin / 2 @baseMargin 0 0;
	background-position: top right;
}
.label {
	padding: 1px 4px;
}
a {
	&.label:hover {
		color: @white;
		background-color: darken(@grayLight, 10%);
		text-decoration: none;
		cursor: pointer;
	}
	&.label-important:hover {
		background-color: darken(@errorText, 10%);
	}
	&.label-warning:hover {
		background-color: darken(@orange, 10%);
	}
	&.label-success:hover {
		background-color: darken(@successText, 10%);
	}
	&.label-info:hover {
		background-color: darken(@infoText, 10%);
	}
	&.label-inverse:hover {
		background-color: darken(@grayDark, 10%);
	}
}
.data-block ol,
.data-block ul {
	margin-bottom: @baseMargin;
	ul,
	ol {
		margin-bottom: 0;
	}
}
.data-block li {
	line-height: @baseLineHeight + 2;
}
.well {
	background-color: #f5f5f5;
	.border-radius(@baseBorderRadius);
	.box-shadow(0 0 3px rgba(0,0,0,0.15));
	blockquote {
		border-color: rgba(0,0,0,0.15);
	}
	&.large {
		padding: 24px;
		.border-radius(@baseBorderRadius * 2);
	}
	&.small {
		padding: 9px;
		.border-radius(@baseBorderRadius);
	}
	p {
		margin: 0;
		& + p {
			margin-top: 8px;
		}
	}
}
.nested .well {
	border: none;
}

/* Grid */
.row-fluid,
.row {
	.row,
	.row-fluid {
		margin-bottom: @fluidGridGutterWidth;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* Header */
.navigation-block header {
	margin-bottom: @baseMargin;
	padding: 0 @baseMargin;
	h1 {
		margin: 0;
		a {
			.image-replacer(@templateLogo, no-repeat, 26px, 231px);
		}
	}
	p {
		color: @grayLight;
		margin: 5px 0 0;
		font-style: italic;
	}
}

/* Navigation */
.main-navigation {
	clear: both;
	margin-bottom: @baseMargin;
	& > ul {
		margin: 0;
		padding: 0;
		list-style: none;
		border-top: 1px solid @navDarkBorderColor;
		border-bottom: 1px solid @navLightBorderColor;
		& > li {
			padding: 0 @baseMargin;
			border-top: 1px solid @navLightBorderColor;
			border-bottom: 1px solid @navDarkBorderColor;
			a {
				display: block;
				background-repeat: no-repeat;
			}
			& > a {
				line-height: 32px;
				font-weight: bold;
				font-size: @baseFontSize + 2px;
				color: @navigationLinkColor;
				text-shadow: 0 1px 1px rgba(0,0,0,0.2);
				letter-spacing: 0.3px;
				.transition(color 400ms ease);
				&:hover {
					color: @templateColor;
					text-decoration: none;
				}
				&:focus {
					outline: none;
				}
				[class^="fam-"], 
				[class*=" fam-"] {
					margin: 2px 10px 0 0;
				}
			}
			ul {
				display: none;
				margin: 0 0 10px 42px;
				padding: 0;
				list-style: disc;
				color: @templateColor;
				a {
					line-height: 22px;
					padding-left: 0;
					font-size: @baseFontSize - 1px;
					color: @navigationColor;
					&.current,
					&:hover {
						color: @templateColor;
						text-decoration: none;
					}
				}
			}
			&.current {
				margin-right: 1px;
				& > a {
					color: @templateColor;
					background-image: url("@{navCurrentBackground}");
					background-repeat: no-repeat;
					background-position: right 10px;
					margin-right: -22px;
					&:hover {
						color: @templateColor;
						background-color: transparent;
					}
					& + ul {
						display: block;
					}
				}
			}
		}
	}
}

/* Badge for navigation */
.main-navigation {
	.badge {
		float: right;
		padding: 1px 5px 2px;
		margin: 7px 0 0 @baseMargin / 2;
		font-size: @baseFontSize - 1px;
		color: @white;
		background-color: @templateColor;
		cursor: help;
		.border-radius(@baseBorderRadius);
	}
	.current .badge {
		margin: 8px @baseMargin 0 @baseMargin / 2;
	}
}

/* User avatar */
.user-profile {
	margin-bottom: @baseMargin;
	padding: @baseMargin;
	background-color: @navNestedBackground;
	border-top: 1px solid @navLightBorderColor;
	border-bottom: 1px solid @navLightBorderColor;
	.box-shadow(0 0 2px 1px rgba(0,0,0,0.15) inset);
	figure {
		margin: 0;
		.clearfix();
	}
	img {
		border: 1px solid @navImgBorder;
		background-color: @white;
		padding: 4px;
		.box-shadow(0 0 3px rgba(0,0,0,.15));
		.square(50px);
	}
	figcaption {
		float: right;
		margin-left: @baseMargin - 5;
		padding-top: 3px;
		width: 150px;
		strong {
			display: block;
			line-height: @baseFontSize;
			a {
				font-size: @baseFontSize + 1;
				color: @navigationLinkColor;
				&:hover {
					color: @black;
					text-decoration: none;
				}
			}
		}
		em {
			font-size: @baseFontSize - 2;
		}
		ul {
			margin: 2px 0 0;
			padding: 0;
			list-style: none;
			.clearfix();
			& > li {
				float: left;
				display: block;
				& + li {
					margin-left: 4px;
				}
			}
			.btn.btn-flat {
				font-size: @baseFontSize - 2;
				padding: 0 6px;
			}
		}
	}
}

/* Side note */
.side-note {
	color: @navigationColor;
	margin: @baseMargin;
	font-size: @baseFontSize - 1;
	.clearfix();
	p {
		margin: 8px 0;
		line-height: @baseLineHeight + 2;
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul,
	ol {
		margin:0 0 15px 15px;
	}
	h2 {
		margin: 0;
		line-height: normal;
		font-size: @baseFontSize + 2;
		color: @navigationLinkColor;
		text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	}
	img,
	.thumbnail {
		margin: 0 auto @baseMargin / 2;
	}
	.thumbnail img {
		margin: 0;
	}
	&.separator,
	.separator {
		border-top: 3px solid @navDarkBorderColor;
		padding-top: @baseMargin / 2;
	}
	&.separator {
		padding-top: @baseMargin;
	}
	&.nested {
		padding: 15px;
		color: @navigationColor;
		background-color: @navNestedBackground;
		.box-shadow(0 0 3px #ababab inset);
		.border-radius(@baseBorderRadius);
	}
}

/* Data block */
.data-block {
	position: relative;
	margin-bottom: @fluidGridGutterWidth;
	.data-container {
		.clearfix();
		.box-sizing(border-box);
	}
	&.nested {
		padding: @baseMargin;
		color: @dataNestedTextColor;
		background-color: @dataNestedBackgroundColor;
		.box-shadow(0 0 3px #ababab inset);
		.border-radius(@baseBorderRadius);
		header,
		footer {
			border-color: @dataNestedBorderColor;
		}
	}
}

/* Data block header */
.data-block header {
	border-bottom: 3px solid @bodyBackground;
	padding-bottom: @baseMargin / 2 - 3;
	margin-bottom: @baseMargin;
	.clearfix();
	h2 {
		margin: 0;
		color: @headingsColor;
		display: inline-block;
		line-height: normal;
		font-size: @baseFontSize + 9;
		text-shadow: 0 1px 1px rgba(0,0,0,0.25);
		.ie7-inline-block();
	}
}

/* Data block footer */
.data-block footer {
	border-top: 1px solid @bodyBackground;
	margin-top: @baseMargin;
	padding-top: @baseMargin / 2;
	color: @grayLight;
	font-size: @baseFontSize - 1;
	&.info p,
	&.warning p {
		padding-left: 22px;
		background-position: left center;
		background-repeat: no-repeat;
		background-image: url("@{dataBlockFooterInfo}");
	}
	&.warning p {
		background-image: url("@{dataBlockFooterWarning}");
	}
	p {
		line-height: normal;
		margin: 0;
	}
}

/* Data block components */
/* Data block header components */
.data-block header {
	h2 + .btn,
	h2 + .btn-group,
	.data-header-actions {
		float: right;
		margin: 0;
		padding: 0;
		list-style: none;
		.clearfix();
	}
	.data-header-actions > li {
		float: left;
		display: block;
		& + li {
			margin-left: 15px;
		}
		& > a {
			color: @gray;
			text-decoration: none;
			&:hover {
				color: @templateColor;
				text-decoration: none;
			}
			&:focus {
				outline: none;
			}
		}
		.loading {
			display: block;
			margin-top: 4px;
		}
	}
	.data-header-actions.tabs > li,
	.data-header-actions > li.tabs {
		margin-top: 8px;
		& > a {
			padding-bottom: 10px;
		}
		&.active > a {
			color: @templateColor;
			background-position: bottom center;
			background-repeat: no-repeat;
			background-image: url("@{headerTabCaret}");
		}
	}
	.dropdown-menu {
		left: auto;
		right: 0;
		top: 30px;
	}
}
.data-block.nested header .data-header-actions.tabs > li.active > a,
.data-block.nested header .data-header-actions > li.tabs.active > a {
	background-image: url("@{headerTabCaretNested}");
}

/* Data block todo list */
.data-block.todo-block {
	header {
		margin-bottom: 0;
	}
	form {
		margin: 0;
		background-color: transparent;
		border: none;
		.box-shadow(none);
	}
	table {
		margin: 0;
		background-color: transparent;
	}
	table.table tr {
		background-color: transparent;
		&:first-child td {
			border-top: 0;
		}
		&.done {
			.opacity(40);
			p {
				text-decoration: line-through;
			}
			&:hover {
				.opacity(100);
			}
		}
		p {
			margin: 0;
			line-height: normal;
			color: @gray;
			& + span {
				font-size: @baseFontSize - 2;
				color: @grayLight;
			}
		}
		input {
			margin-top: 0;
		}
	}
}

/* Page header */
.page-header {
	margin: 0 0 @baseMargin * 2;
	padding-bottom: 0;
	border-bottom: none;
	h1 {
		margin: 0 0 @baseMargin / 2;
		line-height: normal;
		font-size: @baseFontSize + 17;
		text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	}
	p {
		color: @grayLight;
		font-size: @baseFontSize + 5;
		line-height: @baseLineHeight + 8;
	}
}

/* Hero unit */
.hero-unit {
	margin-bottom: @baseMargin;
	color: @dataNestedTextColor;
	background-color: @dataNestedBackgroundColor;
	.box-shadow(0 0 3px #ababab inset);
	.border-radius(@baseBorderRadius);
	h1 {
		color: @headingsColor;
		text-shadow: 0 1px 1px rgba(0,0,0,0.25);
		letter-spacing: normal;
	}
}

/* Widgets */
.widgets-container {
	margin: -@baseMargin / 2 0 @baseMargin -@baseMargin / 2;
	.clearfix();
}
.widget {
	float: left;
	display: block;
	padding: 5px;
	margin: @baseMargin / 2 0 0 @baseMargin / 2;
	font-size: @baseFontSize - 1;
	border: 1px solid @widgetBorderColor;
	background-color: @widgetBackgroundColor;
	.size(35px, 160px);
	.border-radius(@baseBorderRadius);
	.clearfix();
	a {
		display: block;
	}
	span {
		float: left;
		display: block;
		text-align: center;
		font-size: @baseFontSize * 3;
		line-height: 35px;
		margin-right: @baseMargin / 2;
		.size(35px, 36px);
	}
	p {
		float: left;
		margin: 0;
		color: @navigationColor;
	}
	strong {
		font-size: @baseFontSize + 7;
		display: block;
		sup {
			top: -0.2em;
		}
	}
	&.text-only p {
		padding-left:5px;
	}
	&.add-new-widget {
		border-style: dashed;
		background-color: @addWidgetBackgroundColor;
		strong {
			line-height: 35px;
			[class^="awe-"], [class*=" awe-"] {
				line-height: 42px;
				margin: 0 5px 0 8px;
			}
		}
		a {
			color: @addWidgetColor;
			&:hover {
				color: @templateColor;
				text-decoration: none;
			}
		}
	}
	&.increase span,
	&.decrease span {
		.hide-text();
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	&.increase {
		p strong {
			color: @green;
		}
		span {
			background-image: url("@{widgetIncreasePath}");
		}
	}
	&.decrease {
		p strong {
			color: @red;
		}
		span {
			background-image: url("@{widgetDecreasePath}");
		}
	}
	.close {
		position: relative;
		top: -4px;
		right: 0;
	}
}

/* Breadcrumb */
.breadcrumb {
	.reset-filter();
	padding: 0;
	background: none;
	border: none;
	display: block;
	width: 100%;
	margin-bottom: @baseMargin * 1.5;
	font-size: @baseFontSize;
	.border-radius(0);
	.box-shadow(none);
	a {
		color: @grayLight;
		text-shadow: none;
		&:hover {
			color: @linkColor;
			text-decoration: none;
		}
	}
	.active {
		color: @grayLight;
	}
	li {
		background-image: url("@{breadcrumbDivider}");
		background-position: center right;
		background-repeat: no-repeat;
		padding-right: 10px;
		& + li {
			margin-left: 3px;
		}
		&:last-child {
			background: none;
			padding: 0;
		}
		&:first-child .awe-home {
			font-size: @baseFontSize + 2;
		}
	}
}
.widgets-container + .breadcrumb {
	margin-top: -@baseMargin / 2;
}

/* Alerts */
.alert {
	h4 {
		color: @warningText;
		margin: 0;
	}
	&.alert-white {
		background-color: @white;
		border-color: @bodyBackground;
		color: @grayLight;
		h4 {
			color: @grayLight;
		}
	}
	&.alert-inverse {
		background-color: @templateDark;
		border-color: #000;
		color: @white;
		text-shadow: none;
		h4,
		.close {
			color: @white;
		}
	}
	&.alert-success,
	&.alert-success h4 {
		color: @successText;
	}
	&.alert-danger,
	&.alert-error,
	&.alert-danger h4,
	&.alert-error h4 {
		color: @errorText;
	}
	&.alert-info,
	&.alert-info h4 {
		color: @infoText;
	}
}

/* Progress bars */
.progress {
	height: 26px;
	.reset-filter();
	position: relative;
	overflow: visible;
	margin-bottom: @baseMargin;
	background-image: none;
	background-color: @bodyBackground;
	border: 1px solid darken(@bodyBackground, 2%);
	.border-radius(@baseBorderRadius);
	.box-shadow(none);
	.bar {
		height: 28px;
		position: absolute;
		top: -1px;
		left: -1px;
		.reset-filter();
		background-image: none;
		background-color: @templateColor;
		border: 1px solid @templateColor;
		font-size: @baseFontSize + 2;
		line-height: 26px;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
		.border-radius(@baseBorderRadius);
		.box-shadow(0 0 3px rgba(0,0,0,0.35));
	}
}
.progress-striped .bar {
	.background-size(30px 30px);
}
.progress-danger .bar, .progress .bar-danger {
	background-color: @red;
	border-color: @red;
}
.progress-danger.progress-striped .bar, .progress-striped .bar-danger {
	#gradient > .striped(@red);
}
.progress-success .bar, .progress .bar-success {
	background-color: @green;
	border-color: @green;
}
.progress-success.progress-striped .bar, .progress-striped .bar-success {
	#gradient > .striped(@green);
}
.progress-info .bar, .progress .bar-info {
	background-color: @blue;
	border-color: @blue;
}
.progress-info.progress-striped .bar, .progress-striped .bar-info {
	#gradient > .striped(@blue);
}
.progress-warning .bar, .progress .bar-warning {
	background-color: @orange;
	border-color: @orange;
}
.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
	#gradient > .striped(@orange);
}
.progress-inverse .bar {
	background-color: @templateDark;
	border-color: @templateDark;
}
.progress-inverse.progress-striped .bar {
	#gradient > .striped(@templateDark);
}

/* Code */
code {
	color: @red;
}
pre {
	.box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
	&:last-child {
		margin-bottom: 0;
	}
}
.nested {
	code,
	pre {
		border: 1px solid @dataNestedBorderColor;
	}
}

/* Loading */
.loading {
	display: inline-block;
	background-image: url("@{templateLoading}");
	background-repeat: no-repeat;
	background-position: center;
	.hide-text();
	.square(24px);
	&.dark {
		background-image: url("@{chromatronDarkLoading}");
	}
	&.red {
		background-image: url("@{chromatronRedLoading}");
	}
	&.green {
		background-image: url("@{chromatronGreenLoading}");
	}
	&.blue {
		background-image: url("@{chromatronBlueLoading}");
	}
}
.nested .loading {
	background-image: url("@{templateNestedLoading}");
	&.dark {
		background-image: url("@{chromatronDarkNestedLoading}");
	}
	&.red {
		background-image: url("@{chromatronRedNestedLoading}");
	}
	&.green {
		background-image: url("@{chromatronGreenNestedLoading}");
	}
	&.blue {
		background-image: url("@{chromatronBlueNestedLoading}");
	}
}

/* Pagination */
.pagination {
	height: auto;
	ul {
		margin: -5px 0 0;
		.box-shadow(none);
		.border-radius(@baseBorderRadius);
		.clearfix();
		li {
			display: block;
			float: left;
			margin: 5px -1px 0 0;
			&:first-child a {
				.border-radius(@baseBorderRadius);
			}
			&:last-child a {
				.border-radius(@baseBorderRadius);
			}
			a {
				border-width: 1px;
				.chromaButtonBackground(@white, @bodyBackground, @gray);
				border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
				text-shadow: 0 1px 2px rgba(0,0,0,0.3);
				.box-shadow(0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(255, 255, 255, 0.3) inset);
				line-height: 24px;
				padding: 0 10px;
				.border-radius(@baseBorderRadius);
			}
			&.active {
				margin: 5px 0 0 1px;
			}
			&.active a,
			&.active a:hover {
				background-color: lighten(desaturate(@templateColor, 10%), 15%);
				.buttonBackground(lighten(desaturate(@templateColor, 10%), 15%), @templateColor, @white, 0 1px 2px rgba(0,0,0,0.5));
				border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
				.box-shadow(0 1px 2px @grayLight, 0 1px 2px rgba(255, 255, 255, 0.3) inset);
			}
			&.disabled > span,
			&.disabled a,
			&.disabled a:hover {
				background-color: @white;
				.buttonBackground(@white, @bodyBackground, @gray, 0 1px 2px rgba(0,0,0,0.3));
				border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
				.box-shadow(0 1px 2px rgba(0, 0, 0, 0.08));
				.opacity(50);
			}
		}
	}
}
.pager {
	.disabled a,
	.disabled a:hover {
		background-color: @white;
		.buttonBackground(@white, @bodyBackground, @gray, 0 1px 2px rgba(0,0,0,0.3));
		border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
		.box-shadow(0 1px 2px rgba(0, 0, 0, 0.08));
		.opacity(50);
	}
	a {
		padding: 4px 14px;
		.chromaButtonBackground(@white, @bodyBackground, @gray);
		border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
		text-shadow: 0 1px 2px rgba(0,0,0,0.3);
		.box-shadow(0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(255, 255, 255, 0.3) inset);
	}
}

/* Tables */
.table {
	background-color: @tableBackground;
	border-top: 1px solid @tableBorder;
	border-bottom: 1px solid @tableBorder;
	margin-bottom: @baseMargin;
	.btn-group {
		float: right;
		margin: 0;
	}
	th {
		text-align: center;
	}
	td,
	th {
		&.toolbar {
			text-align: right;
			padding: 4px;
			.btn-flat {
				padding: 4px 8px;
			}
			& > a span {
				margin-top: 4px;
			}
		}
	}
}
.nested {
	table {
		background-color: transparent;
		&.table {
			border-color: @dataNestedBorderColor;
			th {
				color: @dataNestedTextColor;
			}
			tbody tr {
				background-color: darken(@white, 7%);
			}
			th,
			td {
				border-color: @dataNestedBorderColor;
			}
		}
		&.table-striped {
			tbody {
				tr:nth-child(odd) td,
				tr:nth-child(odd) th {
					background-color: darken(@white, 13%);
				}
			}
		}
	}
}
.table-bordered {
	border-color: @tableBorder;
	th,
	td {
		border-color: @tableBorder;
	}
}
.table-hover {
	tbody {
		tr:hover td,
		tr:hover th {
			background-color: @tableBackgroundHover;
		}
	}
}

/* Form gallery */
.form-gallery {
	background: none;
	border: none;
	.border-radius(none);
	.box-shadow(none);
	li input[type="checkbox"] {
		margin: 0;
		position: absolute;
		top: 10px;
		left: 10px;
	}
	.thumbnails .thumbnail {
		background-color: @white;
		&.active {
			border-color: @templateColor;
			background-color: lighten(@templateColor, 10%);
		}
	}
	.form-actions {
		padding: 0;
		margin: 0;
		border: none;
		background: none;
		[class*="span"] {
			margin-bottom: 0;
		}
	}
}

/* Gallery */
.data-block .thumbnails {
	margin: 0;
	.thumbnail {
		background-color: @white;
		.box-shadow(none);
	}
	&.raw {
		.thumbnail {
			border: none;
			padding: 0;
			.box-shadow(0 0 3px rgba(0,0,0,0.2));
		}
	}
}
.thumbnails {
	& > li {
		position: relative;
		&:only-of-type {
			float: none;
			margin: 0 auto;
		}
		.thumbnail-actions {
			margin: 0;
			display: block;
			position: absolute;
			list-style: none;
			bottom: 20px;
			right: 10px;
			color: @white;
			background-color: @black;
			.border-radius(@baseBorderRadius);
			.clearfix();
			.opacity(0);
			li {
				float: left;
				padding: 2px 5px;
				& + li {
					border-left: 1px solid lighten(@black, 15%);
				}
				a {
					line-height: normal;
					display: block;
					color: @white;
					.opacity(80);
					&:hover {
						.opacity(100);
						text-decoration: none;
					}
				}
			}
		}
		&:hover .thumbnail-actions {
			.opacity(85);
		}
	}
	.thumbnail {
		margin-bottom: 0;
	}
}
.thumbnail {
	border-color: @navImgBorder;
	background-color: @white;
	.box-shadow(0 0 3px rgba(0,0,0,.15));
	.border-radius(0);
	&:only-of-type {
		margin-bottom: @baseMargin / 2;
	}
}

/* Forms */
form {
	margin-bottom: @baseMargin;
	background: none;
	.border-radius(@baseBorderRadius);
	&:only-of-type {
		margin: 0;
	}
}
legend {
	padding: 0 @baseMargin / 2;
	margin: 0;
	border: none;
	width: auto;
	color: @headingsColor;
}
legend + .control-group {
	margin-top: 0;
}
fieldset {
	background: none;
	padding: @baseMargin;
	border: 1px solid @bodyBackground;
	.border-radius(@baseBorderRadius);
}
.form-actions {
	margin-bottom: 0;
	padding: 0;
	background: none;
	border: none;
}
label {
	font-weight: bold;
	color: @headingsColor;
	&.radio,
	&.checkbox {
		font-weight: normal;
		color: @textColor;
	}
}
input[type="radio"],
input[type="checkbox"] {
	margin-top: 3px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	.box-shadow(inset 0 0 4px @navNestedBackground);
	&:focus {
		border-color: darken(@inputBorder, 5%);
		.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,0.2)");
	}
}
.input-append,
.input-prepend {
	.add-on,
	.btn {
		vertical-align: middle;
	}
}
.control-group:last-child {
	margin-bottom: 0;
}
.row-fluid form [class*="span"] {
	min-height: 28px;
}
.nested {
	fieldset {
		border-color: @dataNestedBorderColor;
	}
	label {
		color: @headingsColor;
		&.radio,
		&.checkbox {
			color: @dataNestedTextColor;
		}
	}
}
.ie8 {
	.row-fluid form [class*="span"] {
		min-height: 18px;
	}
}
.ie9 {
	input[type="radio"],
	input[type="checkbox"] {
		margin-top: 0;
	}
}

/* Tabs */
.tab-content {
	overflow: visible;
}
.tabbable .tab-content {
	overflow: auto;
}
.nav-tabs {
	border: none;
	& > li {
		margin-bottom: 0;
		& > a {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.tab-note {
	width: 110px;
	margin-top: @baseMargin / 2;
	font-size: @baseFontSize - 3;
	color: @grayLight;
	p {
		margin: 0;
		line-height: normal;
		& + p {
			margin-top: @baseMargin / 2;
		}
	}
}
.tabs-left {
	.tab-content {
		padding-left: @baseMargin;
		border-left: 1px solid @bodyBackground;
	}
	.tab-note {
		clear: left;
		float: left;
	}
	& > .nav-tabs {
		border: none;
		margin: 0;
		.active > a,
		.active > a:hover {
			border: none;
			color: @templateColor;
			border-top: 1px solid @bodyBackground;
			border-bottom: 1px solid @bodyBackground;
		}
		& > li > a {
			min-width: 120px;
			color: @gray;
			.border-radius(0);
			&:hover {
				border-color: @white @bodyBackground @white @white;
				background-color: @white;
				color: @templateColor;
			}
		}
	}
}
.tabs-right {
	.tab-content {
		padding-right: @baseMargin;
		border-right: 1px solid @bodyBackground;
	}
	.tab-note {
		clear: right;
		float: right;
	}
	& > .nav-tabs {
		border: none;
		margin: 0;
		.active > a,
		.active > a:hover {
			border: none;
			color: @templateColor;
			border-top: 1px solid @bodyBackground;
			border-bottom: 1px solid @bodyBackground;
		}
		& > li > a {
			min-width: 120px;
			color: @gray;
			.border-radius(0);
			&:hover {
				border-color: @white @white @white @bodyBackground;
				background-color: @white;
				color: @templateColor;
			}
		}
	}
}

/* Buttons */
.btn.btn-flat {
	padding: 3px 12px;
	.transition(all 400ms ease);
	.flatButtonBackground(darken(@btnBackground, 15%), @textColor);
	&.btn-primary {
		.flatButtonBackground(@btnPrimaryBackground, @white);
	}
	&.btn-warning {
		.flatButtonBackground(@btnWarningBackground, @white);
	}
	&.btn-danger {
		.flatButtonBackground(@btnDangerBackground, @white);
	}
	&.btn-success {
		.flatButtonBackground(@btnSuccessBackground, @white);
	}
	&.btn-info {
		.flatButtonBackground(@btnInfoBackground, @white);
	}
	&.btn-inverse {
		.flatButtonBackground(@btnInverseBackground, @white);
	}
	&.btn-large {
		padding: 6px 14px;
	}
	&.btn-small {
		padding: 3px 9px;
	}
	&.btn-mini {
		padding: 2px 6px;
	}
}
.btn.disabled,
.btn[disabled] {
	cursor: default;
	background-color: darken(@white, 10%);
	background-image: none;
	.opacity(65);
	.box-shadow(none);
}

.btn.btn-alt {
	.border-radius(@baseBorderRadius);
	.chromaButtonBackground(@white, @bodyBackground, @gray);
	border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
	text-shadow: 0 1px 2px rgba(0,0,0,0.3);
	.box-shadow(0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(255, 255, 255, 0.3) inset);
	&.btn-primary {
		.chromaButtonBackground(lighten(desaturate(@templateColor, 10%), 15%), @templateColor, @white);
	}
	&.btn-warning {
		.chromaButtonBackground(lighten(desaturate(@chromatronOrange, 10%), 15%), @chromatronOrange, @white);
	}
	&.btn-danger {
		.chromaButtonBackground(lighten(desaturate(@chromatronRed, 10%), 15%), @chromatronRed, @white);
	}
	&.btn-success {
		.chromaButtonBackground(lighten(desaturate(@chromatronGreen, 10%), 15%), @chromatronGreen, @white);
	}
	&.btn-info {
		.chromaButtonBackground(lighten(desaturate(@chromatronBlue, 10%), 15%), @chromatronBlue, @white);
	}
	&.btn-inverse {
		.chromaButtonBackground(lighten(desaturate(@templateDark, 10%), 15%), @templateDark, @white);
	}
}

/* Accordion */
.accordion {
	border-bottom: 1px solid @bodyBackground;
	.accordion-group {
		border: none;
		border-top: 1px solid @bodyBackground;
		margin: 0;
		.border-radius(0);
	}
	.accordion-toggle {
		font-weight: bold;
		font-size: @baseFontSize + 3;
		color: @headingsColor;
		padding: @baseMargin / 2 0;
		.clearfix();
		&:hover {
			color: @templateColor;
			text-decoration: none;
			.caret {
				border-top: 5px solid @templateColor;
			}
		}
		.caret {
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid @grayLight;
			float: right;
			margin: 7px 10px 0;
		}
	}
	.accordion-inner {
		padding: @baseMargin / 2 0 @baseMargin;
		border: none;
	}
}
.nested section .accordion {
	border-bottom: 1px solid @dataNestedBorderColor;
	.accordion-group {
		border-top: 1px solid @dataNestedBorderColor;
	}
}

/* Statistics */
.stats {
	margin: 0 0 @baseMargin;
	padding: 0;
	list-style: none;
	&:only-of-type {
		margin: 0;
	}
	li {
		display: block;
		padding: 5px;
		margin-bottom: @baseMargin / 2;
		height: 33px;
		border: 1px solid darken(@bodyBackground, 5%);
		line-height: normal;
		background-color: @bodyBackground;
		.border-radius(@baseBorderRadius);
		.clearfix();
	}
	.stats-view {
		float: right;
		margin: 3px 1px 0 0;
	}
	.stats-count {
		float: left;
		display: block;
		min-width: 70px;
		text-align: right;
		line-height: 33px;
		font-size: @baseFontSize * 2;
		padding-right: @baseMargin / 2;
		color: @headingsColor;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	}
	p {
		float: left;
		margin: 0;
		line-height: 33px;
		color: @grayLight;
	}
}
.nested .stats li {
	background-color: @white;
}

/* Entry log */
.entry {
	border: 1px solid darken(@bodyBackground, 5%);
	padding: @baseMargin / 2;
	background-color: @bodyBackground;
	.border-radius(@baseBorderRadius);
	& + .entry {
		margin-top: @baseMargin / 2;
	}
	.entry-header {
		margin: 0;
		line-height: normal;
		font-size: @baseFontSize + 5;
		.clearfix();
		time,
		.entry-timestamp {
			margin-top: 5px;
			font-size: @baseFontSize - 1;
			font-weight: normal;
			float: right;
			color: @gray;
			.opacity(75);
		}
		[class^="fam-"],
		[class*=" fam-"] {
			margin-top: 4px;
		}
	}
	.entry-content {
		margin: 0 0 @baseMargin / 4;
	}
	.entry-details {
		margin: 0;
		font-style: italic;
		font-size: @baseFontSize - 1;
		.opacity(75);
	}
	time,
	.entry-timestamp {
		color: @gray;
	}
}
.nested .entry {
	background-color: @white;
}

/* Tickets */
.tickets {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		margin: 0;
		display: block;
		border-bottom: 1px solid darken(@bodyBackground, 5%);
		.square(100%);
		li {
			float: left;
			width: 15%;
			border: none;
			text-align: center;
		}
		.ticket-header-activity,
		.ticket-data-activity {
			width: 40%;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		.clearfix();
	}
	.ticket-header {
		width: 100%;
		padding-bottom: @baseMargin / 2;
		li {
			font-weight: bold;
		}
	}
	.ticket-data {
		min-height: 45px;
		padding: @baseMargin / 4 0;
		background-color: @bodyBackground;
		&:nth-child(odd) {
			background-color: lighten(@bodyBackground, 6%);
		}
		.ticket-data-label,
		.ticket-data-priority,
		.ticket-data-age {
			line-height: 45px;
		}
		.ticket-data-label {
			color: @grayLight;
		}
		.ticket-data-activity {
			text-align: left;
			a {
				display: block;
			}
			p {
				margin: 0;
			}
		}
		.ticket-data-user {
			strong {
				display: block;
			}
		}
		.label {
			width: 60px;
			display: inline-block;
			margin: 0 auto;
			text-align: center;
		}
	}
	.ticket-details {
		&.in {
			margin: @baseMargin / 4 @baseMargin 0;
			padding: @baseMargin / 2 0 @baseMargin - @baseMargin / 4;
			border-top: 1px dotted darken(@bodyBackground, 10%);
		}
		h4 {
			color: @templateColor;
			margin: 0 0 @baseMargin / 2;
			font-size: @baseFontSize + 4;
		}
		h5 {
			margin: 0 0 @baseMargin / 2;
			font-size: @baseFontSize;
		}
		dl {
			border: 1px solid darken(@bodyBackground, 12%);
			background-color: darken(@bodyBackground, 8%);
			margin-top: 0;
			padding: @baseMargin / 2 @baseMargin / 2 @baseMargin / 4;
			.border-radius(@baseBorderRadius);
			.clearfix();
		}
		dt,
		dd {
			margin: 0 0 @baseMargin / 4;
			float: left;
			width: 19%;
			font-weight: normal;
		}
		dd {
			width: 13%;
			margin-right: 2%;
			font-weight: bold;
			&:nth-child(3n+3) {
				margin-right: 0;
			}
		}
		p {
			margin: 0 0 @baseMargin;
		}
	}
	.ticket-data:nth-child(odd) .ticket-details dl {
		border: 1px solid darken(@bodyBackground, 7%);
		background-color: darken(@bodyBackground, 3%);
	}
}
.no-js .ticket-data {
	display: block;
	margin: @baseMargin / 4 @baseMargin 0;
	padding: @baseMargin / 2 0 @baseMargin - @baseMargin / 4;
	border-top: 1px dotted darken(@bodyBackground, 10%);
}
.nested .tickets {
	li {
		border-color: @dataNestedBorderColor;
	}
	.ticket-data {
		background-color: lighten(@bodyBackground, 3%);
		&:nth-child(odd) {
			background-color: lighten(@bodyBackground, 6%);
		}
	}
}

/* Wizard */
.wizard {
	margin: 0;
	padding: 0;
	.wizard-steps {
		margin: 0 0 @baseMargin;
		padding: 0;
		list-style-type: decimal;
		height: 35px;
		border-bottom: 3px solid @bodyBackground;
		li {
			display: inline-block;
			font-size: @baseFontSize + 2;
			height: 100%;
			padding: 0 @baseMargin - 5;
			a {
				color: @textColor;
				display: block;
				padding-bottom: @baseMargin + 5;
				position: relative;
				text-decoration: none;
				background-position: center 27px;
				background-repeat: no-repeat;
				background-image: url("@{wizardCaretPath}");
				&:hover,
				&.active,
				&.done {
					color: @templateColor;
					background-position: center -92px;
				}
			}
		}
	}
	.wizard-content {
		.clearfix();
		.btn {
			margin-bottom: 2px;
		}
	}
}
.nested .wizard {
	.wizard-steps {
		border-color: @dataNestedBorderColor;
	}
	.wizard-steps li a {
		background-image: url("@{wizardCaretNestedPath}");
	}
}

/* Plugins */
/* jQuery Visualize */
.visualize {
	margin: 50px  auto 30px;
	margin-bottom: 30px !important;
	background-color: transparent;
	border: none;
	&.visualize-pie {
		margin-bottom: 0 !important;
	}
	.visualize-info {
		border: none;
		padding: 0;
		font-size: @baseFontSize - 1;
		right: auto;
		left: -10px;
		top: -48px;
		background-color: transparent;
		.opacity(100);
	}
	.visualize-title {
		font-weight: bold;
		margin-bottom: 0;
		color: @headingsColor;
	}
}
p + table + .visualize {
	margin-top: 70px;
}
.visualize .label {
	padding: 0;
	background-color: transparent;
	font-size: @baseFontSize - 2;
	font-weight: normal;
	line-height: 14px;
	text-shadow: none;
	color: @grayLight;
	.border-radius(none);
}
.content .page-container [class*="span"] .visualize {
	margin: @baseMargin 0 @baseMargin auto;
}
.ie8 .visualize-interaction-tracker {
	margin-top:0 !important;
}

/* jQuery Flot */
.flot {
	margin: 10xp auto;
	min-height: 280px;
	.legend {
		padding: 0 2px;
	}
}

/* jQuery plupload */
.plupload {
	.plupload_wrapper {
		font-family: @baseFontFamily;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
	}
	.plupload_container,
	.plupload_filelist_header,
	.plupload_filelist_footer {
		padding: 0;
		background: none;
	}
	.plupload_filelist_header,
	.plupload_filelist_footer {
		color: @headingsColor;
		font-weight: bold;
		padding: @baseMargin / 2 0;
		font-size: @baseFontSize + 2;
		border: none;
		border-color: transparent;
	}
	.plupload_filelist_footer {
		height: auto;
		.plupload_buttons .btn + .btn {
			margin-left: 5px;
		}
	}
	.plupload_file_status,
	.plupload_file_status span {
		color: @headingsColor;
	}
	.plupload_file_name {
		padding: 0;
	}
	.plupload_scroll {
		overflow: visible;
		height: auto;
		width: auto;
	}
	.plupload_filelist {
		margin: 0;
		background-color: @dataNestedBackgroundColor;
		.box-shadow(0 0 3px #ababab inset);
		.border-radius(@baseBorderRadius);
		.plupload_file_name {
			width: 40%;
		}
	}
	.plupload_droptext {
		margin-top: 70px;
		color: @dataNestedTextColor;
	}
}
.no-boxshadow {
	.plupload_filelist_header,
	.plupload_filelist_footer {
		border-color: @dataNestedBorderColor;
	}
}

/* jQuery FullCalendar */
.fullcalendar {
	table,
	table.table {
		background-color: transparent;
	}
	.fc-header {
		margin-bottom: @baseMargin / 2;
		h2 {
			margin: 0;
		}
	}
	.fc-content {
		background-color: lighten(@bodyBackground, 5%);
	}
	.fc-widget-header,
	.fc-widget-content {
		border-color: @dataNestedBorderColor;
	}
	.fc-state-highlight {
		background-color: @white;
		.box-shadow(0 0 3px #ccc);
	}
	.fc-grid th {
		font-size: @baseFontSize + 3;
		padding: 5px 0;
	}
	
	.fc-button.fc-state-default {
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 0;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		position: relative;
		.border-radius(0);
		.chromaButtonBackground(@white, @bodyBackground, @gray);
		border: 1px solid;
		border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
		text-shadow: 0 1px 2px rgba(0,0,0,0.3);
		.box-shadow(0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(255, 255, 255, 0.3) inset);
	}
	.fc-button.fc-state-active {
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 0;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		position: relative;
		outline: 0;
		.border-radius(0);
		.chromaButtonBackground(@white, @bodyBackground, @gray);
		border: 1px solid;
		border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
		text-shadow: 0 1px 2px rgba(0,0,0,0.3);
		.box-shadow(0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(255, 255, 255, 0.3) inset);
	}
	.fc-button.fc-state-disabled {
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 0;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		text-align: center;
		vertical-align: middle;
		position: relative;
		cursor: default;
		.border-radius(0);
		.opacity(35);
		.box-shadow(none);
		color: @gray;
		border: 1px solid;
		border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
		text-shadow: 0 1px 2px rgba(0,0,0,0.3);
		.box-shadow(0 1px 2px rgba(0, 0, 0, 0.08));
		background-image: none;
		background-color: darken(@white, 10%);
	}
	.fc-button.fc-state-disabled:active {
		.box-shadow(none);
	}
	.fc-button.fc-corner-left {
		margin-left: 0;
		.border-left-radius(@baseBorderRadius);
	}
	.fc-button.fc-corner-right {
		.border-right-radius(@baseBorderRadius);
	}
	.fc-state-default,
	.fc-state-default .fc-button-inner {
		color: @gray;
	}
	.fc-state-active .fc-button-inner {
		color: @gray;
	}
	.fc-state-default .fc-button-inner {
		background: transparent;
		border-width: 0;
	}
	.fc-button-content {
		line-height: @baseLineHeight;
		height: @baseLineHeight;
		padding: 0;
	}
	.fc-state-default .fc-button-effect span {
		display: none;
	}
	.fc-state-default,
	.fc-state-default .fc-button-inner {
		color: ;
	}
	.fc-state-active .fc-button-inner {
		color: ;
	}
	.fc-button-content [class^="awe-"],
	.fc-button-content [class*=" awe-"] {
		font-size: @baseFontSize + 2;
	}
}

/* jQuery FullCalendar event style */
.fullcalendar {
	.fc-event {
		.border-radius(@baseBorderRadius);
	}
	a.fc-event:hover {
		text-decoration: none;
	}
	.fc-event-skin {
		border: none;
		.buttonBackground(lighten(desaturate(@templateColor, 10%), 15%), @templateColor, @white, 0 1px 2px rgba(0,0,0,0.4));
		.box-shadow(0 1px 2px rgba(0,0,0,0.2), 0 1px 2px rgba(255,255,255,0.1) inset);
		.border-radius(@baseBorderRadius);
		& > span:first-child {
			margin-left: 3px;
		}
	}
}

/* jQuery Snippet */
.snippet-container {
	pre,
	.snippet-wrap {
		.snippet-num {
			margin: 0;
		}
		pre.sh_sourceCode {
			margin: 0;
			border: 1px solid rgba(0,0,0,.15);
			.box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
			.border-radius(@baseBorderRadius);
		}
	}
	.snippet-menu pre {
		border: none;
	}
}
.no-boxshadow pre.sh_sourceCode {
	border: 1px solid #ccc;
}

/* jQuery Tags Input */
div.tagsinput {
	padding: 0;
	margin: -5px 0 0;
	width: auto !important;
	height: auto !important;
	color: @gray;
	background-color: transparent;
	border: none;
	.transition('border linear .2s, box-shadow linear .2s');
	&.focused {
		outline: 0;
		border-color: rgba(0,0,0,.3);
		.box-shadow(~'inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(0,0,0,.3)');
	}
	span.tag {
		text-shadow: none;
		line-height: normal;
		padding: 4px;
		margin: 5px 5px 0 0;
		.border-radius(@baseBorderRadius);
		background: @templateColor;
		border-color: @templateColor;
		color: @white;
		a {
			color: @white;
			.opacity(50);
			&:hover {
				.opacity(100);
			}
		}
	}
	input {
		margin: 5px 0 0;
	}
}

/* jQuery jWYSIWYG */
div.wysiwyg {
	background: none;
	width: auto !important;
	border: none;
	.toolbar-container {
		padding: 5px;
	}
	iframe {
		margin-top: @baseMargin / 2;
		background-color: @inputBackground;
		width: 100% !important;
		min-height: 250px;
		border: 1px solid @inputBorder;
		.border-radius(@inputBorderRadius);
		.box-shadow(inset 0 0 4px @navNestedBackground);
	}
}
div.wysiwyg ul.toolbar {
	margin-bottom: 0;
	border: none;
	li {
		background-image: url("@{jwysiwygIcons}");
	}
}

/* jQuery DataTables */
.dataTables_wrapper {
	& > .row:first-child,
	& > .row-fluid:first-child {
		margin-bottom: @baseMargin / 2;
	}
	.row [class*="span"],
	.row-fluid [class*="span"] {
		margin-bottom: 0;
	}
	table.table {
		clear: both;
		margin-bottom: @baseMargin / 2;
	}
	div.dataTables_length {
		label {
			float: left;
			text-align: left;
		}
		select {
			width: 75px;
		}
	}
	div.dataTables_filter label {
		float: right;
	}
	.dataTables_paginate {
		margin: 0;
		float: right;
	}
	table thead .sorting,
	table thead .sorting_asc,
	table thead .sorting_desc,
	table thead .sorting_asc_disabled,
	table thead .sorting_desc_disabled {
		cursor: pointer;
		*cursor: hand;
	}
	table.table thead .sorting {
		background-image: url("@{datatablesSortBothImg}");
	}
	table.table thead .sorting_asc {
		background-image: url("@{datatablesSortAscImg}");
	}
	table.table thead .sorting_desc {
		background-image: url("@{datatablesSortDescImg}");
	}
	table.table thead .sorting_asc_disabled {
		background-image: url("@{datatablesSortAscDisabledImg}");
	}
	table.table thead .sorting_desc_disabled {
		background-image: url("@{datatablesSortDescDisabledImg}");
	}
	table.table thead .sorting,
	table.table thead .sorting_asc,
	table.table thead .sorting_desc,
	table.table thead .sorting_asc_disabled,
	table.table thead .sorting_desc_disabled {
		background-position: center right;
		background-repeat: no-repeat;
	}
	table.dataTable th:active {
		outline: none;
	}
}

/* jQuery DataTable filter */
.datatable-controls li {
	padding: 3px 15px;
}

/* jQuery jGrowl */
div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
	color: @white;
	background-color: @headingsColor;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	.box-shadow(0 0 2px rgba(0,0,0,0.5));
	.border-radius(@baseBorderRadius);
	.opacity(90);
}
div.jGrowl div.jGrowl-closer {
	.opacity(35);
	.box-shadow(none);
	&:hover {
		.opacity(90);
		.box-shadow(0 0 2px rgba(0,0,0,0.5));
	}
}
div.jGrowl div {
	&.chromatron {
		background-color: @bodyBackground;
		color: @textColor;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		.box-shadow(0 0 3px #ababab inset, 0 0 15px 10px @white);
		.opacity(100);
		a {
			color: @templateColor;
			&:hover {
				color: @templateColor;
				text-decoration: underline;
			}
		}
	}
	&.primary {
		background-color: @templateColor;
		color: @white;
		a {
			color: @white;
			border-bottom: 1px dotted;
			&:hover {
				color: @white;
				border-bottom: 1px solid;
				text-decoration: none;
			}
		}
	}
	&.danger {
		background-color: @chromatronRed;
		color: @white;
		a {
			color: @white;
			border-bottom: 1px dotted;
			&:hover {
				color: @white;
				border-bottom: 1px solid;
				text-decoration: none;
			}
		}
	}
	&.info {
		background-color: @chromatronBlue;
		color: @white;
		a {
			color: @white;
			border-bottom: 1px dotted;
			&:hover {
				color: @white;
				border-bottom: 1px solid;
				text-decoration: none;
			}
		}
	}
	&.success {
		background-color: @chromatronGreen;
		color: @white;
		a {
			color: @white;
			border-bottom: 1px dotted;
			&:hover {
				color: @white;
				border-bottom: 1px solid;
				text-decoration: none;
			}
		}
	}
	&.warning {
		background-color: @chromatronOrange;
		color: @white;
		a {
			color: @white;
			border-bottom: 1px dotted;
			&:hover {
				color: @white;
				border-bottom: 1px solid;
				text-decoration: none;
			}
		}
	}
	&.inverse {
		background-color: @templateDark;
		color: @white;
		a {
			color: @white;
			border-bottom: 1px dotted;
			&:hover {
				color: @white;
				border-bottom: 1px solid;
				text-decoration: none;
			}
		}
	}
}

/* Bootstrap wysihtml5 */
.wysihtml5 {
	width: 99% !important;
}
ul.wysihtml5-toolbar {
	margin-bottom: 0;
}
.wysihtml5-sandbox {
	margin-bottom: 0 !important;
}

/* Color picker */
.colorpicker-saturation {
	width: 100px;
	height: 100px;
	background-image: url("@{cpSaturation}");
	cursor: crosshair;
	float: left;
	i {
		display: block;
		height: 5px;
		width: 5px;
		border: 1px solid #000;
		.border-radius(@baseBorderRadius);
		position: absolute;
		top: 0;
		left: 0;
		margin: -4px 0 0 -4px;
		b{
			display: block;
			height: 5px;
			width: 5px;
			border: 1px solid #fff;
			.border-radius(@baseBorderRadius);
		}
	}
}
.colorpicker-hue,
.colorpicker-alpha {
	width: 15px;
	height: 100px;
	float: left;
	cursor: row-resize;
	margin-left: 4px;
	margin-bottom: 4px;
	i {
		display: block;
		height: 1px;
		background: #000;
		border-top: 1px solid #fff;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin-top: -1px;
	}
}
.colorpicker-hue {
	background-image: url("@{cpHue}");
}
.colorpicker-alpha {
	background-image: url("@{cpAlpha}");
	display:none;
}
.colorpicker {
	.clearfix();
	top: 0;
	left: 0;
	padding: 4px;
	min-width: 120px;
	div {
		position: relative;
	}
	&.alpha {
		min-width: 140px;
		.colorpicker-alpha {
			display: block;
		}
	}
}
.colorpicker-color {
	height: 10px;
	margin-top: 5px;
	clear: both;
	background-image: url("@{cpAlpha}");
	background-position: 0 100%;
	div {
		height: 10px;
	}
}
.input-append,
.input-prepend {
	&.color {
		.add-on i {
			display: block;
			cursor: pointer;
			width: 16px;
			height: 16px;
		}
	}
}
.colorpicker-preview {
	display: block;
	.square(18px);
}

/* Date picker */
.datepicker {
	top: 0;
	left: 0;
	padding: 4px;
	.border-radius(4px);
	&:before {
		content: '';
		display: inline-block;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #ccc;
		border-bottom-color: rgba(0,0,0,.2);
		position: absolute;
		top: -7px;
		left: 6px;
	}
	&:after {
		content: '';
		display: inline-block;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid @white;
		position: absolute;
		top: -6px;
		left: 7px;
	}
	& > div {
		display: none;
	}
	&.days div.datepicker-days {
		display: block;
	}
	&.months div.datepicker-months {
		display: block;
	}
	&.years div.datepicker-years {
		display: block;
	}
	table{
		width: 100%;
		margin: 0;
	}
	td,
	th{
		text-align: center;
		width: 20px;
		height: 20px;
		.border-radius(4px);
	}
	td {
		&.day:hover {
			background: @grayLighter;
			cursor: pointer;
		}
		&.old,
		&.new {
			color: @grayLight;
		}
		&.active,
		&.active:hover {
			color: #fff;
			background-color: @templateColor;
			text-shadow: 0 -1px 0 rgba(0,0,0,.25);
		}
		span {
			display: block;
			width: 47px;
			height: 54px;
			line-height: 54px;
			float: left;
			margin: 2px;
			cursor: pointer;
			.border-radius(4px);
			&:hover {
				background: @grayLighter;
			}
			&.active {
				color: #fff;
				background-color: @templateColor;
				text-shadow: 0 -1px 0 rgba(0,0,0,.25);
			}
			&.old {
				color: @grayLight;
			}
		}
	}
	th.switch {
		width: 145px;
	}
	thead tr:first-child th {
		cursor: pointer;
		&:hover{
			background: @grayLighter;
		}
	}
}
.input-append,
.input-prepend {
	&.date {
		.add-on i {
			display: block;
			cursor: pointer;
			width: 16px;
			height: 16px;
		}
	}
}
.datepicker + .add-on .icon-calendar {
	font-size: @baseFontSize + 7;
}


/* Pages */
/* Login page */
.login-page {
	background-image: none;
	.login-container {
		width: 90%;
		max-width: 400px;
		margin: @baseMargin * 6 auto 0;
		h1 {
			margin: 0 0 @baseMargin;
			.brand {
				.image-replacer(@templateLogo, no-repeat, 26px, 231px);
			}
		}
		section {
			padding: @baseMargin;
			background-color: @white;
			border: 1px solid darken(@bodyBackground, 20%);
			.box-shadow(0 0 5px @grayLight);
			.border-radius(@baseBorderRadius);
			input {
				width: 94%;
			}
			input[type="checkbox"] {
				width: auto;
			}
		}
		nav {
			margin-top: @baseMargin / 2;
			.clearfix();
			ul {
				margin: 0;
				padding: 0;
				float: right;
				list-style: none;
				.clearfix();
				li {
					display: block;
					float: left;
					& + li {
						margin-left: @baseMargin / 2;
						padding-left: @baseMargin / 2;
						border-left: 1px solid darken(@bodyBackground, 8%);
					}
					a {
						color: darken(@bodyBackground, 35%);
						text-shadow: 0 1px 1px @white;
						&:hover {
							color: @templateColor;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

/* Error pages */
.error-page {
	background-image: none;
	.error-container {
		width: 90%;
		max-width: 600px;
		text-align: center;
		margin: @baseMargin * 4 auto 0;
		.clearfix();
		h1 {
			margin: 0;
			font-size: @baseFontSize * 13;
			line-height: normal;
			color: @white;
			text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
		}
		p {
			margin: @baseMargin / 2 0;
			&.description {
				margin-top: -@baseMargin;
				font-size: @baseFontSize * 3;
			}
		}
	}
}


/* Responsive styles */
/* Up to landscape phone */
@media (max-width: 480px) {
	body {
		padding: 0;
		background-image: none;
	}
	.navigation-block {
		position: static;
		width: 100%;
		float: none;
		border-bottom: 1px solid @dataNestedBorderColor;
	}
	.content-block {
		margin-left: 0;
		padding: @baseMargin;
	}
	.main-navigation > ul > li.current > a {
		background-image: none;
		margin-right: 0;
	}
	.user-profile img,
	.user-profile figcaption {
		float: left;
	}
	.user-profile figcaption {
		width: auto;
	}
	.hero-unit {
		padding: 20px;
		h1 {
			font-size: 40px;
		}
	}
}

/* Landscape phone to small desktop and portrait tablet */
@media (max-width: 767px) {
	body {
		padding: 0;
	}
	.content-block {
		padding: @baseMargin;
	}
	.user-profile {
		padding-left: 10px;
		padding-right: 10px;
	}
	.main-navigation > ul > li {
		padding: 0 10px;
	}
	.side-note {
		margin: 10px;
	}
	.data-header-actions {
		float: none;
	}
	.widget {
		float: none;
		width: auto;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	body {
		background-position: 219px 0;
	}
	.navigation-block {
		.size(auto, 225px);
	}
	.content-block {
		margin-left: 226px;
	}
	.user-profile figcaption {
		width: 125px;
	}
	.main-navigation > ul > li.current > a {
		margin-right: -12px;
	}
}

/* Portrait tablet to default desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Tablets and below */
@media (max-width: 979px) {

}

/* Default desktop */
@media (min-width: 980px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
