<article class="span12 data-block nested">
    <div class="data-container">
        <section>

            <form class="form-search well" method="get" style="margin-bottom: 10px;">
                <div class="control-group pull-left">
                    <input type="text" name="date_from" value="<?php echo $this->date_from ?>"
                           class="search-query datepicker w100"
                           placeholder="<?php echo Core_Locale::translate('Date From') ?>">
                    <input type="text" name="date_to" value="<?php echo $this->date_to ?>"
                           class="search-query datepicker w100"
                           placeholder="<?php echo Core_Locale::translate('Date To') ?>">
                    <input type="text" name="keyword" value="<?php echo $this->keyword ?>" class="search-query"
                           placeholder="<?php echo Core_Locale::translate('Filter') ?>">
                </div>
                <div style="clear: both"></div>
                <div class="control-group pull-left">
                    <?php if ($this->city_list->count()) { ?>
                        <select name="city[]" multiple data-placeholder="<?php echo Core_Locale::translate('City') ?>">
                            <?php foreach ($this->city_list as $o) { ?>
                                <option value="<?php echo $o['id'] ?>"
                                    <?php echo $this->city && in_array($o['id'], $this->city) ? 'selected' : '' ?>
                                >
                                    <?php echo $o['CityName'] ?>
                                </option>
                            <?php } ?>
                        </select>
                    <?php } ?>

                    <?php if (count($this->zones_list)) { ?>
                        <select name="zone[]" multiple data-placeholder="<?php echo Core_Locale::translate('Zones') ?>">
                            <?php foreach ($this->zones_list as $z) { ?>
                                <option value="<?php echo $z['id'] ?>"
                                    <?php echo $this->zone && in_array($z['id'], $this->zone) ? 'selected' : '' ?>
                                >
                                    <?php echo $z['zone_name'] ?> (<?php echo $z['zone_code'] ?>)
                                </option>
                            <?php } ?>
                        </select>
                    <?php } ?>

                    <?php if (count($this->status_list)) { ?>
                        <select name="status[]" multiple data-placeholder="<?php echo Core_Locale::translate('Contradiction Status') ?>">
                            <?php foreach ($this->status_list as $status_id => $status) { ?>
                                <option value="<?php echo $status_id ?>"
                                    <?php echo $this->status && in_array($status_id, $this->status) ? 'selected' : '' ?>
                                >
                                    <?php echo $status ?>
                                </option>
                            <?php } ?>
                        </select>
                    <?php } ?>
                </div>
                <div style="clear: both"></div>
                <div class="control-group pull-left">
                    <button type="submit" class="btn"><?php echo Core_Locale::translate('Search') ?></button>
                </div>
                <div style="clear: both"></div>
            </form>
            <table class="table table-hover table-striped tableContentAlignLeft">
                <thead>
                <tr>
                    <th><?php echo Core_Locale::translate('Add date') ?></th>
                    <th><?php echo Core_Locale::translate('Fine ID') ?></th>
                    <th><?php echo Core_Locale::translate('Plate') ?></th>
                    <th><?php echo Core_Locale::translate('City') ?></th>
                    <th><?php echo Core_Locale::translate('Zone_code') ?></th>
                    <th><?php echo Core_Locale::translate('Status') ?></th>
                </tr>
                </thead>
                <tbody>

                <?php if ($this->paginator->count()) {
                    if (!$this->page) {
                        $p = (((DEFAULT_PAGINATION_ITEMS) * 1) - (DEFAULT_PAGINATION_ITEMS - 1));
                    } else {
                        $p = ((DEFAULT_PAGINATION_ITEMS) * ($this->page) - (DEFAULT_PAGINATION_ITEMS - 1));
                    }
                }
                $sumDefaultAmount = 0;
                $sumPaid = 0;
                foreach ($this->paginator->getCurrentItems() as $i) {
                    $url = $this->baseUrl('contradiction/view/id/'.$i['fine_id']);
                    if ($i['u_comment']) {
                ?>
                    <tr>
                        <td><?php echo $i['add_date'] ?></td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['fineId'] ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['plate'] ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['city'] ?> </a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['zone_code'] ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo Core_Locale::translate( Admin_ContradictionController::statuses($i['contra_status'])); ?></a>
                        </td>
                    </tr>
                <?php }
                } ?>
                </tbody>
            </table>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                ['paginator_params' => $this->paginator_params]); ?>
        </section>
    </div>
</article>