<?php
$photo_url = FINES_PHOTOS_URL . '/' . $this->fine['id'];

$first_photo = $photo_url . '/' . $this->fine['first_photo'];
$plate_photo = $photo_url . '/' . $this->fine['plate_photo'];
$front_photo = $photo_url . '/' . $this->fine['front_photo'];
$back_photo = $photo_url . '/' . $this->fine['back_photo'];
$left_side_photo = $photo_url . '/' . $this->fine['left_side_photo'];
$right_side_photo = $photo_url . '/' . $this->fine['right_side_photo'];

?>
<article class="span12 data-block">
    <div class="data-container">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="/js/admin/plugins/fileupload/bootstrap-fileupload.js"></script>
        <script src="/js/admin/plugins/inputmask/bootstrap-inputmask.js"></script>
        <?= $this->partial('_partial/header.phtml', [$this, 'titles' => [$this->fine['id_public']]]); ?>
        <section>
            <div class="span6">
                <div class="row-fluid">
                    <div class="span">
                        <div class="well small">
                            <h2><?php echo Core_Locale::translate('fine_information_left') ?>
                                - <?php echo $this->fine['id_public'] ?></h2>
                            <dl class="dl-horizontal">
                                <dt><?php echo Core_Locale::translate('Plate') ?>:</dt>
                                <dd><?php echo $this->fine['plate'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Car') ?>:</dt>
                                <dd>
                                    <?php if (!$this->fine['car']) { ?>
                                        <div class="input-append">
                                            <input type="text" class="span8"
                                                   placeholder="<?php echo Core_Locale::translate('car_model_manufacture') ?>">
                                            <button type="button"
                                                    class="btn btn-danger updateCarBtn"><?php echo Core_Locale::translate('update_car') ?></button>
                                        </div>
                                    <?php } else { ?>
                                        <?php echo $this->fine['car'] ?>
                                    <?php } ?>
                                </dd>

                                <dt><?php echo Core_Locale::translate('Operator') ?>:</dt>
                                <dd><?php echo $this->fine['admin'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Date') ?>:</dt>
                                <dd><?php echo $this->fine['date'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('First Photo Date') ?>:</dt>
                                <dd><?php echo $this->fine['first_photo_date'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Start') ?>:</dt>
                                <dd><?php echo $this->fine['start'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('End') ?>:</dt>
                                <dd><?php echo $this->fine['end'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Notification sent') ?>:</dt>
                                <dd><?php echo $this->fine['notification_sent_time'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Notification to') ?>:</dt>
                                <dd><?php echo $this->fine['notification_sent_to'] ?>&nbsp;</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span">
                        <div class="well small">
                            <h2><?php echo Core_Locale::translate('fine_information_right') ?></h2>
                            <dl class="dl-horizontal">
                                <dt><?php echo Core_Locale::translate('Cause') ?>:</dt>
                                <dd><?php echo $this->fine['cause'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Lat') ?>:</dt>
                                <dd><?php echo $this->fine['lat'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Lon') ?>:</dt>
                                <dd><?php echo $this->fine['lon'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('zone') ?>:</dt>
                                <dd><?php echo $this->fine['zone_code'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Street') ?>:</dt>
                                <dd><?php echo $this->fine['street'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Status') ?>:</dt>
                                <dd><?php echo Model_Fines::statuses($this->fine['status_id']) ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Default Fine Amount') ?>:</dt>
                                <dd><?php echo number_format($this->fine['default_amount'], 2) ?></dd>
                                <dt><?php echo Core_Locale::translate('Fine Amount') ?>:</dt>
                                <dd><?php echo number_format($this->fine['amount'], 2) ?></dd>
                                <dt><?php echo Core_Locale::translate('Rate') ?>:</dt>
                                <dd><?php echo $this->fine['rate'] ?>%</dd>
                                <dt><?php echo Core_Locale::translate('Final fine') ?>:</dt>
                                <dd><?php echo Model_Fines::finalFineAmount($this->fine['amount'],
                                        $this->fine['rate']) ?>EUR
                                </dd>
                                <dt><?php echo Core_Locale::translate('Paid') ?>:</dt>
                                <dd><?php echo number_format($this->fine['paid'], 2) ?></dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span">
                        <div class="well small">
                            <h2><?php echo Core_Locale::translate('contradiction_information_right') ?></h2>
                            <dl class="dl-horizontal">
                                <dt><?php echo Core_Locale::translate('Status') ?>:</dt>
                                <dd><?php echo Core_Locale::translate( Admin_ContradictionController::statuses($this->contradiction['contra_status'])); ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Name') ?>:</dt>
                                <dd><?php echo $this->fine['name'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Surname') ?>:</dt>
                                <dd><?php echo $this->fine['surname'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Phone') ?>:</dt>
                                <dd><?php echo $this->fine['u_phone_number'] ?></dd>
                                <dt><?php echo Core_Locale::translate('Email') ?>:</dt>
                                <dd><a href="mailto:<?php echo $this->fine['u_email']; ?>"><?php echo $this->fine['u_email'] ?></a></dd>
                                <dt><?php echo Core_Locale::translate('Comment') ?>:</dt>
                                <dd><?php echo $this->fine['u_comment'] ?>&nbsp;</dd>
                                <dt><?php echo Core_Locale::translate('Comment file') ?>:</dt>

                                <?php if ($this->contradiction['file_name']) : ?>
                                <dd>
                                    <a href="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/'.$this->contradiction['file_name']; ?>">Atsiųsti bylą</a>
                                </dd>
                                <?php else: ?>
                                <dd style="height: 50px;">
                                    <form action="/admin/en/contradiction/add-file/fine_id/<?php echo $this->fine['id'] ?>" method="post" enctype="multipart/form-data">
                                        <?php //echo $this->partial('_partial/_file-input.phtml', ['name' => 'file_name']); ?>&nbsp;
                                        <div class="fileupload fileupload-new" data-provides="fileupload" style="float: inline-start;">
                                            <div class="input-append">
                                                <div class="uneditable-input">
                                                    <i class="icon-file fileupload-exists"></i>
                                                    <span class="fileupload-preview"></span>
                                                </div>
                                                <span class="btn btn-alt btn-file">
                                                    <span class="fileupload-new"><?php echo Core_Locale::translate('Select file') ?></span>
                                                    <span class="fileupload-exists"><?php echo Core_Locale::translate('Change') ?></span>
                                                    <input type="file" name="file_name"/>
                                                </span>
                                                <a href="#" class="btn btn-alt btn-danger fileupload-exists"
                                                   data-dismiss="fileupload"><?php echo Core_Locale::translate('Remove') ?></a>
                                                <button type="submit" class="btn btn-success">Add contradiction</button>
                                            </div>
                                        </div>
                                    </form>
                                    <?php endif; ?>
                                </dd>
                                <dt><?php echo Core_Locale::translate('Add date') ?>:</dt>
                                <dd><?php echo $this->contradiction['add_date'] ?>&nbsp;</dd>
                                <dt>&nbsp;</dt>
                                <dd><button type="button" id="changeContradictionStatusBtn" class="btn btn-info btn-small btn-block">
                                        <?php echo Core_Locale::translate('Change contradiction status') ?>
                                    </button>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="well small">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="well small">
                                <ul class="thumbnails">
                                    <?php if ( $this->fine['first_photo'] ) : ?>
                                    <li class="span6">
                                        <a data-lightbox="lightbox" href="<?php echo $first_photo; ?>" class="thumbnail">
                                            <img src="<?php echo $first_photo; ?>" alt="" style="max-height: 170px;">
                                        </a>
                                    </li>
                                    <?php endif; if ( $this->fine['plate_photo'] ) : ?>
                                    <li class="span6">
                                        <a data-lightbox="lightbox" href="<?php echo $plate_photo; ?>" class="thumbnail">
                                            <img src="<?php echo $plate_photo; ?>" alt="" style="max-height: 170px;">
                                        </a>
                                    </li>
                                    <?php endif; ?>
                                </ul>
                                <ul class="thumbnails">
                                    <?php if ( $this->fine['front_photo'] ) : ?>
                                    <li class="span6">
                                        <a data-lightbox="lightbox" href="<?php echo $front_photo; ?>" class="thumbnail">
                                            <img src="<?php echo $front_photo; ?>" alt="" style="max-height: 170px;">
                                        </a>
                                    </li>
                                    <?php endif; if ( $this->fine['back_photo'] ) : ?>
                                    <li class="span6">
                                        <a data-lightbox="lightbox" href="<?php echo $back_photo; ?>" class="thumbnail">
                                            <img src="<?php echo $back_photo; ?>" alt="" style="max-height: 170px;">
                                        </a>
                                    </li>
                                    <?php endif; ?>
                                </ul>
                                <ul class="thumbnails">
                                       <?php if ( $this->fine['left_side_photo'] ) : ?>
                                       <li class="span6">
                                           <a data-lightbox="lightbox" href="<?php echo $left_side_photo; ?>" class="thumbnail">
                                               <img src="<?php echo $left_side_photo; ?>" alt="" style="max-height: 170px;">
                                           </a>
                                       </li>
                                       <?php endif; if ( $this->fine['right_side_photo'] ) : ?>
                                       <li class="span6">
                                           <a data-lightbox="lightbox" href="<?php echo $right_side_photo; ?>" class="thumbnail">
                                               <img src="<?php echo $right_side_photo; ?>" alt="" style="max-height: 170px;">
                                           </a>
                                       </li>
                                       <?php endif; ?>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <?php if ($this->log->count()) { ?>
            <section>
                <div class="span12">
                    <div class="well small">
                        <h2 class="clearfix">
                            <?php echo Core_Locale::translate('fine_log') ?>
                        </h2>
                        <?php
                        echo
                        $this->dataTableList(
                            $this->log, [
                            'who',
                            'message',
                            'created_at',
                        ], [
                            Core_Locale::translate('Who'),
                            Core_Locale::translate('Message'),
                            Core_Locale::translate('When'),
                        ],
                            [
                                'noActions' => true
                            ], [
                            'disable_tools' => true,
                            'ShowTableSearch' => false,
                            'ShowTableActions' => false,
                            'NotDefaultNo' => true,
                        ]);
                        ?>
                    </div>
                </div>
            </section>
        <?php } ?>
    </div>
</article>
<?php
$this->minifyHeadLink()->prependStylesheet('http://' . $_SERVER['HTTP_HOST'] . '/css/admin_css/plugins/lightbox.css');
$this->minifyHeadLink()->prependStylesheet('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/extras/TableTools/media/css/TableTools.css');

$this->headScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/media/js/jquery.dataTables.js');
$this->headScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/media/js/dataTables.customFunctions.js');

?>
<script src="<?php echo $this->baseUrl('js/admin/plugins/lightbox/lightbox.js', true) ?>"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#changeContradictionStatusBtn').click(function (e) {
            e.preventDefault();
            swal({
                title: 'What is new fine status?',
                input: 'select',
                inputOptions: <?php echo json_encode(Admin_ContradictionController::statuses()) ?>,
                inputPlaceholder: 'Select new Contradiction status here',
                showCancelButton: true,
                inputValidator: function (value) {
                    return new Promise(function (resolve, reject) {
                        if (value.match(/^\d+$/)) {
                            resolve()
                        } else {
                            reject('You need to select new status')
                        }
                    })
                }
            }).then(function (status) {
                $.ajax({
                    type: "POST",
                    url: '/admin/<?php echo LANG?>/contradiction/change-contradiction-status',
                    data: {
                        fine_id: '<?php echo $this->contradiction['id'] ?>',
                        status: status,
                    },
                    success: function (response) {
                        if (response.success) { console.log ('---'+ JSON.stringify(response));
                            swal({
                                type: 'success',
                                title: 'New status of Contradiction is set to: ' + response.new_status
                            }).then(
                                function () {
                                    location.reload();
                                }
                            );

                        }

                        if (response.error) {
                            swal({
                                type: 'error',
                                title: response.message
                            })
                        }
                    }
                });
            })
        });
    });
</script>