.fl {
    float: left
}

.fr {
    float: right
}

.dn {
    display: none;
}

.block {
    display: block;
}

.h5 {
    height: 5px
}

.h10 {
    height: 10px
}

.h20 {
    height: 20px
}

.mr10px {
    margin-right: 10px;
}

.ml10px {
    margin-left: 10px;
}

.mr20px {
    margin-right: 20px;
}

.ml20px {
    margin-left: 20px;
}
.mt10px {
    margin-top: 10px;
}
.mt20px {
    margin-top: 20px;
}
.mb10px {
    margin-bottom: 10px;
}
.mb20px {
    margin-bottom: 20px;
}

.pr10px {
    padding-right: 10px;
}
.pl5px {
    padding-left: 5px;
}
.pl10px {
    padding-left: 10px;
}

.pr20px {
    padding-right: 20px;
}

.pl20px {
    padding-left: 20px;
}

.pl40px {
    padding-left: 40px;
}

.pl60px {
    padding-left: 60px;
}

.clearboth, .clearboath {
    clear: both
}

.cursor {
    cursor: pointer
}

.tac {
    text-align: center
}

.tal, table th.tal {
    text-align: center;
}
.bold{font-weight:bold;}

.tar {
    text-align: right
}
.tac {
    text-align: center
}
.icon{
    width:24px;
    height:24px;
    display:block;
    margin:0;
    padding:0;
}

.main-navigation > ul{
    font-family: 'Arial';
}
#from_to_date_filter .controls {margin-left:0}
input.error, select.error {color:#B94A48; border:solid 1px #B94A48;}
form ul.errors { margin:-5px 5px 0 0}
form ul.errors li {
    list-style: none;
    color:#B94A48;
}

input.error, select.error, textarea.error {
    color: #B94A48;
    order-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input.error:focus, select.error:focus, textarea.error:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.swal2-modal .swal2-label {
    text-align: left;
}

.swal2-modal .swal2-label .swal2-input {
    margin-top: 5px;
}


.table td.tac{
     text-align: center
}
table td{
    text-align: center !important;
}

body.no-sidebar{
      background-image:none;
}
.browse{
    margin-left: 9px;
    margin-top: 10px;
}
.inactive {
    pointer-events: none;
    cursor: default;
}

.w100 { width: 100px; }
.w150 { width: 150px; }
.w200 { width: 200px; }
.w300 { width: 200px; }

