<?php
function date_quarter()
{
    $month = date('n');

    if ($month <= 3) {
        return date('Y-01-01 00:00');
    }
    if ($month <= 6) {
        return date('Y-04-01 00:00');
    }
    if ($month <= 9) {
        return date('Y-07-01 00:00');
    }

    return date('Y-10-01 00:00');
}

?>
<script type="text/javascript">


    $(document).ready(function () {
        $('#todayFilter').click(function () {
            $('#date_from').val('<?php echo date('Y-m-d 00:00')?>');
            $('#date_to').val('<?php echo date('Y-m-d H:i')?>');
            $('#filterForm').submit();
        });

        $('#thisWeekFilter').click(function () {
            $('#date_from').val('<?php echo date('Y-m-d 00:00', strtotime('monday this week'))?>');
            $('#date_to').val('<?php echo date('Y-m-d H:i')?>');
            $('#filterForm').submit();
        });

        $('#thisMonthFilter').click(function () {
            $('#date_from').val('<?php echo date('Y-m-d 00:00', strtotime('first day of this month'))?>');
            $('#date_to').val('<?php echo date('Y-m-d H:i')?>');
            $('#filterForm').submit();
        });

        $('#thisAndLastMonthFilter').click(function () {
            $('#date_from').val('<?php echo date('Y-m-d 00:00', strtotime('first day of last month'))?>');
            $('#date_to').val('<?php echo date('Y-m-d H:i')?>');
            $('#filterForm').submit();
        });

        $('#thisQuaterFilter').click(function () {
            $('#date_from').val('<?php echo date_quarter()?>');
            $('#date_to').val('<?php echo date('Y-m-d H:i', strtotime('+3 months', strtotime(date_quarter())))?>');
            $('#filterForm').submit();
        });

        $('#thisYearFilter').click(function () {
            $('#date_from').val('<?php echo date('Y-01-01 00:00')?>');
            $('#date_to').val('<?php echo date('Y-m-d H:i')?>');
            $('#filterForm').submit();
        });

        $('#showHideOperators').click(function () {
            $('#operatorsContainer').toggle();
            if (!$('#showHideOperators').is(':checked')) {
                $('.operatorsCheckbox').attr('checked', false);
            }
        });
        $('#showHideCity').click(function () {
            $('#cityContainer').toggle();
            if (!$('#showHideCity').is(':unchecked')) {
                $('.cityCheckbox').attr('checked', false);
            }
        });
    });
</script>
<div class="row-fluid">
    <article class="span12 data-block">
        <div class="data-container">
            <section>
                <header>
                    <h2 class="span6">
                        <?php echo Core_Locale::translate('Filters') ?>
                    </h2>
                    <div class="span6">
                        <a href="/admin/<?php echo LANG ?>/index/map"
                           class="pull-right btn btn-<?php echo $this->map ? 'success' : 'default' ?> ml10px"><?php echo Core_Locale::translate('Map') ?></a>
                        <a href="/admin/<?php echo LANG ?> "
                           class="pull-right btn btn-<?php echo $this->dashboard ? 'success' : 'info' ?>"><?php echo Core_Locale::translate('Charts') ?></a>
                    </div>
                </header>
                <form class="form-search well" method="get" style="margin-bottom: 10px;" id="filterForm">
                    <div class="row ml10px">
                        <div class="control-group pull-left">
                            <div class="controls pull-left">
                                <label class="checkbox pull-left"> <input type="checkbox"
                                                                          id="showHideOperators" <?php echo $this->operators ? 'checked="unchecked"' : ''; ?>> <?php echo Core_Locale::translate('Show Operators') ?>
                                </label>

                            </div>

                            <div class="controls pull-left">
                                <label class="checkbox pull-left ml20px"> <input type="checkbox" id="showHideCity"
                                                                                 checked="checked" <?php echo $this->city ? 'checked="checked"' : ''; ?>> <?php echo Core_Locale::translate('Show City') ?>
                                </label>

                            </div>
                            <?php if ($this->map) { ?>
                                <div class="controls pull-left">
                                    <label class="checkbox pull-left ml20px"> <input type="checkbox" value="1"
                                                                                     name="show_operators" <?php echo $this->show_operators ? 'checked="checked"' : ''; ?>> <?php echo Core_Locale::translate('Show Operators View') ?>
                                    </label>
                                </div>

                            <?php } ?>
                        </div>

                        <div class="control-group pull-right">
                            <div class="controls">

                                <input type="text" name="date_from" id="date_from"
                                       value="<?php echo $this->date_from ?>" class="search-query datetimepicker"
                                       placeholder="<?php echo Core_Locale::translate('Date From') ?>">
                                <input type="text" name="date_to" id="date_to" value="<?php echo $this->date_to ?>"
                                       class="search-query datetimepicker"
                                       placeholder="<?php echo Core_Locale::translate('Date To') ?>">
                                <div class="btn-group">
                                    <button data-toggle="dropdown"
                                            class="btn dropdown-toggle"><?php echo Core_Locale::translate('Default Filters') ?>
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"
                                               id="todayFilter"><?php echo Core_Locale::translate('Today') ?></a></li>
                                        <li><a href="#"
                                               id="thisWeekFilter"><?php echo Core_Locale::translate('This Week') ?></a>
                                        </li>
                                        <!--  <li><a href="#" id="thisMonthFilter"><?php echo Core_Locale::translate('This Month') ?></a></li>
                                        <li><a href="#" id="thisAndLastMonthFilter"><?php echo Core_Locale::translate('This and Last Month') ?></a></li>
                                        <li><a href="#" id="thisQuaterFilter"><?php echo Core_Locale::translate('This Quarter') ?></a></li>
                                        <li><a href="#" id="thisYearFilter"><?php echo Core_Locale::translate('This Year') ?></a></li> -->
                                    </ul>
                                </div>

                                <button type="submit" id="filterBtn"
                                        class="btn btn-info"><?php echo Core_Locale::translate('Search') ?></button>
                            </div>
                        </div>
                    </div>
                    <div class="row well ml10px <?php echo $this->operators ? '' : 'dn'; ?>" id="operatorsContainer">
                        <?php if ($this->operators_list->count()) {
                            foreach ($this->operators_list as $o) { ?>
                                <label class="checkbox pull-left mr10px">
                                    <input type="checkbox" class="operatorsCheckbox"
                                    <input type="checkbox" class="CityCheck"
                                        <?php echo isset($this->operators[$o['id']]) ? 'checked="checked"' : '' ?>
                                           name="operators[<?php echo $o['id'] ?>]"
                                           value="<?php echo $o['id'] ?>"/>
                                    <?php echo $o['adm_name'] . ' ' . $o['adm_surname'] ?>
                                </label>

                                <?php
                            }
                        } ?>

                    </div>
                    <div class="row well ml10px " id="cityContainer">
                        <?php if ($this->city_list->count()) {
                            foreach ($this->city_list as $o) { ?>
                                <label class="checkbox pull-left mr10px">
                                    <input type="checkbox" class="cityCheckbox"
                                        <?php echo isset($this->city[$o['id']]) ? 'checked="checked"' : '' ?>
                                           name="city[<?php echo $o['id'] ?>]"
                                           value="<?php echo $o['id'] ?>"/>
                                    <?php echo $o['CityName'] ?>
                                </label>

                                <?php
                            }
                        } ?>
                    </div>


                </form>
            </section>
        </div>
    </article>
</div>

<script type="text/javascript">

    $("#date_from").change(function () {

        var dateTo = $("#date_to");
        var thisDate = $(this).datepicker("getDate");
        thisDate.setDate(thisDate.getDate() + 15);

        if (dateTo.datepicker("getDate") > thisDate) {
            dateTo.datepicker("setDate", thisDate);
        }
    });

    $("#date_to").change(function () {

        var dateFrom = $("#date_from");
        var thisDate = $(this).datepicker("getDate");
        thisDate.setDate(thisDate.getDate() - 15);

        if (dateFrom.datepicker("getDate") < thisDate) {
            dateFrom.datepicker("setDate", thisDate);
        }
    });

</script>