<div class="data-container">
    <section>
        <header>
            <h2 class="pull-left">
                <?php echo Core_Locale::translate('Fine Types') ?>
            </h2>
        </header>
        <div class="dl-horizontal" id="fine-types" style="height: 485px; width: 100%"></div>
    </section>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#fine-types').highcharts({
            chart: {
                type: 'areaspline'
                //type: 'column'
            },
            title: {text: ''},
            xAxis: {
                categories: ['<?php echo implode("','", array_keys($this->time_cols)) ?>']
            },
            yAxis: {
                title: {
                    text: 'Amount'<?php Core_Locale::translate('Amount')?>
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            series: [

                <?php
                foreach ($this->report_by_fine_types as $log => $amounts) {
                    echo '{';
                    echo "name:'$log',";
                    $data = [];
                    foreach ($amounts as $time => $amount) {
                        $data[] = $amount;
                    }
                    echo "data:[" . implode(',', array_values($data)) . "],";
                    echo '},' . PHP_EOL;
                }
                ?>
            ]
        });

    });
</script>