<?php
$this->minifyHeadScript()->prependFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/highcharts/js/themes/grid.js');
$this->minifyHeadScript()->prependFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/highcharts/js/modules/exporting.js');
$this->minifyHeadScript()->prependFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/highcharts/js/highcharts.js');

?>
<?= $this->partial('index/filter.phtml', $this) ?>
<div class="row-fluid">
    <article class="span6 data-block nested">
        <?= $this->partial('index/plates-check.phtml', $this) ?>
    </article>
    <article class="span6 data-block nested">
        <?= $this->partial('index/fine-types.phtml', $this) ?>
    </article>
</div>