<?= $this->partial('index/filter.phtml', $this) ?>

<div class="row-fluid">
    <article class="span12 data-block nested">
        <div class="data-container">
            <section>
                <header>
                    <h2 class="pull-left">
                        <?php echo Core_Locale::translate('Map') ?>
                    </h2>
                    <div class="pull-right">
                        <span id="paid" class="marker_legend cursor"><img src="/img/pointer_green.png"
                                                                          width="16"/> - <?php echo Core_Locale::translate('Paid') ?>
                            (<?php echo count($this->paid_log) ?>)</span>
                        <span id="black_list" class="marker_legend cursor"><img src="/img/pointer_red_inside.png"
                                                                                width="16"/> - <?php echo Core_Locale::translate('Black list') ?>
                            (<?php echo count($this->black_list_log) ?>)</span>
                        <span id="white_list" class="marker_legend cursor"><img src="/img/pointer_green_inside.png"
                                                                                width="16"/> - <?php echo Core_Locale::translate('White list') ?>
                            (<?php echo count($this->white_list_log) ?>)</span>
                        <span id="map_red_parkings" class="marker_legend cursor"><img src="/img/pointer_red.png"
                                                                                      width="16"/> - <?php echo Core_Locale::translate('Fined') ?>
                            (<?php echo $this->map_red_parkings->count() ?>)</span>
                        <span id="map_blue_parkings" class="marker_legend cursor"><img src="/img/pointer_blue.png"
                                                                                       width="16"/> - <?php echo Core_Locale::translate('Payed in 24 h') ?>
                            (<?php echo $this->map_blue_parkings->count() ?>)</span>
                        <span id="zone_time_end" class="marker_legend cursor"><img src="/img/pointer_blue_inside.png"
                                                                                   width="16"/> - <?php echo Core_Locale::translate('zone time ended') ?>
                            (<?php echo count($this->zone_time_end_log) ?>)</span>
                    </div>
                </header>
                <div class="dl-horizontal" id="gMap" style="height: 685px; width: 100%"></div>
            </section>
        </div>
    </article>
</div>
<style>
    div#content {
        min-height: 30px;
        min-width: 100px;
    }
</style>

<script type="text/javascript">

    // 54.7003694,25.2529322 Vilnius
    // 55.916761, 23.312922 Siauliai
    // 55.710950, 21.125277 Klaipeda
    // 55.850555, 22.351009 Klaipeda Siauliai
    // 55.409999, 24.303066 Siauliai Vilnius
    // 55.115774, 23.547756 Vilnius Klaipeda
    // 55.411558, 23.569729 Vilnius Klaipeda Siauliai

    var map;

    var markers_visible = {
        paid: true,
        black_list: true,
        white_list: true,
        map_red_parkings: true,
        map_blue_parkings: true
    };

    var markers = {
        paid: [],
        black_list: [],
        white_list: [],
        map_red_parkings: [],
        map_blue_parkings: [],
        zone_time_end: []
    };

    <?php

    if ($this->city == null) {
        $this->city = [100];
    } else {
    }

    $city_list = $this->city_list;
    if (count($city_list) == 1) {
        $city_list_arr = $city_list->toArray();
    }

    foreach ($this->city_list as $single_city) {
        if (implode('', $this->city) == $single_city['id']) {
            $city_id = $single_city['id'];
            $city_gps = $single_city['gps'];
        }
    }

    ?>

    var city_id_obj = <?php echo implode('', $this->city)?>;
    var default_map_gps = <?php echo $this->default_map_gps ?>;
    var zones_gps_parameters = <?php echo $this->zones_gps_parameters ?>;
    var city_id = <?php if ($city_id) {
        echo $city_id;
    } else {
        echo 100;
    } ?>;
    var city_gps = <?php if ($city_gps) {
        echo $city_gps;
    } else {
        echo 100;
    }?>;

    function initialize() {

        var green = '#009900';
        var red = '#FF0000';
        var yellow = '#FFFC01';
        var blue = '#000FF';
        var mapOptions = '';

        if (city_id_obj == city_id && city_id != 100) {
            var lat = parseFloat(city_gps.lat);
            var lon = parseFloat(city_gps.lon);
            var mapzoom = parseInt(city_gps.distance);
        } else {
            var lat = parseFloat(default_map_gps.lat);
            var lon = parseFloat(default_map_gps.lon);
            var mapzoom = parseInt(default_map_gps.distance);
        }
        console.log(lat + ' ' + lon);
        mapOptions = {
            zoom: mapzoom,
            center: new google.maps.LatLng(lat, lon),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };


        map = new google.maps.Map(document.getElementById('gMap'), mapOptions);


        var allParkingSpots = [];
        zones_gps_parameters.zones.forEach(function (entry) {
            var gps = [];
            entry.gps.forEach(function (entry2) {
                gps.push(new google.maps.LatLng(entry2[0], entry2[1]));
            });
            allParkingSpots.push(
                {
                    "paths": gps,
                    strokeColor: entry.strokeColor,
                    fillColor: entry.fillColor
                }
            );
        });

        allParkingSpots.forEach(function (spot) {
                spot.strokeOpacity = 0.8;
                spot.strokeWeight = 2;
                spot.fillOpacity = 0.3;
                ParkingsTriangle = new google.maps.Polygon(spot);
                ParkingsTriangle.setMap(map);

            }
        );

        <?php $i = 1; ?>

        <?php if(!empty($this->paid_log)) {foreach($this->paid_log as $p){ ?>
        var marker_<?php echo $i;?> = new google.maps.Marker({
            position: new google.maps.LatLng(<?php echo $p['gps']?>),
            map: map,
            title: "<?php echo $p['plate']?> - <?php echo $p['car']?>",
            icon: '/img/pointer_green.png'
        });
        markers.paid.push(marker_<?php echo $i;?>);
        var contentString_<?php echo $i;?> = '<div id="content"><div id="siteNotice"></div><h2 id="firstHeading" class="firstHeading"></h2><div id="bodyContent"><?php echo $p['plate']?> - <?php echo $p['car']?></div></div>';
        var infowindow_<?php echo $i;?> = new google.maps.InfoWindow({content: contentString_<?php echo $i;?>});
        google.maps.event.addListener(marker_<?php echo $i;?>, 'click', function () {
            infowindow_<?php echo $i;?>.open(map, marker_<?php echo $i;?>);
        });
        <?php $i++; }} ?>

        <?php if(!empty($this->black_list_log)) {foreach($this->black_list_log as $p){ ?>
        var marker_<?php echo $i;?> = new google.maps.Marker({
            position: new google.maps.LatLng(<?php echo $p['gps']?>),
            map: map,
            title: "<?php echo $p['plate']?> - <?php echo $p['car']?>",
            icon: '/img/pointer_red_inside.png'
        });
        markers.black_list.push(marker_<?php echo $i;?>);
        var contentString_<?php echo $i;?> = '<div id="content"><div id="siteNotice"></div><h2 id="firstHeading" class="firstHeading"></h2><div id="bodyContent"><?php echo $p['plate']?> - <?php echo $p['car']?></div></div>';
        var infowindow_<?php echo $i;?> = new google.maps.InfoWindow({content: contentString_<?php echo $i;?>});
        google.maps.event.addListener(marker_<?php echo $i;?>, 'click', function () {
            infowindow_<?php echo $i;?>.open(map, marker_<?php echo $i;?>);
        });
        <?php $i++; }} ?>

        <?php if(!empty($this->white_list_log)) {foreach($this->white_list_log as $p){ ?>
        var marker_<?php echo $i;?> = new google.maps.Marker({
            position: new google.maps.LatLng(<?php echo $p['gps']?>),
            map: map,
            title: "<?php echo $p['plate']?> - <?php echo $p['car']?>",
            icon: '/img/pointer_green_inside.png'
        });
        markers.white_list.push(marker_<?php echo $i;?>);
        var contentString_<?php echo $i;?> = '<div id="content"><div id="siteNotice"></div><h2 id="firstHeading" class="firstHeading"></h2><div id="bodyContent"><?php echo $p['plate']?> - <?php echo $p['car']?></div></div>';
        var infowindow_<?php echo $i;?> = new google.maps.InfoWindow({content: contentString_<?php echo $i;?>});
        google.maps.event.addListener(marker_<?php echo $i;?>, 'click', function () {
            infowindow_<?php echo $i;?>.open(map, marker_<?php echo $i;?>);
        });
        <?php $i++; }} ?>

        <?php if(!empty($this->map_red_parkings)) {foreach($this->map_red_parkings as $p){ ?>
        var marker_<?php echo $i;?> = new google.maps.Marker({
            position: new google.maps.LatLng(<?php echo $p->gps?>),
            map: map,
            title: "<?php echo $p->plate?> - <?php echo $p->car?>",
            icon: '/img/pointer_red.png'
        });
        markers.map_red_parkings.push(marker_<?php echo $i;?>);
        var contentString_<?php echo $i;?> = '<div id="content"><div id="siteNotice"></div><h2 id="firstHeading" class="firstHeading"></h2><div id="bodyContent"><?php echo $p->plate?> - <?php echo $p->car?></div></div>';
        var infowindow_<?php echo $i;?> = new google.maps.InfoWindow({content: contentString_<?php echo $i;?>});
        google.maps.event.addListener(marker_<?php echo $i;?>, 'click', function () {
            infowindow_<?php echo $i;?>.open(map, marker_<?php echo $i;?>);
        });
        <?php $i++; }} ?>

        <?php if(!empty($this->map_blue_parkings)) {foreach($this->map_blue_parkings as $p){ ?>
        var marker_<?php echo $i;?> = new google.maps.Marker({
            position: new google.maps.LatLng(<?php echo $p->gps?>),
            map: map,
            title: "<?php echo $p->plate?> - <?php echo $p->car?>",
            icon: '/img/pointer_blue.png'
        });
        markers.map_blue_parkings.push(marker_<?php echo $i;?>);
        var contentString_<?php echo $i;?> = '<div id="content"><div id="siteNotice"></div><h2 id="firstHeading" class="firstHeading"></h2><div id="bodyContent"><?php echo $p->plate?> - <?php echo $p->car?></div></div>';
        var infowindow_<?php echo $i;?> = new google.maps.InfoWindow({content: contentString_<?php echo $i;?>});
        google.maps.event.addListener(marker_<?php echo $i;?>, 'click', function () {
            infowindow_<?php echo $i;?>.open(map, marker_<?php echo $i;?>);
        });
        <?php $i++; }} ?>

        <?php if(!empty($this->zone_time_end_log)) {foreach($this->zone_time_end_log as $p){ ?>
        var marker_<?php echo $i;?> = new google.maps.Marker({
            position: new google.maps.LatLng(<?php echo $p->gps?>),
            map: map,
            title: "<?php echo $p->plate?> - <?php echo $p->car?>",
            icon: '/img/pointer_blue_inside.png'
        });
        markers.zone_time_end.push(marker_<?php echo $i;?>);
        var contentString_<?php echo $i;?> = '<div id="content"><div id="siteNotice"></div><h2 id="firstHeading" class="firstHeading"></h2><div id="bodyContent"><?php echo $p->plate?> - <?php echo $p->car?></div></div>';
        var infowindow_<?php echo $i;?> = new google.maps.InfoWindow({content: contentString_<?php echo $i;?>});
        google.maps.event.addListener(marker_<?php echo $i;?>, 'click', function () {
            infowindow_<?php echo $i;?>.open(map, marker_<?php echo $i;?>);
        });
        <?php $i++; }} ?>
    }


    $(function () {
        $('.marker_legend').click(function () {
            var id = $(this).attr('id');
            $.each(markers[id], function () {
                if (markers_visible[id]) {
                    this.setMap(null);
                } else {
                    this.setMap(map);
                }
            });

            if (markers_visible[id]) {
                markers_visible[id] = false;
                $(this).css({'color': '#B2B2B2'});
            } else {
                markers_visible[id] = true;
                $(this).css({'color': '#808080'});
            }

        });
    });

    function loadScript() {

        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBrwQuGiXk62b_KipNKYvIclsETYTI4DPU&v=3.exp&' +
            'callback=initialize';
        document.body.appendChild(script);

    }

    window.onload = loadScript;


</script>