<?= $this->partial('index/filter.phtml', $this) ?>

<div class="row-fluid">
    <article class="span12 data-block nested">
        <div class="data-container">
            <section>
                <header>
                    <h2 class="pull-left">
                        <?php echo Core_Locale::translate('Operators Map') ?>
                    </h2>
                    <div class="pull-right">
                        <?php if (!empty($this->operators_report)) {
                            foreach ($this->operators_report as $operator => $data) { ?>
                                <span id="<?php echo $data['marker'] ?>" class="marker_legend cursor"><img
                                            src="/img/<?php echo $data['marker'] ?>.png"
                                            width="16"/> - <?php echo $operator ?> (<?php echo count($data['data']) ?>)</span>
                            <?php }
                        } ?>

                    </div>
                </header>
                <div class="dl-horizontal" id="gMap" style="height: 685px; width: 100%"></div>
            </section>
        </div>
    </article>
</div>

<script type="text/javascript">

    var map;
    var markers_visible = {
        <?php

        if (!empty($this->operators_report)) {
            foreach ($this->operators_report as $operator => $data) {
                echo $data['marker'] . ': true,';
            }
        }
        ?>
    };

    var markers = {
        <?php

        if (!empty($this->operators_report)) {
            foreach ($this->operators_report as $operator => $data) {
                echo $data['marker'] . ': [],';
            }
        }
        ?>
    };

    <?php

    if ($this->city == null) {
        $this->city = [100];
    } else {
    }

    $city_list = $this->city_list;
    if (count($city_list) == 1) {
        $city_list_arr = $city_list->toArray();
    }

    foreach ($this->city_list as $single_city) {
        if (implode('', $this->city) == $single_city['id']) {
            $city_id = $single_city['id'];
            $city_gps = $single_city['gps'];
        }
    }

    ?>

    var city_id_obj = <?php echo implode('', $this->city)?>;
    var default_map_gps = <?php echo $this->default_map_gps ?>;
    var city_id = <?php if ($city_id) {
        echo $city_id;
    } else {
        echo 100;
    } ?>;
    var city_gps = <?php if ($city_gps) {
        echo $city_gps;
    } else {
        echo 100;
    }?>;
    var zones_gps_parameters = <?php echo $this->zones_gps_parameters ?>;

    function initialize() {

        var green = '#009900';
        var red = '#FF0000';
        var yellow = '#FFFC01';
        var blue = '#000FF';
        var mapOptions = '';

        if (city_id_obj == city_id && city_id != 100) {
            var lat = parseInt(city_gps.lat);
            var lon = parseInt(city_gps.lon);
            var mapzoom = parseInt(city_gps.distance);
        } else {
            var lat = parseInt(default_map_gps.lat);
            var lon = parseInt(default_map_gps.lon);
            var mapzoom = parseInt(default_map_gps.distance);
        }

        mapOptions = {
            zoom: mapzoom,
            center: new google.maps.LatLng(lat, lon),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('gMap'), mapOptions);

        var allParkingSpots = [];
        zones_gps_parameters.zones.forEach(function (entry) {
            var gps = [];
            entry.gps.forEach(function (entry2) {
                gps.push(new google.maps.LatLng(entry2[0], entry2[1]));
            });
            allParkingSpots.push(
                {
                    "paths": gps,
                    strokeColor: entry.strokeColor,
                    fillColor: entry.fillColor
                }
            );
        });

        allParkingSpots.forEach(function (spot) {
                spot.strokeOpacity = 0.8;
                spot.strokeWeight = 2;
                spot.fillOpacity = 0.3;
                ParkingsTriangle = new google.maps.Polygon(spot);
                ParkingsTriangle.setMap(map);

            }
        );

        <?php $i = 1; ?>

        <?php if(!empty($this->operators_report)) {foreach($this->operators_report as $operator => $data) {foreach($data['data'] as $p){ ?>
        var marker_<?php echo $i;?> = new google.maps.Marker({
            position: new google.maps.LatLng(<?php echo $p['gps']?>),
            map: map,
            title: "<?php echo $p['plate']?> - <?php echo $p['car']?>",
            icon: '/img/<?php echo $data['marker']?>.png'
        });
        markers.<?php echo $data['marker']?>.push(marker_<?php echo $i;?>);
        var contentString_<?php echo $i;?> = '<div id="content"><div id="siteNotice"></div><h2 id="firstHeading" class="firstHeading"></h2><div id="bodyContent"><?php echo $p['plate']?> - <?php echo $p['car']?></div></div>';
        var infowindow_<?php echo $i;?> = new google.maps.InfoWindow({content: contentString_<?php echo $i;?>});
        google.maps.event.addListener(marker_<?php echo $i;?>, 'click', function () {
            infowindow_<?php echo $i;?>.open(map, marker_<?php echo $i;?>);
        });
        <?php $i++; }}} ?>
    }


    $(function () {
        $('.marker_legend').click(function () {
            var id = $(this).attr('id');
            $.each(markers[id], function () {
                if (markers_visible[id]) {
                    this.setMap(null);
                } else {
                    this.setMap(map);
                }
            });

            if (markers_visible[id]) {
                markers_visible[id] = false;
                $(this).css({'color': '#B2B2B2'});
            } else {
                markers_visible[id] = true;
                $(this).css({'color': '#808080'});
            }

        });
    });

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
            'callback=initialize';
        document.body.appendChild(script);

    }

    window.onload = loadScript;


</script>