<div class="data-container">
    <section>
        <header>
            <h2 class="pull-left">
                <?php echo Core_Locale::translate('Plates Check') ?>
            </h2>
        </header>
        <div class="dl-horizontal" id="plates-check" style="height: 485px; width: 100%"></div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#plates-check').highcharts({

            chart: {type: 'column'},
            title: {text: ''},

            xAxis: {
                categories: ['<?php echo implode("','", array_keys($this->operators_log)) ?>']
            },

            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: 'Number of times checked'<?php Core_Locale::translate('Number of times checked')?>
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },

            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },

            series: [

                <?php
                foreach ($this->plateCheckLogMessages as $log => $amount) {
                    echo '{';
                    echo "name:'$log',";
                    $data = [];
                    foreach ($this->operators_log as $operator => $logs) {
                        $data[] = $logs[$log];
                    }
                    echo "data:[" . implode(',', array_values($data)) . "],";
                    echo '},' . PHP_EOL;
                }
                ?>
            ]
        });

    });
</script>