<style>
    table {
        width: 100%;
        border-spacing: 0;
    }

    table.borders, table.borders tr td, table.borders tr th, table tr td.border {
        border: solid 1px #000;
        border-spacing: 0;
    }

    table td {
        padding-left: 5px;
    }
</style>
<table class="borders" style="border: none">
    <thead>
    <tr style="background-color: #cccccc">
        <?php foreach ($this->table_header as $k => $h) { ?>
            <th style="width: <?php echo $this->cols_width[$k] ?>%"><?php echo !empty($h) ? $h : '&nbsp;' ?></th>
        <?php } ?>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->table as $row) {
        $row = explode("\t", $row); ?>
        <tr>
            <?php foreach ($row as $r) { ?>
                <td><?php echo !empty($r) ? $r : '&nbsp;'; ?></td>
            <?php } ?>
        </tr>
    <?php } ?>
    </tbody>
</table>