<?php if ( Zend_Auth::getInstance()->hasIdentity() ){?>
    <!DOCTYPE html>
    <!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
    <!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
    <!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="author" content="Darius Matulionis darius@matulionis.lt">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?= $this->headMeta()?>
        <?= $this->headTitle()->setSeparator(' - ')?>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="/css/admin_css/ie.css">
        <![endif]-->

        <!-- jQuery jGrowl Styles -->
        <?php $this->minifyHeadLink()->appendStylesheet('http://'.$_SERVER['HTTP_HOST'].'/css/admin_css/extended.css'); ?>
        <?php $this->minifyHeadLink()->prependStylesheet('http://'.$_SERVER['HTTP_HOST'].'/css/admin_css/chromatron-blue.css'); ?>
        <?php $this->headLink()->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css'); ?>
        <?php $this->headLink()->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.0/sweetalert2.min.css'); ?>
        <?php $this->minifyHeadLink()->prependStylesheet('http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css'); ?>
        <?php echo $this->minifyHeadLink(); ?>
        <?php echo $this->headLink(); ?>

        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="<?php echo $this->baseUrl('img/icons/favicon.ico')?>">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?php echo $this->baseUrl('http://'.$_SERVER['HTTP_HOST'].'/img/icons/apple-touch-icon-114-precomposed.png',true)?>">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?php echo $this->baseUrl('http://'.$_SERVER['HTTP_HOST'].'/img/icons/apple-touch-icon-72-precomposed.png',true)?>">
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->baseUrl('http://'.$_SERVER['HTTP_HOST'].'/img/icons/apple-touch-icon-57-precomposed.png',true)?>">


        <?php $this->minifyHeadScript()->prependFile( 'http://'.$_SERVER['HTTP_HOST'].'/js/admin/default.js' ) ?>
        <?php $this->minifyHeadScript()->prependFile( 'http://'.$_SERVER['HTTP_HOST'].'/js/admin/timepicker/jquery-ui-timepicker-addon.min.js' ) ?>
        <?php $this->minifyHeadScript()->prependFile( 'http://'.$_SERVER['HTTP_HOST'].'/js/admin/navigation.js' ) ?>
        <?php $this->minifyHeadScript()->prependFile( 'http://'.$_SERVER['HTTP_HOST'].'/js/admin/bootstrap/bootstrap.min.js' ) ?>
        <?php $this->minifyHeadScript()->prependFile( 'http://'.$_SERVER['HTTP_HOST'].'/js/admin/navigation.js' ) ?>
        <?php $this->minifyHeadScript()->prependFile( 'http://'.$_SERVER['HTTP_HOST'].'/js/admin/libs/selectivizr.js' ) ?>
        <?php $this->minifyHeadScript()->prependFile( 'http://'.$_SERVER['HTTP_HOST'].'/js/admin/libs/modernizr.js' ) ?>
        <?php $this->minifyHeadScript()->prependFile( 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js' ); ?>
        <?php $this->minifyHeadScript()->prependFile( 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.0/sweetalert2.min.js' ); ?>
        <?php $this->minifyHeadScript()->prependFile( 'http://code.jquery.com/ui/1.10.3/jquery-ui.min.js' ); ?>
        <?php $this->minifyHeadScript()->prependFile( 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js' ) ?>
        <?php echo $this->minifyHeadScript(); ?>
        <?php //echo $this->headScript(); ?>


        <!-- jQ -->
        <?php echo $this->jQuery()->setRenderMode( ZendX_JQuery::RENDER_JQUERY_ON_LOAD );?>
        <!-- jQ END-->

        <script type="text/javascript">
            $(document).ready(function() {
                $("div.controls ul.errors").each(function(){
                    $(this).prev().addClass('error');
                });
            });
        </script>
    </head>
    <body>
    <?php $admin = Core_Auth_Admin::getInstance()->getStorage()->read(); //var_dump($admin);?>

    <!-- Main page container -->
    <div class="container-fluid">
        <!-- Left (navigation) side -->
        <?php if(!$_GET['hideSideBar']){ ?>
            <a title="" class="nav-toggle <?php echo $_GET['hideSideBar'] ? "no-sidebar" : "" ?>" href="#" data-original-title="On/Off navigation-block"><span class="awe-chevron-left"></span></a>
        <?php } ?>
        <section class="navigation-block" <?php echo $_GET['hideSideBar'] ? "style='display:none;'" : "" ?>>
            <!-- User profile -->
            <section class="user-profile">
                <figure>
                    <img src="/img/sample_content/sample-image-50x50.png" alt="<?php echo $admin->adm_name . ' ' . $admin->adm_surname?>">
                    <figcaption>
                        <strong><a href="#" class=""><?php echo $admin->adm_name . ' ' . $admin->adm_surname?></a></strong>
                        <em><?php echo $admin->group_title?></em>
                        <ul>
                            <li><a class="btn btn-primary btn-flat" href="<?php echo $this->baseUrl('auth/logout')?>" title="Securely logout from application"><?php echo Core_Locale::translate('Log out')?></a></li>
                        </ul>
                    </figcaption>
                </figure>
            </section>
            <!-- /User profile -->
            <?php echo $this->navigation()->menu()->setPartial('_partial/navigation.phtml');?>
        </section>
        <!-- /Left (navigation) side -->

        <!-- Right (content) side -->
        <?php
        $url = $this->Url();
        $title = Core_Auth_Admin::getInstance()->getStorage()->read()->group_title;
        $model = new Model_AdminGroups();
        $hide = $model->hideDashboard($title);

        if($url == "/" || $url == "/admin/en" || $url == "/admin/en/index/map" || $url == "/admin/lt/index/map")
        {
           $hideDash = $hide['hide_dashboard'];
        }
        ?>
        <section class="content-block <?php echo $_GET['hideSideBar'] ? "no-sidebar" : "" ?>" role="main" style="<?php if($hideDash == '1'){echo 'display: none;';}else{echo 'display: block;';}?>">
            <?php echo $this->navigation()->breadcrumbs()->setLinkLast(false)->setMinDepth(0)->setRenderInvisible(true)->setPartial('_partial/breadcrumbs.phtml');  ?>
            <?php if(!$this->dashboard){ ?>
                <div class="row-fluid">
                    <?php echo $this->layout()->content;?>
                </div>
            <?php } else { ?>
                <?php echo $this->layout()->content;?>
            <?php } ?>


            <?php $messages = Zend_Registry::get('translate_log_writer')->getUntranslatedMessages(); ?>
            <?php if(!empty($messages)){ ?>
                <div class="row-fluid">
                    <article class="span12 data-block nested">
                        <div class="data-container">
                            <header><h2><?php echo Core_Locale::translate('This Page Missing Translations')?></h2></header>
                            <section>
                                <table class="table table-hover table-striped dataTable">
                                    <thead>
                                    <tr>
                                        <th>Kay</th>
                                        <th>Translations</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach($messages as $msg){ ?>
                                        <tr>
                                            <td><?php echo $msg['msgid']?></td>
                                            <td><input type="text" value="" id="translation"></td>
                                            <td><button type="button" class="btn btn-alt btn-primary pull-right translationSaveBtn" data-id="<?php echo $msg['id']?>" data-msgid="<?php echo $msg['msgid']?>" data-locale="<?php echo $msg['locale']?>">Save</button></td>
                                        </tr>
                                    <?php } ?>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </article>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('.translationSaveBtn').click(function(){
                            var _self = $(this);
                            $.ajax({
                                async: false,
                                type: 'POST',
                                url: '<?php echo $this->baseUrl('index/save-translation') ?>',
                                data: {
                                    id : _self.attr('data-id'),
                                    msgid : _self.attr('data-msgid'),
                                    msgstring : _self.parent().parent().find('#translation').val(),
                                    locale : _self.attr('data-locale'),
                                    is_translated : 1
                                },
                                success: function(data){
                                    _self.parent().parent().remove();
                                }
                            });
                        });
                    });
                </script>
            <?php } ?>

        </section>
    </div>
    </body>
    </html>
<?php }?>
