<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' => [
                'add' => [
                    "href" => $this->baseUrl('configurations/fine-status-insert'),
                    "label" => "Add Fine Status"
                ]
            ]
        ]); ?>
        <section>
            <?php
            echo
            $this->dataTableList(
                $this->items, [
                'title',
            ], [
                Core_Locale::translate('Title'),
            ],
                [
                    'noActions' => false,
                    'view' => [
                        'action' => 'fine-status-insert',
                        'controller' => 'configurations',
                        'module' => 'admin',
                        'lang' => LANG
                    ],
                    'insert_edit' => [
                        'action' => 'fine-status-insert',
                        'controller' => 'configurations',
                        'module' => 'admin',
                        'lang' => LANG
                    ]
                ], [
                'ShowTableSearch' => true,
                'ShowTableActions' => true,
                'NotDefaultNo' => false,
            ]);
            ?>
        </section>
    </div>
</article>

