<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' => [
                'insert' => [
                    "href" => $this->baseUrl('configurations/fine-rates-insert'),
                    "label" => "Add Rate"
                ]
            ]
        ]); ?>
        <section>
            <?php
            echo
            $this->dataTableList(
                $this->items, [
                'title',
                'rate',
            ], [

                Core_Locale::translate('Title'),
                Core_Locale::translate('Rate').' (%)',
            ],
                [
                    'noActions' => false,
                    'view' => [
                        'action' => 'fine-rates-insert',
                        'controller' => 'configurations',
                        'module' => 'admin',
                        'lang' => LANG
                    ],
                    'insert_edit' => [
                        'action' => 'fine-rates-insert',
                        'controller' => 'configurations',
                        'module' => 'admin',
                        'lang' => LANG
                    ]
                ], [
                'ShowTableSearch' => true,
                'ShowTableActions' => true,
                'NotDefaultNo' => false,
            ]);
            ?>
        </section>
    </div>
</article>

