<article class="span12 data-block nested">
    <div class="data-container">
        <?php $config = Zend_Registry::get('cmsEnv');
        $subactions = [];
        foreach ($config->languages as $lang => $val) {
            $subactions[$lang] = [
                "href" => '/admin/' . LANG . '/configurations/translations/lng/' . $lang,
                "label" => strtoupper($lang),
                "btn" => $this->lng == $lang ? 'success' : 'info'
            ];
        }
        ?>
        <?= $this->partial('_partial/header.phtml', [$this, 'sub_actions' => $subactions]); ?>

        <section>
            <table class="table table-hover table-striped dataTable">
                <thead>
                <tr>
                    <th><?php echo Core_Locale::translate('MsgId') ?></th>
                    <th><?php echo Core_Locale::translate('Msg') ?></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->items as $item): ?>
                    <tr>
                        <td><?php echo $item['msgid'] ?></td>
                        <td><input type="text" id="msg<?php echo $item['id'] ?>"
                                   value="<?php echo $item['msgstring'] ?>" class="form-control"/></td>
                        <td>
                            <button class="btn btn-danger updateTranslationBtn" data-id="<?php echo $item['id'] ?>">
                                Update
                            </button>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </section>
    </div>
</article>
<script type="text/javascript">
    $(document).ready(function () {
        $('.updateTranslationBtn').click(function () {
            var button = $(this);
            var id = $(this).attr('data-id');
            var val = $('#msg' + id).val();

            if (id && val) {
                $.ajax({
                    type: "POST",
                    data: {
                        id: id,
                        val: val
                    },
                    success: function () {
                        button.html('Updated').removeClass('btn-danger').addClass('btn-success');
                    }
                });
            }
        });
    });
</script>
