<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' => [
                'insert_zones' => [
                    "href" => $this->baseUrl('configurations/zones-insert'),
                    "label" => "Add Zone"
                ]
            ]
        ]); ?>
        <section>
            <?php
            echo
            $this->dataTableList(
                $this->items, [
                'zone_name',
                'zone_code',
                'hour_price',
                'work_time_begin',
                'work_time_end',
                'warning_pay_time',
                'warning_price',
                'tolerance_time',
                'title',
                'minutes_to_not_paid'
            ], [

                Core_Locale::translate('Zone_name'),
                Core_Locale::translate('Zone_code'),
                Core_Locale::translate('Hour_price'),
                Core_Locale::translate('Work_time_begin'),
                Core_Locale::translate('Work_time_end'),
                Core_Locale::translate('Warning_pay_time'),
                Core_Locale::translate('Warning_price'),
                Core_Locale::translate('Tolerance_time'),
                Core_Locale::translate('whitelisgroups'),
                Core_Locale::translate('minutes_to_not_paid')
            ],
                [
                    'noActions' => false,
                    'view' => [
                        'action' => 'Zones-insert',
                        'controller' => 'configurations',
                        'module' => 'admin',
                        'lang' => LANG
                    ],
                    'insert_edit' => [
                        'action' => 'Zones-insert',
                        'controller' => 'configurations',
                        'module' => 'admin',
                        'lang' => LANG
                    ]
                ], [
                'ShowTableSearch' => true,
                'ShowTableActions' => true,
                'NotDefaultNo' => false,
            ]);
            ?>
        </section>
    </div>
</article>

