<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', $this); ?>
        <section>
            <?php if ($this->error) { ?>
                <div class="alert alert-error fade in">
                    <strong><?php echo Core_Locale::translate('Form has errors') ?></strong>
                </div>
            <?php } ?>
            <form enctype="application/x-www-form-urlencoded" class="form-horizontal" action="" method="post">
                <div class="row-fluid">
                    <div class="span4">
                        <?php echo $this->form->id ?>
                        <?php echo $this->form->visible ?>
                        <?php echo $this->form->billing_id ?>
                        <?php echo $this->form->zone_name ?>
                        <?php echo $this->form->zone_code ?>
                        <?php echo $this->form->hour_price ?>
                    </div>
                    <div class="span4">
                        <?php echo $this->form->work_time_begin ?>
                        <?php echo $this->form->work_time_end ?>
                        <?php echo $this->form->warning_pay_time ?>
                        <?php echo $this->form->warning_price ?>
                        <?php echo $this->form->tolerance_time ?>
                    </div>
                    <div class="span4">
                        <?php echo $this->form->minutes_to_not_paid ?>
                        <?php echo $this->form->pvm ?>
                        <?php echo $this->form->usms_zone ?>
                        <?php echo $this->form->published_time ?>
                        <?php echo $this->form->enforcement_time ?>
                        <?php echo $this->form->zone_address ?>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <?php echo $this->form->title ?>
                    </div>
                </div>
                <?php if($this->form->id->getValue()) { ?>
                <div class="row-fluid">
                    <div class="span12">
                        <h3><?php echo Core_Locale::translate('Cause rates') ?></h3>
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th><?php echo Core_Locale::translate('Cause') ?></th>
                                    <th><?php echo Core_Locale::translate('Fine') ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ((new Model_BlackListCauses)->fetchAll() as $cause) { ?>
                                <tr>
                                    <td><?php echo $cause->title ?></td>
                                    <td>
                                        <input type="hidden" name="fine_rates[<?php echo $cause->id?>][cause_id]" value="<?php echo $cause->id?>" />
                                        <input type="hidden" name="fine_rates[<?php echo $cause->id?>][zone_id]" value="<?php echo $this->form->id->getValue() ?>" />
                                        <input type="text" name="fine_rates[<?php echo $cause->id?>][rate]" value="<?php echo $this->fine_rates[$cause->id] ?? '' ?>" />
                                    </td>
                                </tr>
                                <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </div>
                <?php } ?>

                <div class="row-fluid">
                    <div class="span12">
                        <?php echo $this->form->save ?>
                    </div>
                </div>
            </form>
        </section>
    </div>
</article>