<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?php
    $this->headTitle("ParkEnforce")->setSeparator(' | ');
    echo $this->headTitle();
    ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/font-awesome.css" rel="stylesheet">
    <link href="/bootstrap/css/swagger.css" rel="stylesheet">
    <link href="/bootstrap/css/extended.css" rel="stylesheet">
    <link href="/bootstrap/css/jquery-ui/ui.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon" href="<?= $this->baseUrl('favicon.png?v=1'); ?>"/>
    <link rel="shortcut icon" href="<?= $this->baseUrl('favicon.ico?v=1') ?>" type="image/vnd.microsoft.icon"/>
    <link rel="icon" href="<?= $this->baseUrl('favicon.ico?v=1') ?>" type="image/vnd.microsoft.icon"/>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.datepicker.js"></script>

    <script type="text/javascript">
        WebFontConfig = {google: {families: ['Open+Sans+Condensed:300,300italic,700:latin']}};
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
</head>

<body>
<div class="container">
    <div class="row" style="margin:0 25px 10px 25px;">
        <div class="span5">
            <h1 class="blue pull-left"><?php echo $this->formTitle ?></h1>
        </div>
    </div>
</div>
<div class="container-narrow">
    <div class="row-fluid">
        <?= $this->layout()->content ?>
    </div>
</div> <!-- /container -->
</body>
</html>
