<article class="span12 data-block nested">
    <div class="data-container">
        <?php if (!empty($this->parking_update_buttons)) {
            $var = [
                'import_omnitel' => [
                    "href" => '/cron/get-omnitel-parking',
                    "label" => Core_Locale::translate('Update Omnitel DB')
                ],
                'import_tele2' => [
                    "href" => '/cron/get-tele2-parking',
                    "label" => Core_Locale::translate('Update Tele2 DB')
                ],
                'import_bite' => [
                    "href" => '/cron/get-bite-parking',
                    "label" => Core_Locale::translate('Update Bite DB')
                ],
                'import_bite_trakai' => [
                    "href" => '/cron/get-bite-trakai-parking',
                    "label" => Core_Locale::translate('Update Bite Trakai DB')
                ],
            ];
        } else {
            $var = null;
        } ?>
        <?= $this->partial('_partial/header.phtml',
            [
                $this,
                'sub_actions' => $var
            ]); ?>


        <section>
            <form class="form-search well" method="get">
                <div class="control-group pull-left">
                    <input type="text" name="date_from" value="<?php echo $this->date_from ?>"
                           class="search-query datepicker"
                           placeholder="<?php echo Core_Locale::translate('Date Paid From') ?>">
                    <input type="text" name="date_to" value="<?php echo $this->date_to ?>"
                           class="search-query datepicker"
                           placeholder="<?php echo Core_Locale::translate('Date Paid To') ?>">
                    <input type="text" name="filter" value="<?php echo $this->filter ?>" class="search-query"
                           placeholder="<?php echo Core_Locale::translate('Filter') ?>">
                </div>
                <div style="clear: both"></div>
                <div class="control-group pull-left">
                    <?php if ($this->city_list->count()) { ?>
                        <select name="city[]" multiple data-placeholder="<?php echo Core_Locale::translate('City') ?>">
                            <?php foreach ($this->city_list as $o) { ?>
                                <option value="<?php echo $o['id'] ?>"
                                    <?php echo $this->city && in_array($o['id'], $this->city) ? 'selected' : '' ?>
                                >
                                    <?php echo $o['CityName'] ?>
                                </option>
                            <?php } ?>
                        </select>
                    <?php } ?>
                    <?php if (count($this->zones_list)) { ?>
                        <select name="zone[]" multiple data-placeholder="<?php echo Core_Locale::translate('Zones') ?>">
                            <?php foreach ($this->zones_list as $z) { ?>
                                <option value="<?php echo $z['id'] ?>"
                                    <?php echo $this->zone && in_array($z['id'], $this->zone) ? 'selected' : '' ?>
                                >
                                    <?php echo $z['zone_name'] ?> (<?php echo $z['zone_code'] ?>)
                                </option>
                            <?php } ?>
                        </select>
                    <?php } ?>
                    <select name="operator" class="search-query" id="operatorFilter"
                            data-operator="<?php echo $this->operator ?>">
                        <option value=""></option>
                        <?php foreach ($this->operators as $operator) { ?>
                            <option value="<?php echo $operator ?>"><?php echo $operator ?></option>
                        <?php } ?>
                    </select>
                </div>
                <div style="clear: both"></div>
                <div class="control-group pull-left">
                    <button type="submit" class="btn"><?php echo Core_Locale::translate('Search') ?></button>
                </div>
                <div style="clear: both"></div>
            </form>
            <form method="post">
                <div class="control-group pull-right">

                    <input type="hidden" name="table" value="<?php echo $this->table ?>"/>
                    <button type="submit" class="btn" name="atas"
                            value="atas"><?php echo Core_Locale::translate('Ataskaita') ?></button>
                    <button type="submit" class="btn" name="csv"
                            value="csv"><?php echo Core_Locale::translate('CSV') ?></button>
                    <button type="submit" class="btn" name="xls"
                            value="xls"><?php echo Core_Locale::translate('Excel') ?></button>
                </div>
            </form>
            <br/>
            <table class="table table-hover table-striped tableContentAlignLeft">
                <thead>
                <tr>
                    <th><?php echo Core_Locale::translate('Eiles nr.') ?></th>
                    <th><?php echo Core_Locale::translate('City') ?></th>
                    <th><?php echo Core_Locale::translate('Zones') ?></th>
                    <th><?php echo Core_Locale::translate('Operator') ?></th>
                    <th><?php echo Core_Locale::translate('Plate') ?></th>
                    <th><?php echo Core_Locale::translate('Bar code') ?></th>
                    <th><?php echo Core_Locale::translate('Phone') ?></th>
                    <th><?php echo Core_Locale::translate('Hours') ?></th>
                    <th><?php echo Core_Locale::translate('Minutes')?></th>
                    <th><?php echo Core_Locale::translate('Free Minutes')?></th>
                    <th><?php echo Core_Locale::translate('From') ?></th>
                    <th><?php echo Core_Locale::translate('Till') ?></th>
                    <th><?php echo Core_Locale::translate('Billing ID') ?></th>
                    <th><?php echo Core_Locale::translate('Price') ?></th>
                </tr>
                </thead>
                <tbody>
                <?php if ($this->paginator->count()) {
                    if (!$this->page) {
                        $p = (((DEFAULT_PAGINATION_ITEMS) * 1) - (DEFAULT_PAGINATION_ITEMS - 1));
                    } else {
                        $p = ((DEFAULT_PAGINATION_ITEMS) * ($this->page) - (DEFAULT_PAGINATION_ITEMS - 1));
                    }
                }
                $sumPrice = 0;
                foreach ($this->paginator->getCurrentItems() as $i) { ?>
                    <tr>
                        <td><?php echo $p++; ?></td>
                        <td><?php echo $i['city'] ?></td>
                        <td><?php echo $i['zone_code'] ?></td>
                        <td><?php echo $i['operator'] ?></td>
                        <td><?php echo $i['plate'] ?></td>
                        <td><?php echo $i['bar_code'] ?></td>
                        <td><?php echo $i['phone'] ?></td>
                        <td><?php echo $i['duration_hours'] ?></td>
                        <td><?php echo round(abs( strtotime("".($i['date_end'])."") - strtotime($i['date_start'])) / 60); ?></td>
                        <td><?php echo $i['free_time_in_minutes'] ?></td>
                        <td><?php echo $i['date_start'] ?></td>
                        <td><?php echo $i['date_end'] ?></td>
                        <td><?php echo $i['billing_id'] ?></td>
                        <td><?php echo $i['price'] ?></td>
                    </tr>
                <?php }
                if ( $this->paginator_params['locale'] == 'ee' ) {

                    foreach ( $this->allData->getCurrentItems() as $data ) {
                        $sumPrice += $data['price'];
                    }
                ?>
                    <tr>
                        <td colspan="13">&nbsp;</td>
                        <td><?php echo number_format( $sumPrice, 2); ?></td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>

            <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                ['paginator_params' => $this->paginator_params]); ?>
        </section>
    </div>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $("#operatorFilter").val($("#operatorFilter").attr('data-operator'));
    });
</script>

