<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' =>
                [
                ]
        ]); ?>


        <section>
            <form class="form-search well" method="get">
                <div class="control-group pull-right">
                    <div class="controls">
                        <input type="text" name="date_from" value="<?php echo $this->date_from ?>"
                               class="search-query datepicker"
                               placeholder="<?php echo Core_Locale::translate('Date Paid From') ?>">
                        <input type="text" name="date_to" value="<?php echo $this->date_to ?>"
                               class="search-query datepicker"
                               placeholder="<?php echo Core_Locale::translate('Date Paid To') ?>">
                        <input type="text" name="filter" value="<?php echo $this->filter ?>" class="search-query"
                               placeholder="<?php echo Core_Locale::translate('Filter') ?>">
                        <button type="submit" class="btn"><?php echo Core_Locale::translate('Search') ?></button>
                    </div>
                </div>
            </form>
            <br/>
            <table class="table table-hover table-striped tableContentAlignLeft">
                <thead>
                <tr>
                    <th><?php echo Core_Locale::translate('Eiles nr.') ?></th>
                    <th><?php echo Core_Locale::translate('Date') ?></th>
                    <th><?php echo Core_Locale::translate('Request') ?></th>
                    <th><?php echo Core_Locale::translate('Response') ?></th>

                </tr>
                </thead>
                <tbody>
                <?php if ($this->paginator->count()) {
                    if (!$this->page) {
                        $p = (((DEFAULT_PAGINATION_ITEMS) * 1) - (DEFAULT_PAGINATION_ITEMS - 1));
                    } else {
                        $p = ((DEFAULT_PAGINATION_ITEMS) * ($this->page) - (DEFAULT_PAGINATION_ITEMS - 1));
                    }
                }
                foreach ($this->paginator->getCurrentItems() as $i) { ?>
                    <tr>
                        <td><?php echo $p++; ?></td>
                        <td><?php echo $i['date'] ?></td>
                        <td><?php echo '<pre>' . str_replace(',', ',</br>', $i['request']) . '</pre>' ?></td>
                        <td><?php echo '<pre>' . str_replace(',', ',</br>', $i['response']) . '</pre>' ?></td>

                    </tr>
                <?php } ?>
                </tbody>
            </table>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                ['paginator_params' => $this->paginator_params]); ?>
        </section>
    </div>
</article>


