<!doctype html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Error 500</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- Styles -->
    <link rel="stylesheet/less" href="/less/style.less">

    <!-- JS Libs -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery.js"><\/script>')</script>
    <script src="/js/admin/libs/modernizr.js"></script>
    <script src="/js/admin/libs/selectivizr.js"></script>

    <script src="/js/admin/less.js"></script>
</head>
<body class="error-page">
<section class="error-container">
    <strong>500</strong>
    <p class="description">Oops! Server error...</p>
    <p>Sorry, it appears there has been an internal server error with the page you've requested If the problem persists,
        please contact our support at <a href="mailto:darius@matulionis.lt">darius@matulionis.lt</a></p>
    <a href="<?php echo $_SERVER['HTTP_REFERER'] ?>" class="btn btn-alt btn-primary btn-large" title="Go Back">Go
        Back</a>
</section>

<section style="margin-left: 50px;">
    <div style="clear: boath;display:block;height:50px;"></div>
    <?php if ($this->showErrors): ?>
        <p class="errmsg"><?php echo $this->message . " - " . $this->exception->getMessage() ?></p>
        <p class="stack"><?php echo str_replace("#", "<br/>#", $this->exception->getTraceAsString()) ?></p>
        <pre class="params"><?php echo var_export($this->request->getParams(), true) ?></pre>
    <?php endif; ?>
</section>
</body>
</html>