<?php
/**
 * @name error-messages
 * @copyright Baltic Aviation Academy
 * @author Darius Matulionis <d.matulionis@balticaa.com>
 */
?>

<style>
    #top_cap {
        width: 850px;
        height: 6px;
        background: url(<?=$this->baseUrl('img/top_cap.png')?>) no-repeat;
    }

    #bottom_cap {
        width: 850px;
        height: 6px;
        background: url(<?=$this->baseUrl('img/bottom_cap.png')?>) no-repeat;
    }

    div#container {
        overflow: hidden;
    }

    #container {
        width: 850px;
        background: url(<?=$this->baseUrl('img/content_bg.png')?>) repeat-y;
    }

    #notfound {
        margin: auto;
        width: 631px;
        height: 310px;
        padding-top: 30px;
        background: url(<?=$this->baseUrl('img/notfound_' .$this->errorType. '.png')?>) no-repeat bottom;
    }

    p.notfound_desc {
        width: 600px;
        padding: 10px 0px 10px 0px;
        margin: auto;
        font-size: 13px;
        color: #575e64;
        line-height: 30px;
        text-align: center;
    }

    .stack {
        text-align: left;
        width: 800px;
        padding-left: 10px;
        margin: auto;
        font-size: 10px;
    }

    .params {
        padding-left: 30px;
    }

    .errmsg {
        padding-left: 30px;
        font-weight: bold;
    }

    p.notfound_desc a {
        color: #3165a2;
        font-size: 18px;
        padding-left: 20px;
    }
</style>

<div style="margin-left: 80px;">
    <div id="top_cap"></div>
    <div id="container">
        <div id="notfound"></div>
        <?php if (!$this->isMail): ?>
            <?php if ($this->errorType == 'notice'): ?>
                <p class="notfound_desc">Whatever you're looking for has
                    been moved, removed or never existed.</p>
            <?php else: ?>
                <p class="notfound_desc">System administrators was informed
                    about this problem and will try to solve it as soon as posible</p>
            <?php endif; ?>
        <?php endif; ?>
        <?php if ($this->showErrors): ?>
            <p class="errmsg"><?php echo $this->message . " - " . $this->exception->getMessage() ?></p>
            <p class="stack"><?php echo str_replace("#", "<br/>#", $this->exception->getTraceAsString()) ?></p>
            <pre class="params"><?php echo var_export($this->request->getParams(), true) ?></pre>
        <?php endif; ?>
    </div>
    <div id="bottom_cap"></div>
</div>

