<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Restricted area</title>
    <meta name="description" content="">
    <meta name="author" content="Walking Pixels | www.walkingpixels.com">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet/less" href="/less/style.less">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon-57-precomposed.png">

    <!-- JS Libs -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery.js"><\/script>')</script>
    <script src="/js/admin/libs/modernizr.js"></script>
    <script src="/js/admin/libs/selectivizr.js"></script>

    <script src="/js/admin/less.js"></script>

</head>
<body class="error-page">

<!-- Error page container -->
<section class="error-container">
    <h1 style="font-size:80px">DRAUDŽIAMA</h1>
    <p class="description">Neturite teisių...</p>
    <a href="/admin" class="btn btn-alt btn-primary btn-large" title="Go Back">Atgal</a>
</section>
<!-- /Error page container -->

<!-- Bootstrap scripts -->
<script src="/js/admin/bootstrap/bootstrap-tooltip.js"></script>

</body>
</html>
