/*
 * TABLE OF CONTENTS:
 * - Browser reset
 * - HTML elements
 * - JsDoc styling
 */

/*
 * BEGIN BROWSER RESET
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}

html {
	height: 100%;
	overflow: -moz-scrollbars-vertical;
	overflow-x: auto
}

table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal
}

em,cite {
	font-style: italic
}

strong {
	font-weight: bold
}

ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0
}

/*
 * END BROWSER RESET
 */

/*
 * HTML ELEMENTS
 */
* {
	line-height: 1.4em;
}

html {
	font-size: 100%;
}

body {
	font-size: 0.75em !important;
	padding: 15px 0;
	background: #eee;
	background-image: -moz-linear-gradient(left, #dddddd, #f9f9f9);
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0,
		#dddddd), color-stop(1, #f9f9f9) );
}

body,input,select,textarea {
	color: #000;
	font-family: Arial, Geneva, sans-serif;
}

a:link,a:hover,a:active,a:visited {
	color: #19199e;
}

a:hover,a:focus {
	color: #00f;
	text-decoration: none;
}

p {
	margin: 0 0 1.5em 0;
}

/*
 * END HTML ELEMENTS
 */

/*
 * BEGIN HACK
 */
div.containerMain:after,div.safeBox:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

/*
 * END HACK
 */

/*
 * BEGIN JSDOC
 */
div.index *.heading1 {
	margin-bottom: 0.5em;
	border-bottom: 1px solid #999999;
	padding: 0.5em 0 0.1em 0;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 1.3em;
	letter-spacing: 1px;
}

div.index {
	float: left;
	width: 30%;
	min-width: 100px;
	max-width: 250px;
}

div.index div.menu {
	margin: 0 15px 0 -15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 15px 15px 15px 30px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px 0px 10px #c4c4c4;
	-webkit-box-shadow: 0px 0px 10px #c4c4c4;
	box-shadow: 0px 0px 10px #c4c4c4;
}

*+html div.index div.menu {
	background-color: #FFFFFF;
}

* html div.index div.menu {
	background-color: #FFFFFF;
}

div.index div.menu div {
	text-align: left;
}

div.index div.menu a {
	text-decoration: none;
}

div.index div.menu a:hover {
	text-decoration: underline;
}

div.index ul.classList a {
	font-family: Consolas, "Courier New", Courier, monospace;
}

div.index div.fineprint {
	padding: 15px 30px 15px 15px;
	color: #777;
	font-size: 0.9em;
}

div.index div.fineprint a {
	color: #777;
}

div.content {
	float: left;
	width: 70%;
	min-width: 300px;
	max-width: 600px;
}

div.innerContent {
	padding: 0 0 0 2.5em;
}

div.content ul,div.content ol {
	margin-bottom: 3em;
}

div.content *.classTitle {
	margin-bottom: 0.5em;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 2.5em;
	letter-spacing: 2px;
}

div.content *.classTitle span {
	font-family: Consolas, "Courier New", Courier, monospace;
}

div.content p.summary {
	font-size: 1.2em;
}

div.content ul *.classname a,div.content ul *.filename a {
	font-family: Consolas, "Courier New", Courier, monospace;
	text-decoration: none;
	font-weight: bold;
}

div.content ul *.classname a:hover,div.content ul *.filename a:hover {
	text-decoration: underline;
}

div.content div.props {
	position: relative;
	left: -10px;
	margin-bottom: 2.5em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 15px 15px 15px;
	overflow: hidden;
	background: #fff;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.2) ); /* FF3.6 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,
		255, 255, 0.7) ), color-stop(1, rgba(255, 255, 255, 0.2) ) );
	-moz-box-shadow: 0px 0px 10px #ccc;
	-webkit-box-shadow: 0px 0px 5px #bbb;
	box-shadow: 0px 0px 5px #bbb;
}

div.content div.props div.sectionTitle {
	padding-bottom: 10px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 1.4em;
	letter-spacing: 1px;
}

div.content div.hr {
	margin: 0 10px 0 0;
	height: 4em;
}

table.summaryTable {
	position: relative;
	left: -10px;
	width: 100%;
	border-collapse: collapse;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	-icab-box-sizing: content-box;
	-khtml-box-sizing: content-box;
}

table.summaryTable caption {
	padding: 0 10px 10px 10px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 1.4em;
	letter-spacing: 1px;
}

table.summaryTable td,table.summaryTable th {
	padding: 0px 10px 10px 10px;
	vertical-align: top;
}

table.summaryTable tr:last-child td {
	padding-bottom: 0;
}

table.summaryTable th {
	font-weight: bold;
}

table.summaryTable td.attributes {
	width: 35%;
	font-family: Consolas, "Courier New", Courier, monospace;
	color: #666;
}

table.summaryTable td.nameDescription {
	width: 65%
}

table.summaryTable td.nameDescription div.fixedFont {
	font-weight: bold;
}

table.summaryTable div.description {
	color: #333;
}

dl.detailList {
	margin-top: 0.5em;
}

dl.detailList.nomargin+dl.detailList.nomargin {
	margin-top: 0;
}

dl.detailList dt {
	display: inline;
	margin-right: 5px;
	font-weight: bold;
}

dl.detailList dt:before {
	display: block;
	content: "";
}

dl.detailList dd {
	display: inline;
}

dl.detailList.params dt {
	display: block;
}

dl.detailList.params dd {
	display: block;
	padding-left: 2em;
	padding-bottom: 0.4em;
}

ul.fileList li {
	margin-bottom: 1.5em;
}

.fixedFont {
	font-family: Consolas, "Courier New", Courier, monospace;
}

.fixedFont.heading {
	margin-bottom: 0.5em;
	font-size: 1.25em;
	line-height: 1.1em
}

.fixedFont.heading+.description {
	font-size: 1.2em;
}

.fixedFont.heading .light,.fixedFont.heading .lighter {
	font-weight: bold;
}

pre.code {
	margin: 10px 0 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	overflow: auto;
	font-family: Consolas, "Courier New", Courier, monospace;
	background: #eee;
}

.light {
	color: #666;
}

.lighter {
	color: #999;
}

.clear {
	clear: both;
	width: 100%;
	min-height: 0;
}

/*
 * END JSDOC
 */