<article class="span12 data-block nested">
    <div class="data-container">
        <script src="/js/admin/plugins/fileupload/bootstrap-fileupload.js"></script>
        <script src="/js/admin/plugins/inputmask/bootstrap-inputmask.js"></script>
        <?= $this->partial('_partial/header.phtml', $this) ?>
        <section>
            <div class="alert alert-info fade in">
                <strong><?php echo Core_Locale::translate('before_import_notifications_all_data_will_be_deleted') ?></strong>
            </div>

            <div class="alert alert fade in">
                <strong>CSV FILE STUCTURE:</strong> contract_no | plate | company | contract_date | date_from | date_to
                | contract_sum | company_code | pvm_code | address | email | phone | comment
            </div>

            <form class="form-inline well" method="post" enctype="multipart/form-data">
                <div class="control-group">
                    <div class="controls">
                        <div class="form-controls pull-left mr20px">
                            <div class="input-prepend">
                                <span class="add-on"><?php echo Core_Locale::translate('Group') ?></span>
                                <select name="group" id="prependedInput">
                                    <?php if (!empty($this->wlg_pairs)) {
                                        foreach ($this->wlg_pairs as $id => $label) { ?>
                                            <option value="<?php echo $id ?>"
                                                    label="<?php echo $label ?>"><?php echo $label ?></option>
                                        <?php }
                                    } ?>
                                </select>
                            </div>
                        </div>

                        <div class="form-controls pull-left mr20px">
                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="icon-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                        </div>
                                        <span class="btn btn-alt btn-file">
                                            <span class="fileupload-new"><?php echo Core_Locale::translate('Select file') ?></span>
                                            <span class="fileupload-exists"><?php echo Core_Locale::translate('Change') ?></span>
                                            <input type="file" name="whitelist"/>
                                        </span>
                                        <a href="#" class="btn btn-alt btn-danger fileupload-exists"
                                           data-dismiss="fileupload"><?php echo Core_Locale::translate('Remove') ?></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit"
                                class="btn btn-warning"><?php echo Core_Locale::translate('Import white list') ?></button>
                    </div>
                </div>
            </form>

        </section>
    </div>
</article>