<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' => [
                'import' => [
                    "href" => $this->baseUrl('whitelist/import'),
                    "label" => " Import white list"
                ]
            ]
        ]); ?>
        <section>
            <form class="form-search well" method="get">
                <div class="control-group pull-right">
                    <div class="controls">
                        <input type="text" name="filter" value="<?php echo $this->filter ?>" class="search-query"
                               placeholder="<?php echo Core_Locale::translate('Filter') ?>">
                        <button type="submit" class="btn"><?php echo Core_Locale::translate('Search') ?></button>
                    </div>
                </div>
            </form>
            <form method="post">
                <div class="control-group pull-right">

                    <input type="hidden" name="table" value="<?php echo $this->table ?>"/>
                    <button type="submit" class="btn" name="csv"
                            value="csv"><?php echo Core_Locale::translate('CSV') ?></button>
                </div>
            </form>
            <table class="table table-hover table-striped tableContentAlignLeft">
                <thead>
                <tr>
                    <th><?php echo Core_Locale::translate('Eiles nr.') ?></th>
                    <th><?php echo Core_Locale::translate('Plate') ?></th>
                    <th><?php echo Core_Locale::translate('Company') ?></th>
                    <th><?php echo Core_Locale::translate('Valid From') ?></th>
                    <th><?php echo Core_Locale::translate('Valid To') ?></th>
                    <th><?php echo Core_Locale::translate('Contract date') ?></th>
                    <th><?php echo Core_Locale::translate('Sum') ?></th>
                    <th><?php echo Core_Locale::translate('Address') ?></th>
                    <th><?php echo Core_Locale::translate('Group') ?></th>
                    <th><?php echo Core_Locale::translate('Zone name') ?></th>
                </tr>
                </thead>
                <tbody>
                <?php if ($this->paginator->count()) {
                    if (!$this->page) {
                        $p = (((DEFAULT_PAGINATION_ITEMS) * 1) - (DEFAULT_PAGINATION_ITEMS - 1));
                    } else {
                        $p = ((DEFAULT_PAGINATION_ITEMS) * ($this->page) - (DEFAULT_PAGINATION_ITEMS - 1));
                    }
                }
                foreach ($this->paginator->getCurrentItems() as $i) { ?>
                    <tr>
                        <td><?php echo $p++; ?></td>
                        <td><?php echo $i['plate'] ?></td>
                        <td><?php echo $i['company'] ?></td>
                        <td><?php echo $i['date_from'] ?></td>
                        <td><?php echo $i['date_to'] ?></td>
                        <td><?php echo $i['contract_date'] ?></td>
                        <td><?php echo $i['contract_sum'] ?></td>
                        <td><?php echo $i['address'] ?></td>
                        <td><?php echo $i['group'] ?></td>
                        <td><?php echo $i['zone_name'] ?></td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                ['paginator_params' => $this->paginator_params]); ?>
        </section>
    </div>
</article>

