<?php
/**
 * @name index.phtml
 * @author darius.matulionis
 */
?>
<ul id="resources">
	<?php foreach ($this->docs as $resource => $actions){?>
	<li class="resource">
		<div class="heading">
		    <h2>
		        <a href="#" onclick="$('#endpoints<?php echo $resource?>').toggle(); return false;">/<?php echo $resource?></a>
		    </h2>
		    <ul class="options">
		        <li>
		            <a href="#" onclick="$('#endpoints<?php echo $resource?>').toggle(); return false;">Show/Hide</a>
		        </li>
		        <li>
		            <a href="#" onclick="$('.<?php echo $resource?>actionContent').hide(); return false;">
		                List Operations
		            </a>
		        </li>
		        <li>
		            <a href="#" onclick="$('.<?php echo $resource?>actionContent').show(); return false;">
		                Expand Operations
		            </a>
		        </li>
		    </ul>
		</div>
		<ul class="endpoints" id="endpoints<?php echo $resource?>" style="display: none;">
			<li class="endpoint">
				<ul class="operations">
					<?php foreach ($actions as $action => $a){?>
					<li class="<?php echo $a['action']?> operation">
						<div class="heading">
			                <h3>
			                  <span class="http_method">
			                    <a href="#" onclick="$('#<?php echo $resource.$action?>_content').toggle(); return false;"><?php echo $a['action']?></a>
			                  </span>
			                  <span class="path">
			                    <a href="#" onclick="$('#<?php echo $resource.$action?>_content').toggle(); return false;"><?php echo str_replace(array("Action","index"), array("","test"), $action)?></a>
			                  </span>
			                </h3>
			                <ul class="options">
			                    <li><a href="#" onclick="$('#<?php echo $resource.$action?>_content').toggle(); return false;"><?php echo $a['dec']?></a></li>
			                </ul>
			            </div>
			            <div class="content <?php echo $resource?>actionContent" id="<?php echo $resource.$action?>_content" style="display: none;">

			                <div class="response">
			                    <h4>Request URL</h4>
			                    <div class="block request_url"><pre class="json"><code><?php echo $a['url']?></code></pre></div>
			                    <?php if(isset($a['post']) && !empty($a['post'])){?>
			                    <h4>Request Parameters</h4>
			                    <div class="block request_url"><pre class="json">
			                    	<?php foreach ($a['post'] as $p){?>
			                    	<div><?php echo $p?></div>
			                    	<?php }?>
			                    </pre></div>
			                    <?php }?>

			                    <?php if(isset($a['return_success']) && !empty($a['return_success'])){?>
			                    <h4>Response Success</h4>
			                    <div class="block response_success"><pre class="json">
			                    	<?php foreach ($a['return_success'] as $p){?>
			                    	<div><?php echo $p?></div>
			                    	<?php }?>
			                    </pre></div>
			                    <?php }?>

			                    <?php if(isset($a['return_error']) && !empty($a['return_error'])){?>
			                    <h4>Response Error</h4>
			                    <div class="block response_error"><pre class="json">
			                    	<?php foreach ($a['return_error'] as $p){?>
			                    	<div><?php echo $p?></div>
			                    	<?php }?>
			                    </pre></div>
			                    <?php }?>
			                </div>
			            </div>
					</li>
					<?php }?>
				</ul>
			</li>
		</ul>
	</li>
	<?php }?>
</ul>
