<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Login to CMS</title>
    <meta name="description" content="">
    <meta name="author" content="Darius Matulionis | www.matulionis.lt">
    <meta name="robots" content="index, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet/less" href="<?php echo $this->baseUrl('less/style.less', true) ?>">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="<?php echo $this->baseUrl('img/icons/favicon.ico', true) ?>">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="<?php echo $this->baseUrl('img/icons/apple-touch-icon-114-precomposed.png', true) ?>">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="<?php echo $this->baseUrl('img/icons/apple-touch-icon-72-precomposed.png', true) ?>">
    <link rel="apple-touch-icon-precomposed"
          href="<?php echo $this->baseUrl('img/icons/apple-touch-icon-57-precomposed.png', true) ?>">

    <!-- JS Libs -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="<?php echo $this->baseUrl('js/admin/libs/jquery.js',
            true)?>"><\/script>')</script>
    <script src="<?php echo $this->baseUrl('js/admin/libs/modernizr.js', true) ?>"></script>
    <script src="<?php echo $this->baseUrl('js/admin/libs/selectivizr.js', true) ?>"></script>

    <script src="<?php echo $this->baseUrl('js/admin/less.js', true) ?>"></script>
</head>
<body class="login-page">

<!-- Main login container -->
<div class="login-container">

    <!-- Login page logo -->
    <section>
        <!-- Login form -->
        <form action="<?php echo $this->form->getAction() ?>" method="<?php echo $this->form->getMethod() ?>"
              id="loginform">
            <fieldset>
                <div class="control-group">
                    <label for="username"><?= Core_Locale::translate('user_login_name') ?></label>
                    <div>
                        <?php echo $this->form->adm_login ?>
                    </div>
                </div>
                <div class="control-group">
                    <label for="password"><?= Core_Locale::translate('user_login_passwd') ?></label>
                    <div>
                        <?php echo $this->form->adm_password ?>
                    </div>
                    <div>

                        <label class="checkbox">
                            <?php echo $this->form->remember_me ?> <?= Core_Locale::translate('remember_me') ?>
                        </label>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary btn-alt" type="submit"><span
                                class="awe-signin"></span> <?= Core_Locale::translate('login_to_page') ?></button>
                </div>
            </fieldset>
        </form>

        <!-- /Login form -->

    </section>

    <!-- Login page navigation -->
    <nav>
        <ul>
            <li><?= Core_Locale::translate('reserved') ?></li>
            <li><?php echo date("Y") ?></li>
        </ul>
    </nav>
    <!-- Login page navigation -->

</div>
<!-- /Main login container -->

<!-- Bootstrap scripts -->
<script src="<?php echo $this->baseUrl('js/admin/bootstrap/bootstrap-alert.js', true) ?>"></script>
</body>
</html>