<div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="input-append">
        <div class="uneditable-input">
            <i class="icon-file fileupload-exists"></i>
            <span class="fileupload-preview"></span>
        </div>
        <span class="btn btn-alt btn-file">
            <span class="fileupload-new"><?php echo Core_Locale::translate('Select file') ?></span>
            <span class="fileupload-exists"><?php echo Core_Locale::translate('Change') ?></span>
            <input type="file" name="<?php echo $this->name ?>"/>
        </span>
        <a href="#" class="btn btn-alt btn-danger fileupload-exists"
           data-dismiss="fileupload"><?php echo Core_Locale::translate('Remove') ?></a>
    </div>
</div>