<?php
/**
 * @name breadcrumbs
 * @author Darius Matulionis <darius@matulionis.lt>
 */
?>

<?php

$request = Zend_Controller_Front::getInstance()->getRequest()->getParams();
$controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
if (!$request['error_handler']) {
    $request['link'] = implode("/", $request);
}

$act = null;
if ($request['controller'] == 'index' && $request['action'] == 'index') {
    $act = ' class="active"';
}

$count = count($this->pages);
$iter = 1;
if ($count > 1) {
    unset($this->pages[0]);
    $links = [];
    foreach ($this->pages as $page) {
        $page->setClass('');
        if ($iter < $count) {
            $links [] = "<li>" . $this->breadcrumbs()->htmlify($page) . "</li>";
        } else {
            $links [] = "<li><a href='#' class='active'>" . $page->getLabel() . "</a></li>";
        }

        $iter++;
    }
}
?>
<div class="row-fluid">
    <div class="span11">
        <ul class="breadcrumb">
            <li><a href="/admin" <?php echo $act ?> ><span
                            class="awe-home"></span><?php echo Core_Locale::translate('Home') ?></a></li>
            <?php if (!empty($links)) {
                echo implode(PHP_EOL, $links);
            } ?>
        </ul>
    </div>
    <div class="span1">
        <ul class="breadcrumb pull-right">
            <?php $config = Zend_Registry::get('cmsEnv'); ?>
            <?php foreach ($config->languages as $lang => $val) { ?>
                <li><a href="<?php echo $this->url(['lang' => $lang]); ?>" style="<?php if (LANG == $lang) {
                        echo 'color:#AE432E';
                    } ?>"><?php echo strtoupper($lang); ?></a></li>
            <?php } ?>
        </ul>
    </div>
</div>
