<?php
/**
 * @name dataTablesTree-list.phtml
 * @copyright Baltic Aviation Academy
 * @author Darius Matulionis <d.matulionis@balticaa.com>
 */
?>

<?php
$list_search_query = "_list_search_query";
$this->minifyHeadScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/media/js/jquery.dataTables.min.js');
$this->minifyHeadScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/media/js/dataTables.customFunctions.js');
$tableId = "";
if (isset($this->links ['tabeId'])) {
    $tableId = $this->links ['tabeId'];
}
//$this->minifyHeadLink()->appendStylesheet('js/admin/DataTables/extras/TableTools/media/css/TableTools.css' );
//$this->minifyHeadLink()->appendStylesheet('js/admin/DataTables/media/css/style.css');

$aoColumns = [];

if (isset($this->options['NotDefaultNo']) && !$this->options['NotDefaultNo']) {
    $aoColumns[] = '{ "sTitle": "Nr.", "sWidth": "30px", "sClass":"tal nosort" }';
}
foreach ($this->params as $key => $param) {
    if (isset($this->params_title[$key])) {
        if (isset($this->options['colsWidth']) && $this->options['colsWidth'][$key]) {
            $aoColumns[] = '{ "sTitle": "' . $this->params_title[$key] . '", "sWidth": "' . $this->options['colsWidth'][$key] . 'px", "sClass":"tal" }';
        } else {
            $aoColumns[] = '{ "sTitle": "' . $this->params_title[$key] . '", "sClass":"tal" }';
        }
    } else {
        $aoColumns[] = '{ "sTitle": "' . $param . '", "sClass":"tal" }';
    }
}
if (isset($this->links['noActions']) && !$this->links['noActions']) {
    $aoColumns[] = '{ "sTitle": "", "sWidth": "100px", "sClass":"tal nosort" }';
}

?>

<script type="text/javascript" charset="utf-8">
    jQuery.fn.dataTableExt.oSort['natural-asc'] = function (a, b) {
        return naturalSort(a, b);
    };

    jQuery.fn.dataTableExt.oSort['natural-desc'] = function (a, b) {
        return naturalSort(a, b) * -1;
    };

    var oTable;
    $(document).ready(function () {
        oTable = $('#dataTableTable<?=$tableId?>').dataTable({
            //"aaSorting": [],
            "bSort": false,
            "iDisplayLength": 50,
            "sDom": '<"top"ifl<"clear">>rt<"bottom"ip<"clear">>',
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sProcessing": "Apdorojama...",
                "sZeroRecords": "Įrašų nerasta",
                "sInfo": "Rodomi įrašai nuo _START_ iki _END_ iš _TOTAL_ įrašų",
                "sInfoEmpty": "Rodomi įrašai nuo 0 iki 0 iš 0",
                "sInfoFiltered": "(atrinkta iš _MAX_ įrašų)",
                "sInfoPostFix": "",
                "sSearch": "Ieškoti:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Pirmas",
                    "sPrevious": "Ankstesnis",
                    "sNext": "Tolimesnis",
                    "sLast": "Paskutinis"
                },
                "sSearch": "",
                "sInfo": "",
                "sLengthMenu": 'Rodoma <select onchange="setDefaultListAmount(this.value)">' +
                '<option value="10">10</option>' +
                '<option value="20">20</option>' +
                '<option value="50">50</option>' +
                '<option value="100">100</option>' +
                '<option value="300">300</option>' +
                '<option value="-1">All</option>' +
                '</select> įrašų'
            },
            "aoColumns": [<?php echo implode(" , ", $aoColumns)?>],
            "aoColumnDefs": [{"sType": "natural", "aTargets": [0]}],
        });
        $("#dataTableTable_filter").prepend('<div id="filter-clear-button" class="search-query" onclick="oTable.fnFilter(\'\');$(\'#dataTableTable_filter\').find(\'input\').focus();"></div>');
    });

</script>
<style>
    td.fieldIcons {
        width: 100px;
    }
</style>
<table class="table table-hover table-striped" id="dataTableTable<?= $tableId ?>" style="width: 100%">
    <thead></thead>
    <?php if (!empty($this->list)) : ?>
        <tbody id="table_body">
        <?php foreach ($this->list as $k => $node) {
            if ($node->getId() != 1) { ?>
                <?php
                if (isset($this->links ['view'])) {
                    $this->links ['view'] ['id'] = $node->getId();
                }
                if (isset($this->links ['insert_edit'])) {
                    $this->links ['insert_edit'] ['id'] = $node->getId();
                }
                if (isset($this->links ['up'])) {
                    $this->links ['up'] ['moveup'] = $node->getId();
                }
                if (isset($this->links ['down'])) {
                    $this->links ['down'] ['movedown'] = $node->getId();
                }
                if (isset($this->links ['delete'])) {
                    $this->links ['delete'] ['delete'] = $node->getId();
                }
                if (isset($this->links ['visible'])) {
                    $this->links ['visible'] ['visible'] = $node->getId();
                }
                ?>
                <tr>
                    <td class="fieldEdit">
                        <?php if (isset($this->links['view']) && $node->getData('locked') == 0) { ?>
                            <a href="<?php echo $this->url($this->links['view'], null,
                                true); ?>"><?php echo $k + 1 ?></a>
                        <?php } else { ?>
                            <?php echo $k + 1 ?>
                        <?php } ?>
                    </td>
                    <td class="field1" style="padding-left:<?php echo ($node->getData('level')) * 20; ?>px">
                        <?php if ($node->getData('level') != 1) { ?>
                            <?php if (isset($this->links['view']) && $node->getData('locked') == 0) { ?>
                                <a href="<?php echo $this->url($this->links['view'], null, true); ?>">
                                    <span class="awe-folder-open"></span>
                                </a>
                            <?php } else { ?>
                                <span class="awe-folder-open"></span>
                            <?php } ?>
                        <?php } ?>
                        <?php if (isset($this->links['view']) && $node->getData('locked') == 0) { ?>
                            <a href="<?php echo $this->url($this->links['view'], null, true); ?>">
                                <?php echo $this->escape($node->getTitle()); ?>
                            </a>
                        <?php } else { ?>
                            <?php echo $this->escape($node->getTitle()); ?>
                        <?php } ?>
                    </td>
                    <?php if (!$this->links['noActions']) { ?>
                        <td class="fieldIcons" style="white-space: nowrap;">
                            <?php if ($node->getData('locked') == 0) { ?>
                                <?php if (isset($this->links['down'])) { ?>
                                    <a href="<?php echo $this->url($this->links['down'], null, true); ?>"><span
                                                class="icon-arrow-down"></span></a>
                                <?php } ?>
                                <?php if (isset($this->links['up'])) { ?>
                                    <a href="<?php echo $this->url($this->links['up'], null, true); ?>"><span
                                                class="icon-arrow-up"></span></a>
                                <?php } ?>
                                <?php if (isset($this->links['visible'])) { ?>
                                    <a href="<?php echo $this->url($this->links['visible'], null, true); ?>">
                                        <?php if ($node->getData('visible') == 0) { ?>
                                            <span class="icon-eye-close"></span>
                                        <?php } else { ?>
                                            <span class="icon-eye-open"></span>
                                        <?php } ?>
                                    </a>
                                <?php } ?>
                                <?php if (isset($this->links['delete'])) { ?>
                                    <a href="<?php echo $this->url($this->links['delete'], null, true); ?>"
                                       onclick="return confirm('Ar tikrai norite ištrinti?');"><span
                                                class="icon-ban-circle"></span></a>
                                <?php } ?>
                            <?php } ?>
                        </td>
                    <?php } ?>
                </tr>
            <?php }
        } ?>
        </tbody>
    <?php endif; ?>
</table>