<?php
/**
 * @name dataTables-list
 * @author Darius Matulionis <darius@matulionis.lt>
 */
?>

<?php
$allowed = true;
//minifyHeadScript
$this->headScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/media/js/jquery.dataTables.js');
$this->headScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/media/js/dataTables.customFunctions.js');
$this->headScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/extras/TableTools/media/js/TableTools.min.js');
$this->minifyHeadLink()->prependStylesheet('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/extras/TableTools/media/css/TableTools.css');

$tableId = "";
if (isset($this->links ['tabeId'])) {
    $tableId = $this->links ['tabeId'];
}

$aoColumns = [];

if (isset($this->options['NotDefaultNo']) && !$this->options['NotDefaultNo']) {
    $aoColumns[] = '{ "sTitle": "' . Core_Locale::translate('dt_sNo') . '.", "sWidth": "30px", "sClass":"tal nosort" }';
}
foreach ($this->params as $key => $param) {
    if (isset($this->params_title[$key])) {
        if (isset($this->options['colsWidth']) && $this->options['colsWidth'][$key]) {
            $aoColumns[] = '{ "sTitle": "' . $this->params_title[$key] . '", "sWidth": "' . $this->options['colsWidth'][$key] . 'px", "sClass":"tal" }';
        } else {
            $aoColumns[] = '{ "sTitle": "' . $this->params_title[$key] . '", "sClass":"tal" }';
        }
    } else {
        $aoColumns[] = '{ "sTitle": "' . $param . '", "sClass":"tal" }';
    }
}
if (isset($this->links['noActions']) && !$this->links['noActions']) {
    $aoColumns[] = '{ "sTitle": "", "sWidth": "120px", "sClass":"tal nosort" }';
}

$custom_delete_key = null;
if (isset($this->links ['delete']['custom_key'])) {
    $custom_delete_key = $this->links ['delete']['custom_key'];
    unset($this->links ['delete']['custom_key']);
}
?>

<style>
    div.DTTT_container {
        clear: none;
        margin-left: 20px;
    }

    button.DTTT_button_pdf, button.DTTT_button_xls, button.DTTT_button span {
        display: none;
    }

</style>

<script type="text/javascript" charset="utf-8">
    jQuery.fn.dataTableExt.oSort['natural-asc'] = function (a, b) {
        return naturalSort(a, b);
    };

    jQuery.fn.dataTableExt.oSort['natural-desc'] = function (a, b) {
        return naturalSort(a, b) * -1;
    };

    function onPageAmountChange(val) {

    }

    var oTable;
    $(document).ready(function () {
        oTable = $('#dataTableTable<?=$tableId?>').dataTable({
            "iDisplayLength": <?php echo $this->options['DisplayLength'] ? $this->options['DisplayLength'] : 50 ?>,
            "sDom": '<"top"ifl<"clear">>Trt<"bottom"ip<"clear">>',
            "oTableTools": {
                "sSwfPath": "/js/admin/DataTables/extras/TableTools/media/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                    "copy",
                    "csv",
                    "xls",
                    {
                        "sExtends": "pdf",
                        "sPdfOrientation": "landscape",
                        "fnClick": function (nButton, oConfig, flash) {

                            var form = $('<form>', {
                                'action': '/pdf/print/' + document.title,
                                'enctype': 'application/x-www-form-urlencoded',
                                'method': 'POST',
                                'style': 'display:none',
                                target: '_blank'
                            });
                            form.append($('<textarea>', {
                                'name': 'table_data'
                            }).html(this.fnGetTableData(oConfig)));

                            form.append($('<textarea>', {
                                'name': 'table_cols_width'
                            }).html(this.fnCalcColRatios(oConfig)));

                            form.append($('<input>', {
                                'title': 'text',
                                'value': document.title,
                                'name': 'title'
                            }));

                            var btn = $('<input>', {
                                'type': 'submit',
                                'name': 'submit',
                                'value': 'submit'
                            });
                            form.append(btn);

                            $('body').append(form);
                            form.submit();
                            btn.click();
                            //console.log(nButton,oConfig,flash);
                            //console.log(this.fnGetTableData(oConfig));
                            //console.log(this.fnCalcColRatios(oConfig));
                            //console.log(form.submit(),form);
                        }
                    },
                    "print"
                ]
            },
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sProcessing": "<?php echo Core_Locale::translate('dt_sProcessing') ?>...",
                "sZeroRecords": "<?php echo Core_Locale::translate('dt_sProcessing') ?>",
                "sInfo": "<?php echo Core_Locale::translate('dt_sInfo') ?>", //Rodomi įrašai nuo _START_ iki _END_ iš _TOTAL_ įrašų
                "sInfoEmpty": "<?php echo Core_Locale::translate('dt_sInfoEmpty') ?>", //Rodomi įrašai nuo 0 iki 0 iš 0
                "sInfoFiltered": "<?php echo Core_Locale::translate('dt_sInfoFiltered') ?>", //(atrinkta iš _MAX_ įrašų)
                "sInfoPostFix": "",
                "sSearch": "<?php echo Core_Locale::translate('dt_sSearch') ?>:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "<?php echo Core_Locale::translate('dt_sFirst') ?>",
                    "sPrevious": "<?php echo Core_Locale::translate('dt_sPrevious') ?>",
                    "sNext": "<?php echo Core_Locale::translate('dt_sNext') ?>",
                    "sLast": "<?php echo Core_Locale::translate('dt_sLast') ?>"
                },
                "sSearch": "",
                "sInfo": "",
                "sLengthMenu": '<?php echo Core_Locale::translate('dt_sShowing') ?> <select onchange="onPageAmountChange(this.val)">' +
                '<option value="10">10</option>' +
                '<option value="20">20</option>' +
                '<option value="50">50</option>' +
                '<option value="100">100</option>' +
                '<option value="300">300</option>' +
                '<option value="-1">All</option>' +
                '</select> <?php echo Core_Locale::translate('dt_sShowing_records') ?>'
            },
            "aoColumns": [<?php echo implode(" , ", $aoColumns)?>],
            "aoColumnDefs": [{"sType": "natural", "aTargets": [0]}],
            <?php if(isset($this->options['fnFooterCallback']) && $this->options['fnFooterCallback']) { ?>
            "fnFooterCallback": function (nRow, aaData, iStart, iEnd, aiDisplay) {
                fnFooterCallbackFuntion(nRow, aaData, iStart, iEnd, aiDisplay);
            }  <?php }?>
        });
        $("#dataTableTable_filter").prepend('<div id="filter-clear-button" class="search-query" onclick="oTable.fnFilter(\'\');$(\'#dataTableTable_filter\').find(\'input\').focus();"></div>');
    });

    function moveUp(element, url) {
        $.ajax({
            url: '<?=$this->baseUrl()?>' + url,
            success: function () {
                var $thisRow = $(element).parents('tr:first');
                $thisRow.insertBefore($thisRow.prev());
            }
        });
        recalculate();
        return false;
    }

    function moveDown(element, url) {
        $.ajax({
            url: '<?=$this->baseUrl()?>' + url,
            success: function () {
                var $thisRow = $(element).parents('tr:first');
                $thisRow.insertAfter($thisRow.next());
                recalculate();
            }
        });
        recalculate();
        return false;
    }
</script>


<table class="table table-hover table-striped" id="dataTableTable<?= $tableId ?>" style="width: 100%">
    <thead></thead>
    <?php if (!empty($this->list)) : ?>
        <tbody id="table_body">
        <?php foreach ($this->list as $k => $v) : ?>
            <?php

            if (isset($this->links ['view'])) {
                $this->links ['view'] ['id'] = $v ['id'];
            }
            if (isset($this->links ['insert_edit'])) {
                $this->links ['insert_edit'] ['id'] = $v ['id'];
            }
            if (isset($this->links ['up'])) {
                $this->links ['up'] ['moveup'] = $v ['id'];
            }
            if (isset($this->links ['down'])) {
                $this->links ['down'] ['movedown'] = $v ['id'];
            }
            if (isset($this->links ['delete'])) {
                $this->links ['delete'] ['delete'] = $custom_delete_key ? $v[$custom_delete_key] : $v ['id'];
            }
            if (isset($this->links ['visible'])) {
                $this->links ['visible'] ['visible'] = $v ['id'];
            }
            if (isset($this->links ['view_custom'])) {
                unset($this->links ['view']);
            }
            ?>
            <tr>
                <?php if (!$this->options['NotDefaultNo']) { ?>
                    <td class="fieldNr">
                        <div><?= $k++ ?></div>
                    </td>
                <?php } ?>
                <?php foreach ($this->params as $key => $param) : ?>
                    <td>
                        <?php
                        $style = "";
                        if (isset($v ['level']) && $v ['level'] > 1) {
                            $style = 'margin-left:' . (10 * $v ['level']) . "px";
                        }
                        ?>
                        <div style=" <?= $style ?> ">
                            <?php if (isset($this->links['view'])) : ?>
                                <a href="<?php echo $this->url($this->links['view'], null, true,
                                    false); ?>"><?php echo $v[$param]; ?></a>
                            <?php elseif (isset($this->links['view_custom'])) : ?>
                                <?php
                                $url = $this->links ['view_custom'];
                                $url ["action"] .= $v [$this->links ['view_custom'] ['param']];
                                $url ["action"] .= "/id/" . $v ['id'];
                                // var_dump($this->links ['view_custom'] ['param']);
                                unset($url ['param']);
                                ?>
                                <a href="<?php echo $this->url($url, null, true,
                                    false); ?>"><?php echo $v[$param]; ?></a>
                            <?php else : ?>
                                <?php echo $v[$param]; ?>
                            <?php endif; ?>
                        </div>
                    </td>
                <?php endforeach; ?>
                <?php if (!$this->links['noActions']): ?>
                    <td class="fieldActions" style="width: 80px;">

                        <?php if (isset($this->links['insert_edit'])) : ?>
                            <?php if ($allowed): ?>
                                <a href="<?php echo $this->url($this->links['insert_edit'], null, true,
                                    false); ?>"><span class="icon-pencil"></span></a>
                            <?php endif; ?>
                        <?php elseif (isset($this->links['insert_edit_custom'])):
                            $url = $this->links ['insert_edit_custom'];
                            $url ["action"] .= $v [$this->links ['insert_edit_custom'] ['param']];
                            $url ["action"] .= "/id/" . $v ['id'];
                            unset($url ['param']);
                            ?>
                            <a href="<?php echo $this->url($url, null, true, false); ?>"><span
                                        class="icon-pencil"></span></a>
                        <?php endif; ?>
                        <?php if (isset($this->links['down'])) : ?>
                            <?php if ($allowed): ?>
                                <a onclick="moveDown(this,'<?php echo $this->url($this->links['down'], null, true,
                                    false); ?>');"><span class="icon-arrow-down"></span></a>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if (isset($this->links['up'])) : ?>
                            <?php if ($allowed): ?>
                                <a onclick="moveUp(this, '<?php echo $this->url($this->links['up'], null, true,
                                    false); ?>');"><span class="icon-arrow-up"></span></a>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if (isset($this->links['visible'])) : ?>
                            <?php if ($allowed): ?>
                                <a href="<?php echo $this->url($this->links['visible'], null, true, false); ?>">
                                    <?php if ($v['visible'] == 0) { ?>
                                        <span class="icon-eye-close"></span>
                                    <?php } else { ?>
                                        <span class="icon-eye-open"></span>
                                    <?php } ?>
                                </a>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if (isset($this->links['delete'])) : ?>
                            <?php if ($allowed): ?>
                                <a href="<?php echo $this->url($this->links['delete'], null, true, false); ?>"
                                   onclick="return confirm('<?php if (isset($v['canDelete']) && $v['canDelete']) : ?>Sis elementas ne tuscias, ar tikrai norite pasalinti ji ir visa jo turini?<?php else : ?>Ar tikrai norite istrinti?<?php endif; ?>');"><span
                                            class="icon-ban-circle"></span></a>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if (isset($this->links['custom_actions']) && is_array($this->links['custom_actions'])) echo implode(PHP_EOL,
                            $this->links['custom_actions']) ?>
                    </td>
                <?php endif; ?>
            </tr>
        <?php endforeach; ?>
        </tbody>
        <tfoot>
        <tr>
            <?php if (!$this->options['NotDefaultNo']) { ?>
                <th></th><?php } ?>
            <?php foreach ($this->params as $key => $param) { ?>
                <th></th><?php } ?>
            <?php if (!$this->links['noActions']) { ?>
                <th></th><?php } ?>
        </tr>
        </tfoot>
    <?php endif; ?>
</table>