<?php
/**
 * @name header-title
 * @author Darius Matulionis <darius@matulionis.lt>
 */
?>
<?php
$active = $this->navigation()->setRenderInvisible(true)->findActive($this->navigation()->getContainer());
$active = $active['page'];
if ($active) {
    $this->headTitle()->append($active->getLabel());
}
?>

<header>
    <h2 style="width: 100%">
        <?php if ($active) {
            echo $active->getLabel();
            if (!empty ($this->titles)) {
                echo " > ";
            }
        } ?>
        <?php if (!empty ($this->titles)) {
            echo implode(" > ", $this->titles);
        } ?>
        <?php if ($this->editBtn) { ?>
            <a href="<?php echo $this->editBtn ?>"
               class="pull-right btn btn-alt btn-primary"><?php echo Core_Locale::translate('Edit') ?></a>
        <?php } ?>

        <?php if ($this->sub_actions) { ?>
            <?php
            $title = Core_Auth_Admin::getInstance()->getStorage()->read()->group_title;
            $model = new Model_AdminGroups();
            $hide = $model->hideOperators($title);
            $hide2 = $model->hideBlitzinfo($title);
            $hide3 = $model->getPermissions($title);
            ?>
            <div id="operator_imports" style="float:right;">
                <?php if (!empty ($this->sub_actions)) { ?>
                    <?php foreach ($this->sub_actions as $k => $p) { ?>
                        <?php if ($p['href'] == '/admin/lt/fines/send-fines' || $p['href'] == '/admin/en/fines/send-fines') { ?>
                            <a class="pull-right btn btn-alt btn-<?php echo $p['btn'] ? $p['btn'] : 'primary' ?>"
                               href="<?= $p['href'] ?>"
                               style="margin-left: 10px;<?php if ($hide['hide_operators'] == '1') {
                                   if ($hide3['fines_send_fines'] == '1') {
                                       echo 'display:block;';
                                   } else {
                                       echo 'display:none;';
                                   }
                               } else {
                                   if ($hide3['fines_send_fines'] == '0') {
                                       echo 'display:none;';
                                   } else {
                                       echo 'display:block;';
                                   }
                               } ?>">
                                <?php echo Core_Locale::translate($p['label']) ?>
                            </a>
                        <?php } else { ?>
                            <a class="pull-right btn btn-alt btn-<?php echo $p['btn'] ? $p['btn'] : 'primary' ?>"
                               href="<?= $p['href'] ?>"
                               style="margin-left: 10px;<?php if ($p['href'] == 'http://parking.unipark.lt/admin/lt/whitelist/import') {
                                   echo 'display:block !important;';
                               }
                               if ($hide['hide_operators'] == '1' || $hide2['hide_blitzinfo'] == '1') {
                                   echo 'display:none;';
                               } else {
                                   echo 'display:block;';
                               } ?>">
                                <?php echo Core_Locale::translate($p['label']) ?>
                            </a>
                        <?php } ?>
                    <?php } ?>
                <?php } ?>
            </div>
        <?php } ?>
    </h2>
</header>
<div class="clearfix"></div>