<?php $editor_lang = Zend_Registry::isRegistered('editor_lang') ? Zend_Registry::get('editor_lang') : 'lt'; ?>
<ul id="gray">
    <?php
    $config = Zend_Registry::get('cmsEnv');

    foreach ($config->languages as $lang => $val) :
        ?>
        <li class="main<?php if ($editor_lang == $lang) {
            echo ' active';
        } ?>"><a href="<?php echo $this->url(['editor_lang' => $lang]); ?>"
                 class="tab"><?php echo strtoupper($lang); ?></a></li>
    <?php endforeach; ?>
</ul>