<?php

$request = Zend_Controller_Front::getInstance()->getRequest()->getParams();
$controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
if (!$request['error_handler']) {
    $request['link'] = implode("/", $request);
}

$title = Core_Auth_Admin::getInstance()->getStorage()->read()->group_title;
$model = new Model_AdminGroups();
$hide = $model->hideBlitzinfo($title);
$hideAppReg = $model->hideAppreg($title);

$act = null;
if ($request['controller'] == 'index' && $request['action'] == 'index') {
    $act = ' class="current"';
}
$html = [];
$adm_group = Core_Auth_Admin::getInstance()->getStorage()->read()->admin_groups_id;
if ($adm_group <> 16) {
    $html[] = '<li ' . $act . '><a href="/admin/' . LANG . '"  class="no-submenu"><span class=" awe-home"></span>' . Core_Locale::translate('Dashboard') . '</a> </li> ';
}

$ind = 0;
$act = '';

foreach ($this->container as $k => $pages) {
    foreach ($pages as $k => $page) {
        if ($page->visible == 1) {
            $act = null;
            $main_class = null;
            $a_class = null;
            if ($page->isActive(true)) {
                $act = ' class="current"';
            }

            if ($page->get('class')) {
                $main_class = ' class="' . $page->get('class') . '"';
            }

            if ($page->get('a_class')) {
                $a_class = ' class="' . $page->get('a_class') . '"';
            }

            if ($hideAppReg['hide_appreg'] == '1') {
                if ($page->getHref() == '/admin/lt/appreg') {
                    continue;
                }
            }
            $html[] = '<li ' . $act . '>';

            $html[] = '<a ' . $a_class . ' href="' . $page->getHref() . '" title="' . $page->getLabel() . '" ><span ' . $main_class . '></span> ' . $page->getLabel() . '</a>';

            if (!empty($page->pages)) {

                $style = null;
                if ($act) {
                    $style = 'style="display: block;"';
                }

                $html[] = '<ul ' . $style . '>';

                $ind = 0;
                foreach ($page->pages as $pg) {

                    $pg_act = '';
                    if (isset($request['link']) && ($pg->isActive() || '/' . $request['link'] == $pg->getHref())) {
                        $pg_act = 'class="current"';
                    }

                    if ($pg->visible == 1) {
                        $ind++;
                        if ($hide['hide_blitzinfo'] == '1') {
                            if ($pg->getHref() == '/admin/lt/blitz/person-insert') {
                                continue;
                            }
                            if ($pg->getHref() == '/admin/lt/blitz/agency-insert') {
                                continue;
                            }
                        }
                        $html[] = '<li><a ' . $pg_act . ' href="' . $pg->getHref() . '" title="' . $pg->getLabel() . '">' . $pg->getLabel() . '</a>';
                    }

                    if (!empty($pg->pages)) {
                        $st = null;
                        if ($pg_act) {
                            $st = 'style="display: block;"';
                        }

                        $html[] = '<ul ' . $st . '>';
                        $has_childs = 0;
                        foreach ($pg->pages as $pgs) {
                            $pgs_act = '';
                            if (isset($request['link']) && ($pgs->isActive() || '/' . $request['link'] == $pgs->getHref())) {
                                $pgs_act = 'class="current"';
                            }

                            if ($pgs->visible == 1) {
                                $has_childs++;
                                $html[] = '<li><a ' . $pgs_act . ' href="' . $pgs->getHref() . '" title="' . $pgs->getLabel() . '">' . $pgs->getLabel() . '</a>';
                            }
                        }
                        if (!$has_childs) {
                            array_pop($html);
                        } else {
                            $html[] = '</ul>';
                        }
                    }

                    $html[] = '</li>';
                }
                if (!$ind) {
                    array_pop($html);
                    array_pop($html);
                } else {
                    $html[] = '</ul>';
                }

            }
            $html[] = '</li>';
        }
    }
}
?>
<!-- Responsive navigation -->
<a href="#" class="btn btn-navbar btn-large" data-toggle="collapse" data-target=".nav-collapse"><span
            class="awe-home"></span> Meniu</a>
<nav class="main-navigation nav-collapse" role="navigation">
    <ul>
        <?php echo join("", $html); ?>
    </ul>
</nav>

