<?php
$getParams = null;
if ($this->paginator_params && !empty($this->paginator_params)) {

    if (is_array($this->paginator_params)) {
        foreach ($this->paginator_params as $key => $v) {
            if (is_string($v)) {
                $getParams[] = $key . '=' . $v;
            }

            if (is_array($v)) {
                foreach ($v as $val) {
                    $getParams[] = $key . '%5B%5D=' . $val;
                }
            }
        }

        if ($getParams) {
            $getParams = '/?' . implode('&', $getParams);
        }
    }
}
?>
<div class="clear"></div></div>
<div class="bottom pull-right">
    <div class="dataTables_paginate paging_bootstrap pagination">
        <ul>
            <li class="prev <?php if (!isset($this->previous)) echo 'disabled' ?>"><a
                        href="<?php echo $this->url(['page' => $this->previous]) . $getParams; ?>">← Previous</a></li>
            <?php foreach ($this->pagesInRange as $page): ?>
                <li class="<?php if ($page == $this->current) : ?>active<?php endif; ?>"><a
                            href="<?php echo $this->url(['page' => $page]) . $getParams; ?>"><?php echo $page; ?></a>
                </li>
            <?php endforeach; ?>
            <li class="next <?php if (!isset($this->next)) echo 'disabled' ?>"><a
                        href="<?php echo $this->url(['page' => $this->next]) . $getParams; ?>">Next → </a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
