<?php if (!isset($this->links['noSearch'])) : ?>
    <form action="" id="searchform" method="post" style="margin: 17px 0 0 0;">
        <input class="text largetitle" id="query" name="keyword" size="40" style="font-size:14px; margin: 0 3px 0 0px;"
               type="text" value=""/>
        <input class="buttonsubmit" disable_with_ignored="Searching&hellip;" name="commit" type="submit"
               value="Ieškoti"/>
    </form>
<?php endif; ?>
<div class="frame" style="padding-top:15px; padding-bottom:20px;">
    <table class="tickets" style="table-layout:fixed;">
        <thead>
        <tr>
            <?php foreach ($this->params as $key => $param) : ?>
                <th></th>
            <?php endforeach; ?>
            <th style="width:120px;"></th>
        </tr>
        </thead>
        <?php if (!empty($this->list)) : ?>
            <tbody>
            <?php foreach ($this->list as $k => $v) : ?>
                <?php
                if (isset($this->links['view'])) {
                    $this->links['view']['id'] = $v['id'];
                }

                if (isset($this->links['up'])) {
                    $this->links['up']['moveup'] = $v['id'];
                }

                if (isset($this->links['down'])) {
                    $this->links['down']['movedown'] = $v['id'];
                }

                if (isset($this->links['delete'])) {
                    $this->links['delete']['delete'] = $v['id'];
                }

                if (isset($this->links['visible'])) {
                    $this->links['visible']['visible'] = $v['id'];
                }
                ?>
                <tr>
                    <?php foreach ($this->params as $key => $param) : ?>
                        <td class="field<?php echo $key + 1; ?>" <?php if (!$v['visible']) echo 'style="color:#999;"' ?>>
                            <?php if (isset($this->links['view'])) : ?>
                                <?php if ($param == 'image') : ?>
                                    <a href="<?php echo $this->url($this->links['view'], null, true); ?>"
                                       class="listImagesHover" <?php if (!$v['visible']) echo 'style="color:#999;"' ?>>
                                        <img src="<?php echo $this->url([
                                            'action' => 'image',
                                            'controller' => 'show',
                                            'module' => 'admin',
                                            'type' => '40x40',
                                            'image' => urlencode($v[$param])
                                        ]); ?>"/>
                                        <?php //echo $this->escape($v['title_'.LANG]);?>
                                    </a>
                                <?php else : ?>

                                <?php endif; ?>
                                <?php if ($param != 'image') : ?>
                                    <a href="<?php echo $this->url($this->links['view'], null, true); ?>"
                                       class="listImagesHover" <?php if (!$v['visible']) echo 'style="color:#999;"' ?>>
                                        <?php echo $this->escape($v[$param]); ?>
                                    </a>
                                <?php endif; ?>
                            <?php endif; ?>
                        </td>
                    <?php endforeach; ?>

                    <td class="fieldIcons" style="white-space:nowrap;">
                        <?php if (isset($this->links['down'])) : ?>
                            <a href="<?php echo $this->url($this->links['down'], null, true); ?>"><img
                                        src="/img/icon_arrow_down.png" height="20px"/></a>
                        <?php endif; ?>

                        <?php if (isset($this->links['up'])) : ?>
                            <a href="<?php echo $this->url($this->links['up'], null, true); ?>"><img
                                        src="/img/icon_arrow_up.png" height="20px"/></a>
                        <?php endif; ?>

                        <?php if (isset($this->links['visible'])) : ?>
                            <a href="<?php echo $this->url($this->links['visible'], null, true); ?>"><img
                                        src="/img/icon_eye<?php if ($v['visible'] == 0) : ?>_x<?php endif; ?>.png"
                                        height="20px"/></a>
                        <?php endif; ?>

                        <?php if (isset($this->links['delete'])) : ?>
                            <a href="<?php echo $this->url($this->links['delete'], null, true); ?>"
                               onclick="return confirmation('<?php if (isset($v['canDelete']) && $v['canDelete']) : ?>Sis elementas ne tuscias, ar tikrai norite pasalinti ji ir visa jo turini?<?php else : ?>Ar tikrai norite istrinti?<?php endif; ?>');"><img
                                        src="/img/ico_delete.png" height="20px"/></a>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        <?php endif; ?>
    </table>
</div>