<table class="datatable">
    <thead>
    <tr>
        <th>Pavadinimas</th>
        <th style="width: 120px;">Veiksmai</th>
    </tr>
    </thead>
    <?php if (!empty($this->tree)) : ?>
        <tbody>
        <?php foreach ($this->tree as $k => $node) : ?>
            <?php if ($node->getLevel() != 0) : ?>
                <?php
                if (isset($this->links['view'])) {
                    $this->links['view']['id'] = $node->getId();
                }

                if (isset($this->links['up'])) {
                    $this->links['up']['moveup'] = $node->getId();
                }

                if (isset($this->links['down'])) {
                    $this->links['down']['movedown'] = $node->getId();
                }

                if (isset($this->links['delete'])) {
                    $this->links['delete']['delete'] = $node->getId();
                }

                if (isset($this->links['visible'])) {
                    $this->links['visible']['visible'] = $node->getId();
                }
                ?>
                <tr>
                    <td class="tal pl10px">
                        <?php if (isset($this->links['view']) && !$node->getData('locked')) : ?>
                            <a style="margin-left:<?php echo ($node->getData('level') - 1) * 20; ?>px; <?php if (!$node->getData('visible')) {
                                echo 'color:#999;';
                            } ?>" href="<?php echo $this->url($this->links['view'], null,
                                true); ?>"><?php echo $this->escape($node->getTitle()); ?></a>
                        <?php else : ?>
                            <span style="margin-left:<?php echo ($node->getData('level') - 1) * 20; ?>px; <?php if (!$node->getData('visible')) {
                                echo 'color:#999;';
                            } ?>"><?php echo $this->escape($node->getTitle()); ?></span>
                        <?php endif; ?>
                    </td>
                    <td style="white-space:nowrap;">
                        <?php if (!$node->getData('locked')) { ?>
                            <?php if (isset($this->links['up'])) : ?><a class="icon i_arrow_up fl"
                                                                        href="<?php echo $this->url($this->links['up'],
                                                                            null, true); ?>">
                                    <!--  --></a><?php endif; ?>
                            <?php if (isset($this->links['down'])) : ?><a class="icon i_arrow_down fl"
                                                                          href="<?php echo $this->url($this->links['down'],
                                                                              null, true); ?>">
                                    <!--  --></a><?php endif; ?>
                            <?php if (isset($this->links['visible'])) : ?><a
                                class="icon i_preview<?php if ($node->getData('visible') == 0) : ?>_x<?php endif; ?> fl"
                                href="<?php echo $this->url($this->links['visible'], null, true); ?>">
                                    <!--  --></a><?php endif; ?>
                            <?php if (isset($this->links['delete'])) : ?><a class="icon i_cross fl"
                                                                            href="<?php echo $this->url($this->links['delete'],
                                                                                null, true); ?>"
                                                                            onclick="return confirmation('Ar tikrai norite ištrinti?');">
                                    <!--  --></a><?php endif; ?>
                        <?php } ?>
                    </td>
                </tr>
            <?php endif; ?>
        <?php endforeach; ?>
        </tbody>
    <?php endif; ?>
</table>