<div class="row-fluid">
    <article class="span12 data-block nested">
        <div class="data-container">
            <?= $this->partial('_partial/header.phtml', $this); ?>
            <section>
                <?php
                echo
                $this->dataTableList(
                    $this->items, [
                    'title',
                ], [
                    Core_Locale::translate('Title'),
                ],
                    [
                        'noActions' => false,
                        'view' => [
                            'action' => 'admin-group-insert',
                            'controller' => 'users',
                            'module' => 'admin',
                            'lang' => LANG
                        ],
                        'delete' => [
                            'action' => 'admin-groups-list',
                            'controller' => 'users',
                            'module' => 'admin',
                            'lang' => LANG
                        ]
                    ], [
                    'ShowTableSearch' => true,
                    'ShowTableActions' => true,
                    'NotDefaultNo' => false,
                ]);
                ?>
            </section>
        </div>
    </article>
</div>