<div class="row-fluid">
    <article class="span12 data-block nested">
        <div class="data-container">
            <?= $this->partial('_partial/header.phtml', $this); ?>
            <section>
                <?php echo $this->form; ?>
            </section>
        </div>
    </article>
</div>