<div class="row-fluid">
    <article class="span12 data-block nested">
        <div class="data-container">
            <?= $this->partial('_partial/header.phtml', $this); ?>
            <section>
                <?php if ($this->error) { ?>
                    <div class="alert alert-error fade in">
                        <strong><?php echo Core_Locale::translate('Form has errors') ?></strong>
                    </div>
                <?php } ?>
                <?php echo $this->form ?>
            </section>
        </div>
    </article>
</div>