<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', $this); ?>
        <section>
            <?php
            echo

            $this->dataTableList(
                $this->items, [
                'adm_name',
                'adm_surname',
                'adm_login',
                'CityName',

            ], [
                Core_Locale::translate('Name'),
                Core_Locale::translate('Surname'),
                Core_Locale::translate('Login'),
                Core_Locale::translate('Cities'),
            ],
                [
                    'noActions' => false,
                    'view' => [
                        'action' => 'insert',
                        'controller' => 'users',
                        'module' => 'admin',
                        'lang' => LANG
                    ],
                    'insert_edit' => [
                        'action' => 'insert',
                        'controller' => 'users',
                        'module' => 'admin',
                        'lang' => LANG
                    ]
                ], [
                'ShowTableSearch' => true,
                'ShowTableActions' => true,
                'NotDefaultNo' => false,
            ]);
            ?>
        </section>
    </div>
</article>

