<article class="span12 data-block nested">
    <div class="data-container">

        <?= $this->partial('_partial/header.phtml',
            [$this, 'titles' => [$this->admin->adm_name . " " . $this->admin->adm_surname]]); ?>
        <section>

        </section>
    </div>
</article>