<article class="span12 data-block nested">
    <div class="data-container">
        <script src="/js/admin/plugins/fileupload/bootstrap-fileupload.js"></script>
        <script src="/js/admin/plugins/inputmask/bootstrap-inputmask.js"></script>
        <?= $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' => []
        ]); ?>

        <section>

            <div class="alert <?php echo $this->importMessageClass; ?>" style="<?php echo $this->importMessageStyle; ?>">
                <strong><?php echo $this->importMessage; ?></strong>
            </div>

            <div class="alert alert-info fade in">
                <strong><?php echo Core_Locale::translate('before_import_notifications_about_xls_format') ?></strong>
            </div>

            <form class="form-inline well" method="post" enctype="multipart/form-data">
                <div class="control-group">
                    <div class="controls">
                        <div class="form-controls pull-left mr20px">
                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="icon-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                        </div>
                                        <span class="btn btn-alt btn-file">
                                            <span class="fileupload-new"><?php echo Core_Locale::translate('Select file') ?></span>
                                            <span class="fileupload-exists"><?php echo Core_Locale::translate('Change') ?></span>
                                            <input type="file" name="payments"/>
                                        </span>
                                        <a href="#" class="btn btn-alt btn-danger fileupload-exists"
                                           data-dismiss="fileupload"><?php echo Core_Locale::translate('Remove') ?></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit"
                                class="btn btn-warning"><?php echo Core_Locale::translate('Import Omniva report') ?></button>
                    </div>
                </div>
            </form>

        </section>
    </div>
</article>