<?php
/**
 * Created by PhpStorm.
 * User: viktoras
 * Date: 19.2.20
 * Time: 17.20
 */
?>
<article class="span12 data-block nested">
    <div class="data-container">
        <script src="/js/admin/plugins/fileupload/bootstrap-fileupload.js"></script>
        <script src="/js/admin/plugins/inputmask/bootstrap-inputmask.js"></script>
        <?= $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' => []
        ]); ?>

        <section>

            <div class="alert <?php echo $this->importMessageClass; ?>" style="<?php echo $this->importMessageStyle; ?>">
                <strong><?php echo $this->importMessage; ?></strong>
            </div>

            <div class="alert alert-info fade in">
                <strong><?php echo Core_Locale::translate('before_import_notifications_about_xlxs_format') ?></strong>
            </div>

            <form class="form-inline well" method="post" enctype="multipart/form-data">
                <div class="control-group">
                    <div class="controls">
                        <div class="form-controls pull-left mr20px">
                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="icon-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                        </div>
                                        <span class="btn btn-alt btn-file">
                                            <span class="fileupload-new"><?php echo Core_Locale::translate('Select file') ?></span>
                                            <span class="fileupload-exists"><?php echo Core_Locale::translate('Change') ?></span>
                                            <input type="file" name="payments"/>
                                        </span>
                                        <a href="#" class="btn btn-alt btn-danger fileupload-exists"
                                           data-dismiss="fileupload"><?php echo Core_Locale::translate('Remove') ?></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit"
                                class="btn btn-warning"><?php echo Core_Locale::translate('Import payments') ?></button>
                    </div>
                </div>
            </form>

        </section>
    </div>

    <?php if ($this->paginator->count()) { ?>
        <div class="data-container" style="margin-top: 20px">
            <header>
                <h2 style="width: 100%">
                    <?php echo Core_Locale::translate('no_plate_found_in_payment_list_import') ?>
                </h2>
            </header>
            <section>
                <table class="table table-hover table-striped dataTable">
                    <thead>
                    <tr>
                        <th><?php echo Core_Locale::translate('import_fine_id'); ?></th>
                        <th><?php echo Core_Locale::translate('import_amount_paid') ?></th>
                        <th><?php echo Core_Locale::translate('import_file_name'); ?></th>
                        <th><?php echo Core_Locale::translate('import_error'); ?></th>
                        <th><?php echo Core_Locale::translate('import_date'); ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->paginator as $p) { ?>
                        <tr>
                            <td><?php echo $p['fine_id_public']; ?></td>
                            <td><?php echo number_format($p['amount_cnt'] / 100, 2) ?></td>
                            <td><?php echo $p['xlsx_file_name']; ?></td>
                            <td><?php echo $p['cause_of_error']; ?></td>
                            <td><?php echo $p['created']; ?></td>
                        </tr>
                    <?php } ?>
                    </tbody>
                </table>

                <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                    ['paginator_params' => $this->paginator_params]); ?>

            </section>
        </div>
    <?php } ?>
</article>