<?php
$domain_model = new Model_Domain();
$options = $domain_model->options();
?>
<article class="span12 data-block nested">
    <div class="data-container">
        <?php
        if ( strpos($options['name'], 'parkingee.unipark.lt') !== false) {
        echo $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' =>
                [
                    'send_fines' => [
                        "href" => '/admin/' . LANG . '/fines/send-fines',
                        "label" => Core_Locale::translate('Send Fines')
                    ],
                    'import_omniva' => [
                        "href" => '/admin/' . LANG . '/fines/import-omniva',
                        "label" => Core_Locale::translate('Import Omniva xls')
                    ],
                ]
        ]);
        } else {
            echo $this->partial('_partial/header.phtml', [
                $this,
                'sub_actions' =>
                    [
                        'send_fines' => [
                            "href" => '/admin/' . LANG . '/fines/send-fines',
                            "label" => Core_Locale::translate('Send Fines')
                        ]
                    ]
            ]);
        }
        ?>
        <section>

            <form class="form-search well" method="get" style="margin-bottom: 10px;">
                <div class="control-group pull-left">

                    <input type="text" name="date_from" value="<?php echo $this->date_from ?>"
                           class="search-query datepicker w100"
                           placeholder="<?php echo Core_Locale::translate('Date From') ?>">
                    <input type="text" name="date_to" value="<?php echo $this->date_to ?>"
                           class="search-query datepicker w100"
                           placeholder="<?php echo Core_Locale::translate('Date To') ?>">
                    <input type="text" name="keyword" value="<?php echo $this->keyword ?>" class="search-query"
                           placeholder="<?php echo Core_Locale::translate('Filter') ?>">
                </div>
                <div style="clear: both"></div>
                <div class="control-group pull-left">
                    <?php if ($this->city_list->count()) { ?>
                        <select name="city[]" multiple data-placeholder="<?php echo Core_Locale::translate('City') ?>">
                            <?php foreach ($this->city_list as $o) { ?>
                                <option value="<?php echo $o['id'] ?>"
                                    <?php echo $this->city && in_array($o['id'], $this->city) ? 'selected' : '' ?>
                                >
                                    <?php echo $o['CityName'] ?>
                                </option>
                            <?php } ?>
                        </select>
                    <?php } ?>

                    <?php if (count($this->zones_list)) { ?>
                        <select name="zone[]" multiple data-placeholder="<?php echo Core_Locale::translate('Zones') ?>">
                            <?php foreach ($this->zones_list as $z) { ?>
                                <option value="<?php echo $z['id'] ?>"
                                    <?php echo $this->zone && in_array($z['id'], $this->zone) ? 'selected' : '' ?>
                                >
                                    <?php echo $z['zone_name'] ?> (<?php echo $z['zone_code'] ?>)
                                </option>
                            <?php } ?>
                        </select>
                    <?php } ?>

                    <?php if (count($this->status_list)) { ?>
                        <select name="status[]" multiple data-placeholder="<?php echo Core_Locale::translate('Fine status') ?>">
                            <?php foreach ($this->status_list as $status_id => $status) { ?>
                                <option value="<?php echo $status_id ?>"
                                    <?php echo $this->status && in_array($status_id, $this->status) ? 'selected' : '' ?>
                                >
                                    <?php echo $status ?>
                                </option>
                            <?php } ?>
                        </select>
                    <?php } ?>

                    <?php if (count($this->operators_list)) { ?>
                        <select name="operator[]" multiple data-placeholder="<?php echo Core_Locale::translate('Operator') ?>">
                            <?php foreach ($this->operators_list as $o) { ?>
                                <option value="<?php echo $o['id'] ?>"
                                    <?php echo $this->operator && in_array($o['id'], $this->operator) ? 'selected' : '' ?>
                                >
                                    <?php echo $o['adm_name'] .' '. $o['adm_surname'] ?>
                                </option>
                            <?php } ?>
                        </select>
                    <?php } ?>
                </div>
                <div style="clear: both"></div>
                <div class="control-group pull-left">
                    <button type="submit" class="btn"><?php echo Core_Locale::translate('Search') ?></button>
                </div>
                <div style="clear: both"></div>
            </form>
            <form method="post">
                <div class="control-group pull-right">

                    <div class="controls">

                        <input type="hidden" name="table" value="<?php echo $this->table ?>"/>
                        <?php if ( $this->paginator_params['locale'] == 'ee' ) { ?>
                        <button type="submit" class="btn" name="atas"
                                value="atas"><?php echo Core_Locale::translate('Ataskaita') ?></button>
                            <button type="submit" class="btn" name="zip"
                                    value="zip"><?php echo Core_Locale::translate('ZIP') ?></button>
                        <?php } ?>
                        <button type="submit" class="btn" name="csv"
                                value="csv"><?php echo Core_Locale::translate('CSV') ?></button>
                        <button type="submit" class="btn" name="xls"
                                value="xls"><?php echo Core_Locale::translate('Excel') ?></button>
                    </div>
                </div>
            </form>
            <form class="form-search" method="post" style="margin-bottom: 10px;">
            <table class="table table-hover table-striped tableContentAlignLeft">
                <thead>
                <tr>
                    <?php if (strpos($options['name'], 'parkingee.unipark.lt') !== false) { ?>
                    <th><input type="checkbox" id="checkAll"></th>
                    <?php } ?>
                    <th><?php echo Core_Locale::translate('Eiles nr.') ?></th>
                    <th><?php echo Core_Locale::translate('City') ?></th>
                    <th><?php echo Core_Locale::translate('Zone_code') ?></th>
                    <th><?php echo Core_Locale::translate('Plate') ?></th>
                    <th><?php echo Core_Locale::translate('Status') ?></th>
                    <th><?php echo Core_Locale::translate('Cause') ?></th>
                    <th><?php echo Core_Locale::translate('Default Fine') ?></th>
                    <th><?php echo Core_Locale::translate('Fine') ?></th>
                    <th><?php echo Core_Locale::translate('Rate') ?></th>
                    <th><?php echo Core_Locale::translate('Final') ?></th>
                    <th><?php echo Core_Locale::translate('Paid') ?></th>
                    <th><?php echo Core_Locale::translate('Date') ?></th>
                    <th><?php echo Core_Locale::translate('Street') ?></th>
                    <th><?php echo Core_Locale::translate('Admin') ?></th>
                </tr>
                </thead>
                <tbody>

                <?php if ($this->paginator->count()) {
                    if (!$this->page) {
                        $p = (((DEFAULT_PAGINATION_ITEMS) * 1) - (DEFAULT_PAGINATION_ITEMS - 1));
                    } else {
                        $p = ((DEFAULT_PAGINATION_ITEMS) * ($this->page) - (DEFAULT_PAGINATION_ITEMS - 1));
                    }
                }
                $sumDefaultAmount = 0;
                $sumPaid = 0;
                foreach ($this->paginator->getCurrentItems() as $i) { ?>
                    <tr>
                        <?php $url = $this->baseUrl('fines/view/id/'.$i['id']); ?>
                        <?php if (strpos($options['name'], 'parkingee.unipark.lt') !== false) { ?>
                        <td><input type="checkbox" value="<?php echo $i['id'] ?>" name="fines[]" class="chFines"></td>
                        <?php } ?>
                        <td><?php echo $i['id_public'] ?></td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['city'] ?> </a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['zone_code'] ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['plate'] ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo Model_Fines::statuses($i['status_id']) ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['cause'] ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo number_format($i['default_amount'], 2) ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo number_format($i['amount'], 2) ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['rate'] ?>%</a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo Model_Fines::finalFineAmount($i['amount'], $i['rate']) ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo number_format($i['paid'], 2) ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['date'] ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['street'] ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $url ?>"><?php echo $i['admin'] ?></a>
                        </td>
                    </tr>
                <?php }
                if ( $this->paginator_params['locale'] == 'ee' ) {
                    foreach ( $this->allData->getCurrentItems() as $data ) {
                        $sumDefaultAmount += $data['default_amount'];
                        $sumPaid += $data['paid'];
                    }
                ?>
                    <tr>
                        <?php if (strpos($options['name'], 'parkingee.unipark.lt') !== false) { ?>
                        <td colspan="2">
                            <?php if (count($this->status_list)) { ?>
                                <select name="changeStatus" data-placeholder="<?php echo Core_Locale::translate('Fine status') ?>">
                                    <option value=""></option>
                                    <?php foreach ($this->status_list as $status_id => $status) { ?>
                                        <option value="<?php echo $status_id ?>"
                                            <?php echo $this->status && in_array($status_id, $this->status) ? 'selected' : '' ?>
                                        >
                                            <?php echo $status ?>
                                        </option>
                                    <?php } ?>
                                </select>
                            <?php } ?>
                        </td>
                        <td>
                            <button type="submit" name="change_fine_status" value="change_fine_status" class="btn btn-warning"><?php echo Core_Locale::translate('Change status') ?></button>
                        </td>
                        <td colspan="4">&nbsp;</td>
                        <?php } else { ?>
                        <td colspan="6">&nbsp;</td>
                        <?php } ?>
                        <td><?php echo number_format( $sumDefaultAmount, 2); ?></td>
                        <td colspan="3">&nbsp;</td>
                        <td><?php echo number_format( $sumPaid, 2); ?></td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>
            </form>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                ['paginator_params' => $this->paginator_params]); ?>
        </section>
    </div>
</article>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $(".show_map").click(function () {
            var coords = $(this).parent().parent().find(':nth-child(6)').children().children().html().trim();
            coords = coords.split(',');
            var lat = coords[0].trim();
            var lon = coords[1].trim();

            var dialog = $("<div>", {title: '<?php echo Core_Locale::translate('Map') ?>'});
            var gMap = document.createElement('div');
            gMap.id = 'gMap';
            gMap.style = 'width:780px; height:550px;';
            dialog.append(gMap);


            dialog.dialog({
                modal: true,
                width: 800,
                height: 600,
                resizeStop: function () {
                    google.maps.event.trigger(map, 'resize');
                },
                open: function () {
                    var lat_lng = new google.maps.LatLng(lat, lon);
                    var mapOptions = {
                        center: lat_lng,
                        zoom: 14
                    };
                    var map = new google.maps.Map(gMap, mapOptions);
                    var marker = new google.maps.Marker({position: lat_lng});
                    marker.setMap(map);
                    google.maps.event.trigger(map, 'resize');
                },
                close: function () {
                    $(this).dialog("destroy");
                }
            });

        });
    });
</script>
<?php if (strpos($options['name'], 'parkingee.unipark.lt') !== false) { ?>
<script type="text/javascript">
    $(document).ready(function () {
        $("#checkAll").click(function () {
            $(".chFines").prop('checked', $(this).prop('checked'));
        });
    });
</script>
<?php } ?>
