<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' =>
                [
                    'send_fines' => [
                        "href" => '/admin/' . LANG . '/fines/send-fines',
                        "label" => Core_Locale::translate('Send Fines')
                    ],
                ]
        ]);
        ?>
        <section>

            <form class="form-search well" method="get" style="margin-bottom: 10px;">
                <div class="control-group pull-right">

                    <input type="text" name="date_from" value="<?php echo $this->date_from ?>"
                           class="search-query datepicker"
                           placeholder="<?php echo Core_Locale::translate('Date From') ?>">
                    <input type="text" name="date_to" value="<?php echo $this->date_to ?>"
                           class="search-query datepicker"
                           placeholder="<?php echo Core_Locale::translate('Date To') ?>">
                    <input type="text" name="filter" value="<?php echo $this->filter ?>" class="search-query"
                           placeholder="<?php echo Core_Locale::translate('Filter') ?>">
                    <button type="submit" class="btn"><?php echo Core_Locale::translate('Search') ?></button>
                </div>
            </form>
            <form method="post">
                <div class="control-group pull-right">

                    <div class="controls">

                        <input type="hidden" name="table" value="<?php echo $this->table ?>"/>
                        <button type="submit" class="btn" name="csv"
                                value="csv"><?php echo Core_Locale::translate('CSV') ?></button>
                        <button type="submit" class="btn" name="xls"
                                value="xls"><?php echo Core_Locale::translate('Excel') ?></button>
                    </div>
                </div>
            </form>
            <table class="table table-hover table-striped tableContentAlignLeft">
                <thead>
                <tr>
                    <th><?php echo Core_Locale::translate('Eiles nr.') ?></th>
                    <th><?php echo Core_Locale::translate('Plate') ?></th>
                    <th><?php echo Core_Locale::translate('Gps') ?></th>
                    <th><?php echo Core_Locale::translate('Time') ?></th>
                    <th><?php echo Core_Locale::translate('Operator') ?></th>
                    <th><?php echo Core_Locale::translate('Zone') ?></th>

                </tr>
                </thead>
                <tbody>

                <?php if ($this->paginator->count()) {
                    if (!$this->page) {
                        $p = (((DEFAULT_PAGINATION_ITEMS) * 1) - (DEFAULT_PAGINATION_ITEMS - 1));
                    } else {
                        $p = ((DEFAULT_PAGINATION_ITEMS) * ($this->page) - (DEFAULT_PAGINATION_ITEMS - 1));
                    }
                }
                foreach ($this->paginator->getCurrentItems() as $i) { ?>
                    <tr>
                        <td><?php echo $p++; ?></td>
                        <td><?php echo $i['plate'] ?></td>
                        <td><?php echo $i['gps'] ?></td>
                        <td><?php echo $i['time'] ?></td>
                        <td><?php echo $i['admin'] ?></td>
                        <td><?php echo $i['zc'] ?></td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                ['paginator_params' => $this->paginator_params]); ?>
        </section>
    </div>
</article>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $(".show_map").click(function () {
            var coords = $(this).parent().parent().find(':nth-child(6)').children().children().html().trim();
            coords = coords.split(',');
            var lat = coords[0].trim();
            var lon = coords[1].trim();

            var dialog = $("<div>", {title: '<?php echo Core_Locale::translate('Map') ?>'});
            var gMap = document.createElement('div');
            gMap.id = 'gMap';
            gMap.style = 'width:780px; height:550px;';
            dialog.append(gMap);


            dialog.dialog({
                modal: true,
                width: 800,
                height: 600,
                resizeStop: function () {
                    google.maps.event.trigger(map, 'resize');
                },
                open: function () {
                    var lat_lng = new google.maps.LatLng(lat, lon);
                    var mapOptions = {
                        center: lat_lng,
                        zoom: 14
                    };
                    var map = new google.maps.Map(gMap, mapOptions);
                    var marker = new google.maps.Marker({position: lat_lng});
                    marker.setMap(map);
                    google.maps.event.trigger(map, 'resize');
                },
                close: function () {
                    $(this).dialog("destroy");
                }
            });

        });
    });
</script>


