<?php
$this->headScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/media/js/jquery.dataTables.js');
$this->headScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/media/js/dataTables.customFunctions.js');
$this->headScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/extras/TableTools/media/js/TableTools.min.js');
$this->minifyHeadLink()->prependStylesheet('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/extras/TableTools/media/css/TableTools.css');
?>

<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', [$this]); ?>
        <section>

            <form class="form-search well" method="get" style="margin-bottom: 10px;">
                <div class="control-group pull-right">
                    <div class="controls">
                        <label form="only_deleted" class="checkbox">

                            <input type="checkbox" name="only_deleted" id="only_deleted"
                                   value="1" <?php if ($this->only_deleted) echo 'checked="checked"' ?> />
                            <?php echo Core_Locale::translate('Show Only Deleted') ?>
                        </label>

                        <input type="text" name="date_from" value="<?php echo $this->date_from ?>"
                               class="search-query datepicker"
                               placeholder="<?php echo Core_Locale::translate('Date From') ?>">
                        <input type="text" name="date_to" value="<?php echo $this->date_to ?>"
                               class="search-query datepicker"
                               placeholder="<?php echo Core_Locale::translate('Date To') ?>">
                        <input type="text" name="filter" value="<?php echo $this->filter ?>" class="search-query"
                               placeholder="<?php echo Core_Locale::translate('Filter') ?>">
                        <button type="submit" class="btn"><?php echo Core_Locale::translate('Search') ?></button>
                    </div>
                </div>
                <br>

            </form>

            <div class="control-group pull-right">
                <form method="post">
                    <div class="control-group pull-right">
                        <input type="hidden" name="table" value="<?php echo $this->table ?>"/>
                        <?php $domain_model = new Model_Domain();
                        $options = $domain_model->options();
                        if ($options['locale'] == 'lv') { ?>
                            <button type="submit" class="btn" name="xls-paymnet"
                                    value="xls-paymnet"><?php echo Core_Locale::translate('xls_p_button') ?></button>
                        <?php } ?>
                        <button type="submit" class="btn" name="csv"
                                value="csv"><?php echo Core_Locale::translate('CSV') ?></button>
                        <button type="submit" class="btn" name="xls"
                                value="xls"><?php echo Core_Locale::translate('Excel') ?></button>
                        <button type="submit" class="btn" name="pdf"
                                value="pdf"><?php echo Core_Locale::translate('PDF') ?></button>
                    </div>
                </form>
            </div>

            <table class="table table-hover table-striped dataTable">
                <thead>
                <tr>
                    <th><?php echo Core_Locale::translate('payment_time') ?></th>
                    <th><?php echo Core_Locale::translate('payment_text') ?></th>
                    <th><?php echo Core_Locale::translate('payer_name') ?></th>
                    <th><?php echo Core_Locale::translate('payment_amount') ?></th>
                    <th><?php echo Core_Locale::translate('Plate') ?></th>
                    <th><?php echo Core_Locale::translate('Deleted') ?></th>
                    <th><?php echo Core_Locale::translate('Deleted by') ?></th>
                    <th><?php echo Core_Locale::translate('Recover') ?></th>
                </tr>
                </thead>
                <tbody>
                <form method="post">
                    <?php if ($this->paginator->count() > 0) {
                        foreach ($this->paginator as $p) { ?>
                            <tr>
                                <td><?php echo $p['time'] ?></td>
                                <td><?php echo $p['payment_text'] ?></td>
                                <td><?php echo $p['payer_name'] ?></td>
                                <td><?php echo $p['amount'] ?></td>
                                <td><?php echo $p['plate'] ?></td>
                                <td><?php echo $p['deleted'] ?></td>
                                <td><?php echo $p['deleted_by'] ?></td>
                                <td><?php if ($p['deleted']) { ?>
                                        <button name="recover_item" class="recoverPayment btn btn-danger btn-small"
                                                value="<?php echo $p['archive_no'] ?>"><?php echo Core_Locale::translate('Recover') ?></button>
                                    <?php } ?>
                                </td>
                            </tr>
                        <?php }
                    } ?>
                </form>
                </tbody>
            </table>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                ['paginator_params' => $this->paginator_params]); ?>

        </section>
    </div>
</article>



