<article class="span12 data-block nested">
    <div class="data-container">
        <script src="/js/admin/plugins/fileupload/bootstrap-fileupload.js"></script>
        <script src="/js/admin/plugins/inputmask/bootstrap-inputmask.js"></script>
        <?= $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' =>
                [
                    'update_from_db' => [
                        "href" => '/cron/update-bank-payments',
                        "label" => Core_Locale::translate('Update Fines By Payments')
                    ],
                    'show_history' => [
                        "href" => '/admin/' . LANG . '/fines/payments-history',
                        "label" => Core_Locale::translate('Payments History')
                    ],
                ]
        ]); ?>
        <section>
            <div class="alert alert-info fade in">
                <strong><?php echo Core_Locale::translate('before_import_notifications_about_litas_esis_format') ?></strong>
            </div>

            <form class="form-inline well" method="post" enctype="multipart/form-data">
                <div class="control-group">
                    <div class="controls">
                        <div class="form-controls pull-left mr20px">
                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="icon-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                        </div>
                                        <span class="btn btn-alt btn-file">
                                            <span class="fileupload-new"><?php echo Core_Locale::translate('Select file') ?></span>
                                            <span class="fileupload-exists"><?php echo Core_Locale::translate('Change') ?></span>
                                            <input type="file" name="payments"/>
                                        </span>
                                        <a href="#" class="btn btn-alt btn-danger fileupload-exists"
                                           data-dismiss="fileupload"><?php echo Core_Locale::translate('Remove') ?></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit"
                                class="btn btn-warning"><?php echo Core_Locale::translate('Import payments') ?></button>
                    </div>
                </div>
            </form>

        </section>
    </div>
    <?php if ($this->paginator->count()) { ?>
        <div class="data-container" style="margin-top: 20px">
            <header>
                <h2 style="width: 100%">
                    <?php echo Core_Locale::translate('no_plate_found_in_payment_list') ?>
                </h2>
            </header>
            <section>
                <table class="table table-hover table-striped dataTable">
                    <thead>
                    <tr>
                        <th><?php echo Core_Locale::translate('payment_time') ?></th>
                        <th><?php echo Core_Locale::translate('payment_text') ?></th>
                        <th><?php echo Core_Locale::translate('payment_amount') ?></th>
                        <th><?php echo Core_Locale::translate('plate') ?></th>
                        <th><?php echo Core_Locale::translate('actions') ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->paginator as $p) { ?>
                        <tr>
                            <td><?php echo $p['time'] ?></td>
                            <td><?php echo $p['payment_text'] ?></td>
                            <td><?php echo number_format($p['amount_cnt'] / 100, 2) ?></td>
                            <td>
                                <div class="input-append">
                                    <input type="text" class="span5" data-key="<?php echo $p['archive_no'] ?>">
                                    <button type="button"
                                            class="btn btn-danger updatePlateBtn"><?php echo Core_Locale::translate('update_plate') ?></button>
                                </div>
                            </td>
                            <td>
                                <button class="deletePayment btn btn-danger btn-small "
                                        data-id="<?php echo $p['archive_no'] ?>"><?php echo Core_Locale::translate('delete') ?></button>
                            </td>
                        </tr>
                    <?php } ?>
                    </tbody>
                </table>

            </section>
        </div>
    <?php } ?>

    <?php if ($this->paginator2->count()) { ?>
        <div class="data-container" style="margin-top: 20px">
            <header>
                <h2 style="width: 100%">
                    <?php echo Core_Locale::translate('no_fines_assigned_to_payments') ?>
                </h2>
            </header>
            <section>
                <table class="table table-hover table-striped dataTable">
                    <thead>
                    <tr>
                        <th><?php echo Core_Locale::translate('payment_time') ?></th>
                        <th><?php echo Core_Locale::translate('payment_text') ?></th>
                        <th><?php echo Core_Locale::translate('payment_amount') ?></th>
                        <th><?php echo Core_Locale::translate('plate') ?></th>
                        <th><?php echo Core_Locale::translate('actions') ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php if ($this->paginator2->count()) {
                        foreach ($this->paginator2 as $p) { ?>
                            <tr>
                                <td><?php echo $p['time'] ?></td>
                                <td><?php echo $p['payment_text'] ?></td>
                                <td><?php echo number_format($p['amount_cnt'] / 100, 2) ?></td>
                                <td><?php echo $p['plate'] ?></td>
                                <td>
                                    <button class="deletePayment btn btn-danger btn-small "
                                            data-id="<?php echo $p['archive_no'] ?>"><?php echo Core_Locale::translate('delete') ?></button>
                                </td>
                            </tr>
                        <?php }
                    } ?>
                    </tbody>
                </table>
                <?php echo $this->paginationControl($this->paginator2, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                    ['paginator_params' => $this->paginator_params]); ?>

            </section>
        </div>
    <?php } ?>

</article>

<script type="text/javascript">
    $(document).ready(function () {

        $('.deletePayment').click(function (e) {
            e.preventDefault();
            var btn = $(this);
            var archive_no = $(this).attr('data-id');

            if (archive_no && confirm('<?php echo Core_Locale::translate('Confirm delete ?')?>')) {
                $.ajax({
                    type: "POST",
                    data: {
                        archive_no: archive_no,
                        delete_item: 1
                    },
                    success: function () {
                        btn.parent().parent().remove();
                    }
                });
            }
        });

        $('.updatePlateBtn').click(function (e) {
            e.preventDefault();
            var input = $(this).parent().find('input');
            var archive_no = input.attr('data-key');
            var plate = input.val();

            if (plate && archive_no) {
                $.ajax({
                    type: "POST",
                    data: {
                        archive_no: archive_no,
                        plate: plate
                    },
                    success: function () {
                        input.parent().remove();
                    }
                });
            }
        });
    });
</script>
