<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', $this); ?>
        <section>
            <form class="form-search well" method="get">
                <div class="control-group pull-right">
                    <div class="controls">
                        <input type="text" name="date_from" value="<?php echo $this->date_from ?>"
                               class="search-query datepicker"
                               placeholder="<?php echo Core_Locale::translate('Date Paid From') ?>">
                        <input type="text" name="date_to" value="<?php echo $this->date_to ?>"
                               class="search-query datepicker"
                               placeholder="<?php echo Core_Locale::translate('Date Paid To') ?>">
                        <input type="text" name="filter" value="<?php echo $this->filter ?>" class="search-query"
                               placeholder="<?php echo Core_Locale::translate('Filter') ?>">
                        <select name="message" id="messageFilter" data-message="<?php echo $this->message ?>"
                                class="search-query">
                            <option value=""><?php echo Core_Locale::translate('select message') ?></option>
                            <option value="Plate is in white list"><?php echo Core_Locale::translate('Plate is in white list') ?></option>
                            <option value="Paid"><?php echo Core_Locale::translate('Paid') ?></option>
                            <option value="Plate deleted from black list"><?php echo Core_Locale::translate('Plate deleted from black list') ?></option>
                            <option value="Time ended. Adding to black list"><?php echo Core_Locale::translate('Time ended') ?></option>
                            <option value="Plate is in black list"><?php echo Core_Locale::translate('Plate is in black list') ?></option>
                            <option value="Fine is already created"><?php echo Core_Locale::translate('Fine is already created') ?></option>
                            <option value="No plate number found in database. Adding to black list"><?php echo Core_Locale::translate('No plate number found in database. Adding to black list') ?></option>
                            <option value="Zonos darbo laikas baigėsi"><?php echo Core_Locale::translate('Zone working time ended') ?></option>
                            <option value="Generating fine"><?php echo Core_Locale::translate('Generating fine') ?></option>
                        </select>
                        <button type="submit" class="btn"><?php echo Core_Locale::translate('Search') ?></button>
                    </div>
                </div>
            </form>
            <form method="post">
                <div class="control-group pull-right">

                    <input type="hidden" name="table" value="<?php echo $this->table ?>"/>
                    <button type="submit" class="btn" name="csv"
                            value="csv"><?php echo Core_Locale::translate('CSV') ?></button>
                    <button type="submit" class="btn" name="xls"
                            value="xls"><?php echo Core_Locale::translate('Excel') ?></button>
                </div>
            </form>
            <div class="clearfix h20"></div>
            <table class="table table-hover table-striped tableContentAlignLeft">
                <thead>
                <tr>
                    <th><?php echo Core_Locale::translate('Eiles nr.') ?></th>
                    <th><?php echo Core_Locale::translate('Admin') ?></th>
                    <th><?php echo Core_Locale::translate('Plate') ?></th>
                    <th><?php echo Core_Locale::translate('Time') ?></th>
                    <th><?php echo Core_Locale::translate('success') ?></th>
                    <th><?php echo Core_Locale::translate('msg') ?></th>
                    <th><?php echo Core_Locale::translate('gps') ?></th>
                    <th><?php echo Core_Locale::translate('Zone_code') ?></th>
                    <th><?php echo Core_Locale::translate('City') ?></th>
                </tr>
                </thead>
                <tbody>
                <?php if ($this->paginator->count()) {
                    if (!$this->page) {
                        $p = (((DEFAULT_PAGINATION_ITEMS) * 1) - (DEFAULT_PAGINATION_ITEMS - 1));
                    } else {
                        $p = ((DEFAULT_PAGINATION_ITEMS) * ($this->page) - (DEFAULT_PAGINATION_ITEMS - 1));
                    }
                }
                foreach ($this->paginator->getCurrentItems() as $i) {
                    $r = json_decode($i['response'], true); ?>
                    <tr>
                        <td><?php echo $p++; ?></td>
                        <td><?php echo $i['admin'] ?></td>
                        <td><?php echo $i['plate'] ?></td>
                        <td><?php echo $i['time'] ?></td>
                        <td><?php echo $r['success'] ? 'TRUE' : 'FALSE' ?></td>
                        <td><?php echo $r['msg'] ?></td>
                        <td><?php echo $i['gps'] ?></td>
                        <td><?php echo $i['zone_code'] ?></td>
                        <td><?php echo $i['city'] ?></td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                ['paginator_params' => $this->paginator_params]); ?>

        </section>
    </div>
</article>
<div class="clearfix"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#messageFilter").val($("#messageFilter").attr('data-message'));
    });
</script>
