<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', $this); ?>

        <form class="form-search" method="post" style="margin-bottom: 10px;">
            <div class="control-group pull-right">
                <div class="controls">

                    <label for="doc_type">Dokumento tipas</label>
                    <input type="radio" value="docx" checked name="doc_type"/> DOCX
                    <input type="radio" value="pdf" name="doc_type"/> PDF
                    <input type="email" name="email" class="search-query "
                           placeholder="<?php echo Core_Locale::translate('Mail To') ?>">
                    <button type="submit" class="btn btn-warning"><?php echo Core_Locale::translate('Send') ?></button>
                    <?php if (!empty($this->billing)) { ?>
                        <button type="submit" name="send_municipality" value="send_municipality"
                                class="btn btn-warning"><?php echo Core_Locale::translate('Send_municipality') ?></button>
                    <?php } ?>
                </div>
                <div class="controls">
                </div>
            </div>
            <div class="clearfix"></div>
            <br/>

            <section>
                <table class="table table-hover table-striped dataTable">
                    <thead>
                    <tr>
                        <th class="span1"><input type="checkbox" checked="checked" id="checkAll"></th>
                        <th><?php echo Core_Locale::translate('Plate') ?></th>
                        <th><?php echo Core_Locale::translate('Status') ?></th>
                        <th><?php echo Core_Locale::translate('Cause') ?></th>
                        <th><?php echo Core_Locale::translate('Date') ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->items as $item): ?>
                        <tr>
                            <td><input type="checkbox" value="<?php echo $item['id'] ?>" name="fines[]" class="chFines"
                                       checked="checked"></td>
                            <td><?php echo $item['plate'] ?></td>
                            <td><?php echo Model_Fines::statuses($item['status_id']) ?></td>
                            <td><?php echo $item['cause'] ?></td>
                            <td><?php echo $item['date'] ?></td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>

            </section>
        </form>
    </div>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $("#checkAll").click(function () {
            $(".chFines").prop('checked', $(this).prop('checked'));
        });
    });
</script>
