<article class="span12 data-block">
    <div class="data-container">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="/js/admin/plugins/fileupload/bootstrap-fileupload.js"></script>
        <script src="/js/admin/plugins/inputmask/bootstrap-inputmask.js"></script>
        <?= $this->partial('_partial/header.phtml', [$this, 'titles' => [$this->fine['id_public']]]); ?>
        <section>
            <div class="span6">
                <div class="row-fluid">
                    <div class="span">
                        <div class="well small">
                            <h2><?php echo Core_Locale::translate('fine_information_left') ?>
                                - <?php echo $this->fine['id_public'] ?></h2>
                            <dl class="dl-horizontal">
                                <dt><?php echo Core_Locale::translate('Plate') ?>:</dt>
                                <dd><?php echo $this->fine['plate'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('Car') ?>:</dt>
                                <dd>
                                    <?php if (!$this->fine['car']) { ?>
                                        <div class="input-append">
                                            <input type="text" class="span8"
                                                   placeholder="<?php echo Core_Locale::translate('car_model_manufacture') ?>">
                                            <button type="button"
                                                    class="btn btn-danger updateCarBtn"><?php echo Core_Locale::translate('update_car') ?></button>
                                        </div>
                                    <?php } else { ?>
                                        <?php echo $this->fine['car'] ?>
                                    <?php } ?>
                                </dd>

                                <dt><?php echo Core_Locale::translate('Operator') ?>:</dt>
                                <dd><?php echo $this->fine['admin'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('Date') ?>:</dt>
                                <dd><?php echo $this->fine['date'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('First Photo Date') ?>:</dt>
                                <dd><?php echo $this->fine['first_photo_date'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('Start') ?>:</dt>
                                <dd><?php echo $this->fine['start'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('End') ?>:</dt>
                                <dd><?php echo $this->fine['end'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('Notification sent') ?>:</dt>
                                <dd><?php echo $this->fine['notification_sent_time'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('Notification to') ?>:</dt>
                                <dd><?php echo $this->fine['notification_sent_to'] ?>&nbsp;</dd>

                            </dl>
                        </div>
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span">
                        <div class="well small">
                            <h2><?php echo Core_Locale::translate('fine_information_right') ?></h2>
                            <dl class="dl-horizontal">

                                <dt><?php echo Core_Locale::translate('Cause') ?>:</dt>
                                <dd><?php echo $this->fine['cause'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('Lat') ?>:</dt>
                                <dd><?php echo $this->fine['lat'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('Lon') ?>:</dt>
                                <dd><?php echo $this->fine['lon'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('zone') ?>:</dt>
                                <dd><?php echo $this->fine['zone_code'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('Street') ?>:</dt>
                                <dd><?php echo $this->fine['street'] ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('Status') ?>:</dt>
                                <dd><?php echo Model_Fines::statuses($this->fine['status_id']) ?>&nbsp;</dd>

                                <dt><?php echo Core_Locale::translate('Default Fine Amount') ?>:</dt>
                                <dd>
                                    <?php echo number_format($this->fine['default_amount'], 2) ?>
                                </dd>

                                <dt><?php echo Core_Locale::translate('Fine Amount') ?>:</dt>
                                <dd>
                                    <?php echo number_format($this->fine['amount'], 2) ?>
                                </dd>

                                <dt><?php echo Core_Locale::translate('Rate') ?>:</dt>
                                <dd>
                                    <?php echo $this->fine['rate'] ?>%
                                </dd>

                                <dt><?php echo Core_Locale::translate('Final fine') ?>:</dt>
                                <dd><?php echo Model_Fines::finalFineAmount($this->fine['amount'],
                                        $this->fine['rate']) ?>EUR
                                </dd>

                                <dt><?php echo Core_Locale::translate('Paid') ?>:</dt>
                                <dd><?php echo number_format($this->fine['paid'], 2) ?></dd>


                            </dl>
                        </div>

                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span">
                        <div class="well small">

                            <button type="button"
                                    id="changeFineStatusBtn"
                                    class="btn btn-info btn-small btn-block"
                            >
                                <?php echo Core_Locale::translate('Change fine status') ?>
                            </button>
                            <div class="clearfix mb10px"></div>

                            <?php if (Model_Admins::isRoot()) { ?>
                                <button type="button"
                                        id="changeFineAmountBtn"
                                        class="btn btn-danger btn-small btn-block"
                                >
                                    <?php echo Core_Locale::translate('Change fine amount') ?>
                                </button>
                                <div class="clearfix mb10px"></div>
                            <?php } ?>

                            <button type="button"
                                    id="changeFineRateBtn"
                                    class="btn btn-warning btn-small  btn-block"
                            >
                                <?php echo Core_Locale::translate('Change fine rate') ?>
                            </button>
                            <div class="clearfix mb10px"></div>

                            <?php if (Model_Fines::allowDismiss($this->fine)) { ?>
                                <button type="button"
                                        id="dismissFineBtn"
                                        class="btn btn-danger btn-small  btn-block"
                                >
                                    <?php echo Core_Locale::translate('Dismiss fine') ?>
                                </button>
                                <div class="clearfix mb10px"></div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <?php if ($this->fine['status_id'] != Model_Fines::STATUS_FINE_PAYED || $this->locale == 'ee') { ?>
                        <div class="span4">
                            <a href="<?php echo $this->baseUrl('fines/notification-pdf/id/' . $this->fine['id']) ?>"
                               target="_blank"
                               class="btn btn-warning"><?php echo Core_Locale::translate('Fine notification pdf') ?></a>
                            <?php if ($this->fine['status_id'] == Model_Fines::STATUS_PERSON_INFORMED) { ?>
                                <a onclick="return confirm('<?php echo Core_Locale::translate('Confirm_fine_is_send_notification') ?>');"
                                   href="<?php echo $this->baseUrl('fines/view/id/' . $this->fine['id'] . '/status/' . Model_Fines::STATUS_FINE_GENERATED) ?>"
                                   class="btn btn-danger"><?php echo Core_Locale::translate('Fine notification is send') ?></a>
                            <?php } ?>
                        </div>
                    <?php } ?>
                </div>
                <form action="/admin/en/fines/change-photos/fine_id/<?php echo $this->fine['id'] ?>" method="post"
                      enctype="multipart/form-data">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="well small">
                                <ul class="thumbnails">
                                    <li class="span6">
                                        <a data-lightbox="lightbox"
                                           href="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['first_photo'] ?>"
                                           class="thumbnail">
                                            <img src="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['first_photo'] ?>"
                                                 alt="" style="max-height: 170px;">
                                        </a>
                                        <?php echo $this->partial('_partial/_file-input.phtml',
                                            ['name' => 'first_photo']); ?>
                                    </li>
                                    <li class="span6">
                                        <a data-lightbox="lightbox"
                                           href="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['plate_photo'] ?>"
                                           class="thumbnail">
                                            <img src="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['plate_photo'] ?>"
                                                 alt="" style="max-height: 170px;">
                                        </a>
                                        <?php echo $this->partial('_partial/_file-input.phtml',
                                            ['name' => 'plate_photo']); ?>
                                    </li>
                                </ul>
                                <ul class="thumbnails">
                                    <li class="span6">
                                        <a data-lightbox="lightbox"
                                           href="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['front_photo'] ?>"
                                           class="thumbnail">
                                            <img src="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['front_photo'] ?>"
                                                 alt="" style="max-height: 170px;">
                                        </a>
                                        <?php echo $this->partial('_partial/_file-input.phtml',
                                            ['name' => 'front_photo']); ?>
                                    </li>
                                    <li class="span6">
                                        <a data-lightbox="lightbox"
                                           href="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['back_photo'] ?>"
                                           class="thumbnail">
                                            <img src="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['back_photo'] ?>"
                                                 alt="" style="max-height: 170px;">
                                        </a>
                                        <?php echo $this->partial('_partial/_file-input.phtml',
                                            ['name' => 'back_photo']); ?>
                                    </li>
                                </ul>

                                <ul class="thumbnails">
                                    <li class="span6">
                                        <a data-lightbox="lightbox"
                                           href="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['left_side_photo'] ?>"
                                           class="thumbnail">
                                            <img src="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['left_side_photo'] ?>"
                                                 alt="" style="max-height: 170px;">
                                        </a>
                                        <?php echo $this->partial('_partial/_file-input.phtml',
                                            ['name' => 'left_side_photo']); ?>
                                    </li>
                                    <li class="span6">
                                        <a data-lightbox="lightbox"
                                           href="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['right_side_photo'] ?>"
                                           class="thumbnail">
                                            <img src="<?php echo FINES_PHOTOS_URL . '/' . $this->fine['id'] . '/' . $this->fine['right_side_photo'] ?>"
                                                 alt="" style="max-height: 170px;">
                                        </a>
                                        <?php echo $this->partial('_partial/_file-input.phtml',
                                            ['name' => 'right_side_photo']); ?>
                                    </li>
                                </ul>

                                <button type="submit" class="btn btn-success">Change photos</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="span6">
                <div class="well small">
                    <h2><?php echo Core_Locale::translate('Map') ?></h2>
                    <div class="dl-horizontal" id="gMap" style="height: 685px; width: 100%"></div>
                </div>
            </div>
        </section>
        <?php if ($this->log->count()) { ?>
            <section>
                <div class="span12">
                    <div class="well small">
                        <h2 class="clearfix">
                            <?php echo Core_Locale::translate('fine_log') ?>
                        </h2>
                        <?php
                        echo
                        $this->dataTableList(
                            $this->log, [
                            'who',
                            'message',
                            'created_at',
                        ], [
                            Core_Locale::translate('Who'),
                            Core_Locale::translate('Message'),
                            Core_Locale::translate('When'),
                        ],
                            [
                                'noActions' => true
                            ], [
                            'disable_tools' => true,
                            'ShowTableSearch' => false,
                            'ShowTableActions' => false,
                            'NotDefaultNo' => true,
                        ]);
                        ?>
                    </div>
                </div>
            </section>
        <?php } ?>
        <section>
            <div class="span12">
                <div class="well small">
                    <?php if ($this->payments && $this->payments->count()) { ?>
                        <h2 class="clearfix">
                            <div class="pull-left"><?php echo Core_Locale::translate('possible_fine_payments') ?></div>
                            <div class="pull-right">
                                <button class="addManualPayment btn btn-danger btn-small"
                                        type="button"
                                >
                                    <?php echo Core_Locale::translate('payment_add_manual') ?>
                                </button>
                            </div>
                        </h2>
                        <table class="table table-hover table-striped dataTable" id="paymentsTable">
                            <thead>
                            <tr>
                                <th><?php echo Core_Locale::translate('payment_time') ?></th>
                                <th><?php echo Core_Locale::translate('payment_text') ?></th>
                                <th><?php echo Core_Locale::translate('payer_name') ?></th>
                                <th><?php echo Core_Locale::translate('payment_amount') ?></th>
                                <th><?php echo Core_Locale::translate('plate') ?></th>
                                <th style="width: 50px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($this->payments as $p) { ?>
                                <tr>
                                    <td><?php echo $p['time'] ?></td>
                                    <td><?php echo $p['payment_text'] ?></td>
                                    <td><?php echo $p['payer_name'] ?></td>
                                    <td><?php echo number_format($p['amount_cnt'] / 100, 2) ?></td>
                                    <td><?php echo $p['plate'] ?></td>
                                    <td>
                                        <?php if (!$p['plate']) { ?>
                                            <div class="input-append">
                                                <input type="text" class="span5"
                                                       placeholder="<?php echo Core_Locale::translate('plate_no') ?>">
                                                <button type="button" class="btn btn-danger updatePlateAndUseBtn"
                                                        data-key="<?php echo $p['archive_no'] ?>"><?php echo Core_Locale::translate('use_payment') ?></button>
                                            </div>
                                        <?php } else { ?>
                                            <button type="button" class="btn btn-danger usePaymentBtn"
                                                    data-key="<?php echo $p['archive_no'] ?>"><?php echo Core_Locale::translate('use_payment') ?></button>
                                        <?php } ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            </tbody>
                        </table>
                        <div class="clearfix"></div>
                    <?php } ?>
                    <?php if ($this->fine_payments->count()) { ?>
                        <h2 class="clearfix">
                            <div class="pull-left">
                                <?php echo Core_Locale::translate('fine_payment_information') ?>
                            </div>
                            <div class="pull-right">
                                <button class="addManualPayment btn btn-danger btn-small"
                                        type="button"
                                >
                                    <?php echo Core_Locale::translate('payment_add_manual') ?>
                                </button>
                            </div>
                        </h2>

                        <table class="table table-hover table-striped dataTable" id="paymentsTable">
                            <thead>
                            <tr>
                                <th><?php echo Core_Locale::translate('payer_name') ?></th>
                                <th><?php echo Core_Locale::translate('payment_time') ?></th>
                                <th><?php echo Core_Locale::translate('payment_text') ?></th>
                                <th><?php echo Core_Locale::translate('payment_amount') ?></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($this->fine_payments as $p) { ?>
                                <tr>
                                    <td><?php echo $p['payer_name'] ?></td>
                                    <td><?php echo date('Y-m-d', strtotime($p['time'])) ?></td>
                                    <td><?php echo $p['payment_text'] ?></td>
                                    <td>
                                        <?php echo number_format($p['amount_cnt'] / 100,
                                                2) . ' ' . $this->payment['currency'] ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            </tbody>
                        </table>
                        <div class="clearfix"></div>
                    <?php } ?>
                </div>
            </div>
        </section>
    </div>
</article>

<script type="text/javascript">
    var fine_id = <?php echo $this->fine['id']?>;
    var oTable;


    jQuery.fn.dataTableExt.oSort['natural-asc'] = function (a, b) {
        return naturalSort(a, b);
    };

    jQuery.fn.dataTableExt.oSort['natural-desc'] = function (a, b) {
        return naturalSort(a, b) * -1;
    };

    function usePayment(container, archive_no, plate) {
        $.ajax({
            type: "POST",
            url: '/admin/<?php echo LANG?>/fines/use-payment',
            data: {
                fine_id: fine_id,
                archive_no: archive_no,
                plate: plate
            },
            success: function () {
                container.remove();
            }
        });
    }

    $(document).ready(function () {

        $('#changeFineStatusBtn').click(function (e) {
            e.preventDefault();
            swal({
                title: 'What is new fine status?',
                input: 'select',
                inputOptions: <?php echo json_encode(Model_Fines::statuses()) ?>,
                inputPlaceholder: 'Select new fine status here',
                showCancelButton: true,
                inputValidator: function (value) {
                    return new Promise(function (resolve, reject) {
                        if (value.match(/^\d+$/)) {
                            resolve()
                        } else {
                            reject('You need to select new status')
                        }
                    })
                }
            }).then(function (status) {
                $.ajax({
                    type: "POST",
                    url: '/admin/<?php echo LANG?>/fines/change-fine-status',
                    data: {
                        fine_id: '<?php echo $this->fine['id'] ?>',
                        status: status,
                    },
                    success: function (response) {
                        if (response.success) {
                            swal({
                                type: 'success',
                                title: 'New status of fine is set to: ' + response.new_status
                            }).then(
                                function () {
                                    location.reload();
                                }
                            );

                        }

                        if (response.error) {
                            swal({
                                type: 'error',
                                title: response.message
                            })
                        }
                    }
                });
            })
        });

        $('.addManualPayment').click(function (e) {
            e.preventDefault();

            swal({
                title: 'Add payment',
                html:
                '<label for="date" class="swal2-label">Payment date' +
                '<input id="date" type="date" class="input swal2-input"></label>' +

                '<label for="amount" class="swal2-label">Amount' +
                '<input id="amount" class="input swal2-input"></label>',
                focusConfirm: false,
                preConfirm: function () {
                    return new Promise(function (resolve, reject) {
                        var date = moment($('#date').val()).format('YYYY-MM-DD');
                        var amount = parseFloat($('#amount').val());

                        if (date.match(/^\d{4}\-\d{2}\-\d{2}$/) && amount) {
                            resolve([date, amount])
                        } else {
                            reject('All fields are required');
                        }
                    })
                }
            }).then(function (form) {

                $.ajax({
                    type: "POST",
                    url: '/admin/<?php echo LANG?>/fines/add-manual-payment',
                    data: {
                        fine_id: '<?php echo $this->fine['id'] ?>',
                        date: form[0],
                        amount: form[1],
                    },
                    success: function (response) {
                        if (response.success) {
                            swal({
                                type: 'success',
                                title: 'New payment of ' + form[0] + ' EUR was added successfully'
                            }).then(
                                function () {
                                    location.reload();
                                }
                            );
                        }

                        if (response.error) {
                            swal({
                                type: 'error',
                                title: response.message
                            })
                        }
                    }
                });
            }).catch(swal.noop)
        })

        $('#changeFineAmountBtn').click(function (e) {
            e.preventDefault();
            swal({
                title: 'What is new fine amount?',
                input: 'text',
                inputPlaceholder: 'Enter new fine amount here',
                showCancelButton: true,
                inputValidator: function (value) {
                    return new Promise(function (resolve, reject) {
                        if (value.match(/^\d+(\.\d{0,9})?$/)) {
                            resolve()
                        } else {
                            reject('You need to write amount in format 12 or 12.35 ')
                        }
                    })
                }
            }).then(function (amount) {
                $.ajax({
                    type: "POST",
                    url: '/admin/<?php echo LANG?>/fines/change-fine-amount',
                    data: {
                        fine_id: '<?php echo $this->fine['id'] ?>',
                        amount: amount,
                    },
                    success: function (response) {
                        if (response.success) {
                            swal({
                                type: 'success',
                                title: 'New amount of fine is set to: ' + amount + ' EUR'
                            }).then(
                                function () {
                                    location.reload();
                                }
                            );
                        }

                        if (response.error) {
                            swal({
                                type: 'error',
                                title: response.message
                            })
                        }
                    }
                });
            })
        });

        $('#changeFineRateBtn').click(function (e) {
            e.preventDefault();
            swal({
                title: 'What is new fine rate?',
                input: 'select',
                inputOptions: <?php echo $this->fine_rates->toJson() ?>,
                inputPlaceholder: 'Select new fine rate here',
                showCancelButton: true,
                inputValidator: function (value) {
                    return new Promise(function (resolve, reject) {
                        if (value.match(/^\d+$/)) {
                            resolve()
                        } else {
                            reject('You need to write rate in format 12')
                        }
                    })
                }
            }).then(function (rate) {
                $.ajax({
                    type: "POST",
                    url: '/admin/<?php echo LANG?>/fines/change-fine-rate',
                    data: {
                        fine_id: '<?php echo $this->fine['id'] ?>',
                        rate: rate,
                    },
                    success: function (response) {
                        if (response.success) {
                            swal({
                                type: 'success',
                                title: 'New rate of fine is set to: ' + rate + '%'
                            }).then(
                                function () {
                                    location.reload();
                                }
                            );
                        }

                        if (response.error) {
                            swal({
                                type: 'error',
                                title: response.message
                            })
                        }
                    }
                });
            })
        });

        $('#dismissFineBtn').click(function (e) {
            e.preventDefault();
            swal({
                title: 'Confirm fine dismiss?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, dismiss it!'
            }).then(function () {
                $.ajax({
                    type: "POST",
                    url: '/admin/<?php echo LANG?>/fines/dismiss',
                    data: {
                        fine_id: '<?php echo $this->fine['id'] ?>'
                    },
                    success: function (response) {
                        if (response.success) {
                            swal({
                                type: 'success',
                                title: 'Fine dismissed!'
                            }).then(
                                function () {
                                    location.reload();
                                }
                            );
                        }

                        if (response.error) {
                            swal({
                                type: 'error',
                                title: response.message
                            })
                        }
                    }
                });
            })
        });

        <?php if($this->payments && $this->payments->count()){ ?>
        oTable = $('#paymentsTable').dataTable({
            "iDisplayLength": 200,
            "sDom": '<"top"ifl<"clear">>Trt<"bottom"ip<"clear">>',
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sProcessing": "<?php echo Core_Locale::translate('dt_sProcessing') ?>...",
                "sZeroRecords": "<?php echo Core_Locale::translate('dt_sProcessing') ?>",
                "sInfo": "<?php echo Core_Locale::translate('dt_sInfo') ?>", //Rodomi įrašai nuo _START_ iki _END_ iš _TOTAL_ įrašų
                "sInfoEmpty": "<?php echo Core_Locale::translate('dt_sInfoEmpty') ?>", //Rodomi įrašai nuo 0 iki 0 iš 0
                "sInfoFiltered": "<?php echo Core_Locale::translate('dt_sInfoFiltered') ?>", //(atrinkta iš _MAX_ įrašų)
                "sInfoPostFix": "",
                "sSearch": "<?php echo Core_Locale::translate('dt_sSearch') ?>:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "<?php echo Core_Locale::translate('dt_sFirst') ?>",
                    "sPrevious": "<?php echo Core_Locale::translate('dt_sPrevious') ?>",
                    "sNext": "<?php echo Core_Locale::translate('dt_sNext') ?>",
                    "sLast": "<?php echo Core_Locale::translate('dt_sLast') ?>"
                },
                "sSearch": "",
                "sInfo": "",
                "sLengthMenu": '<?php echo Core_Locale::translate('dt_sShowing') ?> <select onchange="onPageAmountChange(this.val)">' +
                '<option value="10">10</option>' +
                '<option value="20">20</option>' +
                '<option value="50">50</option>' +
                '<option value="100">100</option>' +
                '<option value="300">300</option>' +
                '<option value="-1">All</option>' +
                '</select> <?php echo Core_Locale::translate('dt_sShowing_records') ?>'
            }
        });
        $("#dataTableTable_filter").prepend('<div id="filter-clear-button" class="search-query" onclick="oTable.fnFilter(\'\');$(\'#dataTableTable_filter\').find(\'input\').focus();"></div>');
        <?php } ?>

        $('.updateCarBtn').click(function (e) {
            e.preventDefault();
            var input = $(this).parent().find('input');
            if (input.val() != "") {
                var car = input.val();
                $.ajax({
                    type: "POST",
                    url: '/admin/<?php echo LANG?>/fines/view/id/'.fine_id,
                    data: {
                        fine_id: fine_id,
                        car: car
                    },
                    success: function () {
                        input.parent().parent().html(car);
                    }
                });
            } else {
                alert('<?php echo Core_Locale::translate('car_required_alert') ?>');
            }
        });
    });

    $('.updatePlateAndUseBtn').click(function (e) {
        e.preventDefault();
        var archive_no = $(this).attr('data-key');
        var input = $(this).parent().find('input');
        
        if (input.val() != "") {
            var plate = input.val();
            usePayment(input.parent(), archive_no, plate);
        } else {
            alert('<?php echo Core_Locale::translate('plate_number_required_alert') ?>');
        }
    });

    $('.usePaymentBtn').click(function (e) {
        e.preventDefault();
        var archive_no = $(this).attr('data-key');
        usePayment($(this).parent(), archive_no, null);
    });

    var lat = '<?php echo $this->fine['lat']?>';
    var lon = '<?php echo $this->fine['lon']?>';

    function initialize() {
        var lat_lon = new google.maps.LatLng(lat, lon)
        var mapOptions = {
            zoom: 14,
            center: new google.maps.LatLng(lat, lon),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById('gMap'), mapOptions);
        var marker = new google.maps.Marker({position: lat_lon});
        marker.setMap(map);
    }

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
            'callback=initialize';
        document.body.appendChild(script);
    }

    window.onload = loadScript;
</script>

<?php
$this->minifyHeadLink()->prependStylesheet('http://' . $_SERVER['HTTP_HOST'] . '/css/admin_css/plugins/lightbox.css');
$this->minifyHeadLink()->prependStylesheet('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/extras/TableTools/media/css/TableTools.css');

$this->headScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/media/js/jquery.dataTables.js');
$this->headScript()->appendFile('http://' . $_SERVER['HTTP_HOST'] . '/js/admin/DataTables/media/js/dataTables.customFunctions.js');

?>
<script src="<?php echo $this->baseUrl('js/admin/plugins/lightbox/lightbox.js', true) ?>"></script>


<?php //var_dump($this->fine)?>