/* 
    Document   : style
    Created on : 2011-09-07, 11.39.42
    Author     : Darius Matulionis <d.matulionis@balticaa.com>
    Description:
        Purpose of the stylesheet follows.
*/
/* tables */
#tablewrapper {
	width: 100%;
	color: #6E6E6E;
	margin: auto;
}

#tableheader {
	height: 25px
}

.search {
	float: left;
}

.details {
	float: right;
	padding-top: 12px
}

.details div {
	float: left;
	margin-left: 15px;
	font-size: 12px
}

.tinytable {
	margin-top: 5px;
	width: 100%;
	border: none
}

.tinytable th.header {
	padding: 0;
	margin: 0;
}

.tinytable th {
	background-color: #EEEEEE;
	text-align: left;
	color: #cfdce7;
	border-bottom: 1px solid #CCCCCC;
	vertical-align: middle;
	height: 23px;
}

.tinytable th h3 {
	font-size: 11px;
	margin-top: 5px;
	padding-left: 12px;
	height: 18px;
	color: #6E6E6E;
}

.tinytable th.headerSortUp h3,.tinytable th.headerSortDown h3 {
	padding-left: 18px;
}

.tinytable td {
	border-bottom: 1px solid #CCCCCC;
	color: #6E6E6E;
}

.tinytable td a {
	color: #6E6E6E
}

.tinytable td div {
	padding-left: 12px;
	padding-top: 6px;
	height: 20px;
	display: block;
	width: auto;
	color: #6E6E6E;
}

.tinytable td.fieldNr {
	width: 20px;
	text-align: center;
	padding-right: 12px;
}

.tinytable td.fieldIcons {
	text-align: left;
	width: 140px;
}

.tinytable .head h3 {
	background: url(images/sort.gif) 7px 3px no-repeat;
	cursor: pointer;
}

.tinytable .desc,.sortable .asc {
	background-color: #F2F2F2;
}

.tinytable .head:hover,.tinytable .desc:hover,.tinytable .asc:hover {
	color: #fff
}

.tinytable tfoot {
	background: #fff;
	font-weight: bold
}

.tinytable tfoot td {
	padding: 6px 8px 8px
}

#tablefooter {
	
}

#tablenav {
	float: left
}

#tablenav img {
	cursor: pointer
}

#tablelocation {
	float: right;
	font-size: 12px
}

#tablelocation select {
	margin-right: 3px
}

#tablelocation div {
	float: left;
	margin-left: 15px
}

.page {
	margin-top: 2px;
	font-style: italic
}

#selectedrow td {
	background: #F2F2F2;
}

table.tablesorter tbody tr.odd td {
	background-color: #EDF4F8;
}

table.tablesorter thead tr .headerSortUp {
	background: url(asc.gif) 0 center no-repeat;
	cursor: pointer;;
}

table.tablesorter thead tr .headerSortDown {
	background: url(desc.gif) 0 center no-repeat;
	cursor: pointer;;
}

div.pagedisplay {
	padding-left: 10px;
	padding-right: 10px;
}

div.tablesorterPager {
	padding: 10px 0 10px 0;
	text-align: center;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	display: block;
	float: right;
	margin-top: -30px;
	position: relative;
	width: 408px;
	overflow: hidden;
}

.dataTables_filter input {
	border: solid 1px #ccc;
	color: #069;
	padding: 6px;
	float: right;
	margin: 0;
}

#filter-clear-button {
	border: solid 1px #ccc;
	height: 21px;
	float: right;
	color: #069;
	display: block;
	background: #ccc;
	width: 50px;
	padding: 0;
	margin: 0;
	padding-top: 6px;
	margin-left: -3px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

.dataTables_info {
	width: 60%;
	float: left;
	margin-top: 15px;
}

.dataTables_paginate {
	width: 44px; *
	width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous,.paginate_enabled_previous,.paginate_disabled_next,.paginate_enabled_next
	{
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('/img/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('/img/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('/img/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('/img/forward_enabled.jpg');
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */
.sorting_asc {
	background: url('/img/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('/img/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('/img/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('/img/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('/img/sort_desc_disabled.png') no-repeat center right;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,.paging_full_numbers span.paginate_active
	{
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #eeeeee;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #47a6e0;
}

.bottom {
	margin-top: 15px;
	clear: both;
}

.tinytable td div.ui-progressbar,.tinytable td div.ui-progressbar-value
	{
	padding: 0;
	margin: 0;
	margin-top: -4px;
	padding-top: 3px;
	color: #FFF
}