<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' => [
                'insert' => ["href" => $this->baseUrl('blacklist/insert'), "label" => Core_Locale::translate('Insert')],
                'import' => [
                    "href" => $this->baseUrl('blacklist/import'),
                    "label" => Core_Locale::translate('Import_list')
                ]
            ]
        ]); ?>

        <section>

            <form class="form-search well" method="get" style="margin-bottom: 10px;">
                <div class="control-group pull-right">
                    <div class="controls">
                        <input type="text" name="date_from" value="<?php echo $this->date_from ?>"
                               class="search-query datepicker"
                               placeholder="<?php echo Core_Locale::translate('Date From') ?>">
                        <input type="text" name="date_to" value="<?php echo $this->date_to ?>"
                               class="search-query datepicker"
                               placeholder="<?php echo Core_Locale::translate('Date To') ?>">
                        <input type="text" name="filter" value="<?php echo $this->filter ?>" class="search-query"
                               placeholder="<?php echo Core_Locale::translate('Filter') ?>">
                        <button type="submit" class="btn"><?php echo Core_Locale::translate('Search') ?></button>

                    </div>
                </div>
                <div style="clear: both"></div>
                <div class="row well ml10px " id="cityContainer">
                    <?php if ($this->city_list->count()) {
                        foreach ($this->city_list as $o) { ?>
                            <?php if ($this->city_list->count() > 1) { ?>
                                <label class="checkbox pull-left mr10px">
                                    <input type="checkbox" class="cityCheckbox"
                                        <?php echo isset($this->city[$o['id']]) ? 'checked="checked"' : '' ?>
                                           name="city[<?php echo $o['id'] ?>]"
                                           value="<?php echo $o['id'] ?>"/>
                                    <?php echo $o['CityName'] ?>
                                </label>
                            <?php } ?>

                            <?php
                        }
                    } ?>
                </div>
            </form>

            <form method="post">
                <div class="control-group pull-right">

                    <input type="hidden" name="table" value="<?php echo $this->table ?>"/>
                    <button type="submit" class="btn" name="csv"
                            value="csv"><?php echo Core_Locale::translate('CSV') ?></button>
                    <button type="submit" class="btn" name="xls"
                            value="xls"><?php echo Core_Locale::translate('Excel') ?></button>
                </div>
            </form>

            <form method="post">
                <br/>
                <table class="table table-hover table-striped tableContentAlignLeft">
                    <thead>
                    <tr>
                        <th><?php echo Core_Locale::translate('Eiles nr.') ?></th>
                        <th><?php echo Core_Locale::translate('City') ?></th>
                        <th><?php echo Core_Locale::translate('Zone') ?></th>
                        <th><?php echo Core_Locale::translate('Plate') ?></th>
                        <th><?php echo Core_Locale::translate('Cause') ?></th>
                        <th><?php echo Core_Locale::translate('Time checked') ?></th>
                        <th><?php echo Core_Locale::translate('GPS') ?></th>
                        <th><?php echo Core_Locale::translate('Is deleted') ?></th>
                        <th><?php echo Core_Locale::translate('Delete time') ?></th>
                        <th><?php echo Core_Locale::translate('Deleted by') ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php if ($this->paginator->count()) {
                        if (!$this->page) {
                            $p = (((DEFAULT_PAGINATION_ITEMS) * 1) - (DEFAULT_PAGINATION_ITEMS - 1));
                        } else {
                            $p = ((DEFAULT_PAGINATION_ITEMS) * ($this->page) - (DEFAULT_PAGINATION_ITEMS - 1));
                        }
                    }
                    foreach ($this->paginator->getCurrentItems() as $i) { ?>
                        <tr>
                            <td><?php echo $p++; ?></td>
                            <td><?php echo $i['city'] ?></td>
                            <td><?php echo $i['zone_code'] ?></td>
                            <td><?php echo $i['plate_no'] ?></td>
                            <td><?php echo $i['cause'] ?></td>
                            <td><?php echo $i['time_checked'] ?></td>
                            <td><?php echo $i['gps'] ?></td>
                            <td><?php echo $i['delete'] ?></td>
                            <td><?php echo $i['delete_time'] ?></td>
                            <td><?php echo $i['deleted_by'] ?></td>
                            <td>
                                <button type="submit" name="1" value="<?php echo $i['id'] ?>"><span
                                            class="icon-ban-circle"></span></button>
                            </td>
                        </tr>


                        <?php ?>
                    <?php } ?>
                    </tbody>
                </table>
                <table>
                    <td><b><?php echo Core_Locale::translate('deleted_explanation'); ?> </b></td>
                    <td><?php echo Core_Locale::translate('deleted_reasons'); ?></td>
                </table>
            </form>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                ['paginator_params' => $this->paginator_params]); ?>
        </section>
    </div>

</article>

<?php
/*
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"> </script>
<script type="text/javascript">
   $(document).ready(function() {
       $(".show_map").click(function(){
           var coords = $(this).parent().parent().find(':nth-child(5)').children().html().trim();
           var dialog = $("<div>", {title: '<?php echo Core_Locale::translate('Map') ?>'});
           var gMap = document.createElement('div');
           gMap.id = 'gMap';
           gMap.style = 'width:780px; height:550px;';
           dialog.append(gMap);

           var lat_lng = new google.maps.LatLng(coords);
           var mapOptions = {
               center: lat_lng,
               zoom: 14
           };
           var map = new google.maps.Map(gMap, mapOptions);
           var marker = new google.maps.Marker({position: lat_lng});
           marker.setMap(map);



           dialog.dialog({
               modal: true,
               width: 800,
               height: 600,
               close: function () {
                   $(this).dialog("destroy");
               }
           });

       });
   });
</script>*/ ?>


