<div class="row-fluid">
    <article class="span12 data-block nested">
        <div class="data-container">
            <?= $this->partial('_partial/header.phtml', $this); ?>
            <section>
                <?php if ($this->error) { ?>
                    <div class="alert alert-error fade in">
                        <strong><?php echo Core_Locale::translate('Form has errors') ?></strong>
                    </div>
                <?php } ?>
                <div>
                    <?php
                    $title = Core_Auth_Admin::getInstance()->getStorage()->read()->group_title;
                    $model = new Model_AdminGroups();
                    $hide = $model->hidePorcheinfo($title);
                    ?>
                    <form enctype="multipart/form-data" name="porsche" class="form-horizontal" method="post"
                          style="margin-bottom: 15px;">
                        <div class="table">
                            <th><?php echo Core_Locale::translate('Main info') ?></th>
                            <?php
                            echo $this->form->status;
                            echo $this->form->payment_type;
                            ?>
                            <dt id="date_from-label"><label for="date_from"
                                                            class="date-from-label"><?php echo Core_Locale::translate('Automobilio atidavimo data, laikas') ?>
                                    *</label></dt>
                            <dd><input type="text" class="datetimepicker" id="date_from" name="date_from"
                                       value="<?php echo $this->date_from ?>"></dd>
                            <dt id="date_to-label"><label
                                        for="date_to"><?php echo Core_Locale::translate('Automobilio atsiėmimo data, laikas') ?></label>
                            </dt>
                            <dd><input type="text" class="datetimepicker" id="date_to" name="date_to"
                                       value="<?php echo $this->date_to ?>"></dd>
                            <?php echo $this->form->flight_number; ?>
                        </div>
                        <div class="table">
                            <?php
                            if($this->service_array){?>
                                <th><?php echo Core_Locale::translate('Additional services') ?></th>
                                <?php
                                foreach ($this->service_array as $s){
                                    echo $this->form->{'service_status_'.$s->service_id.'_'.$s->count_id};
                                }
                            }
                            ?>
                        </div>
                        <div class="table">
                            <th><?php echo Core_Locale::translate('Person info') ?></th>
                            <?php
                            echo $this->form->name;
                            echo $this->form->phone;
                            echo $this->form->email;
                            echo $this->form->address;
                            echo $this->form->birth_date; ?>
                        </div>
                        <div class="table">
                            <th><?php echo Core_Locale::translate('Car info') ?></th>
                            <?php
                            echo $this->form->plate;
                            echo $this->form->tech_doc_nr;
                            echo $this->form->insurance_nr;
                            echo $this->form->mileage_before;
                            echo $this->form->mileage_after; ?>
                        </div>
                        <input type=button onclick="myFunction()" class="btn" style="margin-top: 15px"
                               value="<?php echo Core_Locale::translate('Add') ?>">
                    </form>
            </section>
        </div>
    </article>
</div>
<script type="text/javascript">
    var plate = document.getElementById("plate");
    var date_from = document.getElementById("date_from");
    var order_type = $("#order_type");

    // Check function
    function myFunction() {
        /*if (plate.value == "" || date_from.value == "") {
            alert("Ne visi privalomi laukai užpildyti");
            if (plate.value == "") {
                alert("Reikia ivesti automobilio nr.");
            } else if (date_from.value == "") {
                alert("Reikia ivesti automobilio atidavimo laika");
            }
        } else {
            document.porsche.submit();
        }*/
        document.porsche.submit();
    }

    // Ajax post company code to PHP
    var getCompanycode = function (code) {
        $.ajax({
            url: 'http://<?php echo $_SERVER['HTTP_HOST'] ?>/cron/get-billing-company-info',
            type: 'POST',
            cache: false,
            data: {
                data: code,
                ajax: 'get-billing-company-info'
            },
            dataType: 'json',
            success: function (data) {
                console.log('success');
                console.log(data);
                var select = $('.contract-select');
                if (data.length > 1) {
                    var contr = document.getElementById('contract');
                    var contract = $("#contract");
                    contract.empty();
                    contract.prepend("<option value=''></option>");
                    setCompanyInfo('', '', '', '', '', '');
                    select.show();
                    for (var i = 0; i < data.length; i++) {
                        var opt = document.createElement('option');
                        opt.innerHTML = data[i].number;
                        opt.value = i;
                        contr.appendChild(opt);
                        contract.change(function () {
                            setCompanyInfo(data[$(this).val()].name, data[$(this).val()].number, data[$(this).val()].vat_code, data[$(this).val()].phone, data[$(this).val()].email, data[$(this).val()].address);
                        });
                    }
                } else {
                    select.hide();
                    setCompanyInfo(data[0].name, data[0].number, data[0].vat_code, data[0].phone, data[0].email, data[0].address);
                }
            },
            error: function (err) {
            }
        })
    };

    // Ajax post person code to PHP
    var getPersoncode = function (code) {
        $.ajax({
            url: 'http://<?php echo $_SERVER['HTTP_HOST'] ?>/cron/get-billing-person-info',
            type: 'POST',
            cache: false,
            data: {
                data: code,
                ajax: 'get-billing-person-info'
            },
            dataType: 'json',
            success: function (data) {
                console.log('success');
                console.log(data);
                personName = data[0].name.substr(0, data[0].name.indexOf(' '));
                personSurname = data[0].name.substr(data[0].name.indexOf(' ') + 1);
                setPersonInfo(personName, personSurname, data[0].phone, data[0].email, data[0].address, data[0].birthday);
            },
            error: function (err) {
            }
        })
    };

    // Ajax get statuses by order type
    var getStatuses = function (id) {
        $.ajax({
            url: 'http://<?php echo $_SERVER['HTTP_HOST'] ?>/cron/get-blitz-statuses',
            type: 'POST',
            cache: false,
            data: {
                data: id,
                ajax: 'get-blitz-statuses'
            },
            dataType: 'json',
            success: function (data) {
                console.log('success');
                console.log(data);
                var select = document.getElementById('status');
                var status_select = $('#status');
                status_select.empty();
                for (var i = 0; i < data.length; i++) {
                    var opt = document.createElement('option');
                    opt.innerHTML = data[i].name;
                    opt.value = data[i].status_id;
                    select.appendChild(opt);
                }
            },
            error: function (err) {

            }
        })
    };

    // Setting info to fields
    var setCompanyInfo = function (company, contract, pvm, phone, email, address) {
        $('#company').val(company);
        $('#contract_nr').val(contract);
        $('#pvm_code').val(pvm);
        $('#company_phone').val(phone);
        $('#company_email').val(email);
        $('#company_address').val(address);
    };

    // Setting info to fields
    var setPersonInfo = function (name, surname, phone, email, address, birth_date) {
        $('#name').val(name);
        $('#surname').val(surname);
        $('#phone').val(phone);
        $('#email').val(email);
        $('#address').val(address);
        $('#birth_date').val(birth_date);
    };

    // Calling ajax after getting company code
    var _key_timeout;
    $("#company_code").keyup(function () {
        var code = $(this).val();
        clearTimeout(_key_timeout);
        _key_timeout = setTimeout(function () {
            getCompanycode(code);
        }, 1000);
    });

    // Calling ajax after getting person code
    var _key_timeout2;
    $("#person_code").keyup(function () {
        var code = $(this).val();
        clearTimeout(_key_timeout2);
        _key_timeout2 = setTimeout(function () {
            getPersoncode(code);
        }, 1000);
    });

    // Document ready
    $(document).ready(function () {
        order_type.change(function () {
            var id = $(this).val();
            getStatuses(id);
        });
    });

</script>