//
// Chromatron grid
// --------------------------------------------------


.row-fluid,
.row {
	.row,
	.row-fluid {
		margin-bottom: @fluidGridGutterWidth;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
