//
// Chromatron custom plugin styles
// --------------------------------------------------


/* Bootstrap File & Image input */
.btn-file {
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	& > input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		cursor: pointer;
		border: solid transparent;
		border-width: 0 0 100px 200px;
		.opacity(0);
		direction: ltr;
	}
}
.fileupload {
	padding-left: 0;
	margin-bottom: 9px;
	h4 { 
		margin: 0 0 @baseMargin / 2;
	}
	.thumbnail {
		display: inline-block;
		margin-bottom: 5px;
		overflow: hidden;
		text-align: center;
		vertical-align: middle;
		background-color: @white;
		& > img {
			display: block;
			max-height: 100%;
			vertical-align: middle;
		}
		&.fileupload-small {
			.square(50px);
			&.flexible {
				.size(auto,auto);
				max-width: 75px;
				max-height: 75px;
			}
		}
		&.fileupload-large {
			.size(150px, 250px);
			&.flexible {
				.size(auto,auto);
				max-width: 350px;
				max-height: 250px;
			}
		}
	}
	.raw.thumbnail {
		padding: 0;
		border: none;
		.border-radius(0);
		.box-shadow(none);
	}
	.btn {
		vertical-align: middle;
	}
	.uneditable-input {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
		cursor: text;
	}
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
	display: none;
}
.fileupload-new .input-append .btn-file {
	.border-radius(0 @baseBorderRadius @baseBorderRadius 0);
}
.fileupload-exists .input-append .btn-file {
	.border-radius(0);
}

/* jQuery Visualize */
.visualize {
	margin: 50px  auto 30px;
	margin-bottom: 30px !important;
	background-color: transparent;
	border: none;
	&.visualize-pie {
		margin-bottom: 0 !important;
	}
	.visualize-info {
		border: none;
		padding: 0;
		font-size: @fontSizeSmall;
		right: auto;
		left: -10px;
		top: -48px;
		background-color: transparent;
		.opacity(100);
	}
	.visualize-title {
		font-weight: bold;
		margin-bottom: 0;
		color: @headingsColor;
	}
}
p + table + .visualize {
	margin-top: 70px;
}
.visualize .label {
	padding: 0;
	background-color: transparent;
	font-size: @fontSizeMini;
	font-weight: normal;
	line-height: 14px;
	text-shadow: none;
	color: @grayLight;
	.border-radius(none);
}
.content .page-container [class*="span"] .visualize {
	margin: @baseMargin 0 @baseMargin auto;
}
.ie8 .visualize-interaction-tracker {
	margin-top:0 !important;
}

/* jQuery Flot */
.flot {
	margin: 10px auto;
	min-height: 280px;
	.legend {
		padding: 0 2px;
	}
}

/* jQuery FullCalendar */
.fullcalendar {
	table,
	table.table {
		background-color: transparent;
	}
	.fc-header {
		margin-bottom: @baseMargin / 2;
		h2 {
			margin: 0;
		}
	}
	.fc-content {
		background-color: lighten(@bodyBackground, 5%);
	}
	.fc-widget-header,
	.fc-widget-content {
		border-color: @dataNestedBorderColor;
	}
	.fc-state-highlight {
		background-color: @white;
		.box-shadow(0 0 3px #ccc);
	}
	.fc-grid th {
		font-size: @baseFontSize + 3;
		padding: 5px 0;
	}
	.fc-button.fc-state-default {
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 0;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		position: relative;
		.border-radius(0);
		.chromaButtonBackground(@white, @bodyBackground, @gray);
		border: 1px solid;
		border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
		text-shadow: 0 1px 2px rgba(0,0,0,0.3);
		.box-shadow(~"0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(255, 255, 255, 0.3) inset");
	}
	.fc-button.fc-state-active {
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 0;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		position: relative;
		outline: 0;
		.border-radius(0);
		.chromaButtonBackground(@white, @bodyBackground, @gray);
		border: 1px solid;
		border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
		text-shadow: 0 1px 2px rgba(0,0,0,0.3);
		.box-shadow(~"0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(255, 255, 255, 0.3) inset");
	}
	.fc-button.fc-state-disabled {
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 0;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		text-align: center;
		vertical-align: middle;
		position: relative;
		cursor: default;
		.border-radius(0);
		.opacity(35);
		.box-shadow(none);
		color: @gray;
		border: 1px solid;
		border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
		text-shadow: 0 1px 2px rgba(0,0,0,0.3);
		.box-shadow(0 1px 2px rgba(0, 0, 0, 0.08));
		background-image: none;
		background-color: darken(@white, 10%);
	}
	.fc-button.fc-state-disabled:active {
		.box-shadow(none);
	}
	.fc-button.fc-corner-left {
		margin-left: 0;
		.border-left-radius(@baseBorderRadius);
	}
	.fc-button.fc-corner-right {
		.border-right-radius(@baseBorderRadius);
	}
	.fc-state-default,
	.fc-state-default .fc-button-inner {
		color: @gray;
	}
	.fc-state-active .fc-button-inner {
		color: @gray;
	}
	.fc-state-default .fc-button-inner {
		background: transparent;
		border-width: 0;
	}
	.fc-button-content {
		line-height: @baseLineHeight;
		height: @baseLineHeight;
		padding: 0;
	}
	.fc-state-default .fc-button-effect span {
		display: none;
	}
	.fc-button-content [class^="awe-"],
	.fc-button-content [class*=" awe-"] {
		font-size: @fontSizeLarge;
	}
}
.fc .fc-header-space {
	padding-left: 2px;
}
.data-block {
	&.span6,
	&.span5,
	&.span4,
	&.span3 {
		.fc-header-left,
		.fc-header-center,
		.fc-header-right {
			float: left;
		}
		.fc-header-left {
			margin-bottom: 5px;
		}
		.fc-header-center {
			clear: left;
			margin-top: 10px;
		}
	}
}

/* jQuery FullCalendar event style */
.fc-event {
	padding: 0 @baseMargin / 4;
	.border-radius(@baseBorderRadius);
	.btn-primary;
	.fc-event-skin {
		background: none;
		border: none;
		color: inherit;
	}
	&.fc-event-vert .fc-event-bg {
		display: none;
		background: transparent;
	}
	&.fc-event-vert .fc-event-bg {
		display: none;
		background: transparent;
	}
	&.event-red {
		.btn-danger;
	}
	&.event-blue {
		.btn-info;
	}
	&.event-green {
		.btn-success;
	}
	&.event-orange {
		.btn-warning;
	}
	&.event-dark {
		.btn-inverse;
	}
}

/* jQuery Snippet */
.snippet-container {
	pre,
	.snippet-wrap {
		.snippet-num {
			margin: 0;
		}
		pre.sh_sourceCode {
			margin: 0;
			border: 1px solid rgba(0,0,0,.15);
			.box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
			.border-radius(@baseBorderRadius);
		}
	}
	.snippet-menu pre {
		border: none;
	}
}
.no-boxshadow pre.sh_sourceCode {
	border: 1px solid #ccc;
}

/* jQuery Tags Input */
div.tagsinput {
	padding: 0;
	margin: -5px 0 0;
	width: auto !important;
	height: auto !important;
	color: @gray;
	background-color: transparent;
	border: none;
	.transition('border linear .2s, box-shadow linear .2s');
	&.focused {
		outline: 0;
		border-color: rgba(0,0,0,.3);
		.box-shadow(~'inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(0,0,0,.3)');
	}
	span.tag {
		text-shadow: none;
		line-height: normal;
		padding: 4px;
		margin: 5px 5px 0 0;
		.border-radius(@baseBorderRadius);
		background: @templateColor;
		border-color: @templateColor;
		color: @white;
		a {
			color: @white;
			.opacity(50);
			&:hover {
				.opacity(100);
			}
		}
	}
	input {
		margin: 5px 0 0;
	}
}

/* jQuery jWYSIWYG */
div.wysiwyg {
	background: none;
	width: auto !important;
	border: none;
	.toolbar-container {
		padding: 5px;
	}
	iframe {
		margin-top: @baseMargin / 2;
		background-color: @inputBackground;
		width: 100% !important;
		min-height: 250px;
		border: 1px solid @inputBorder;
		.border-radius(@inputBorderRadius);
		.box-shadow(inset 0 0 4px @navNestedBackground);
	}
}
div.wysiwyg ul.toolbar {
	margin-bottom: 0;
	border: none;
	li {
		background-image: url("@{jwysiwygIcons}");
	}
}

/* jQuery DataTables */
.dataTables_wrapper {
	& > .row:first-child,
	& > .row-fluid:first-child {
		margin-bottom: @baseMargin / 2;
	}
	table.table {
		clear: both;
		margin-bottom: @baseMargin / 2;
	}
	div.dataTables_length {
		label {
			float: left;
			text-align: left;
		}
		select {
			width: 75px;
		}
	}
	div.dataTables_filter label {
		float: right;
	}
	.dataTables_paginate {
		margin: 0;
		float: right;
	}
	table thead .sorting,
	table thead .sorting_asc,
	table thead .sorting_desc,
	table thead .sorting_asc_disabled,
	table thead .sorting_desc_disabled {
		cursor: pointer;
		*cursor: hand;
	}
	table.table thead .sorting {
		background-image: url("@{datatablesSortBothImg}");
	}
	table.table thead .sorting_asc {
		background-image: url("@{datatablesSortAscImg}");
	}
	table.table thead .sorting_desc {
		background-image: url("@{datatablesSortDescImg}");
	}
	table.table thead .sorting_asc_disabled {
		background-image: url("@{datatablesSortAscDisabledImg}");
	}
	table.table thead .sorting_desc_disabled {
		background-image: url("@{datatablesSortDescDisabledImg}");
	}
	table.table thead .sorting,
	table.table thead .sorting_asc,
	table.table thead .sorting_desc,
	table.table thead .sorting_asc_disabled,
	table.table thead .sorting_desc_disabled {
		background-position: center right;
		background-repeat: no-repeat;
	}
	table.dataTable th:active {
		outline: none;
	}
}

/* jQuery DataTable filter */
.datatable-controls li {
	padding: 3px 15px;
}

/* jQuery jGrowl */
div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
	color: @white;
	background-color: @headingsColor;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	.box-shadow(0 0 2px rgba(0,0,0,0.5));
	.border-radius(@baseBorderRadius);
	.opacity(90);
}
div.jGrowl div.jGrowl-closer {
	.opacity(35);
	.box-shadow(none);
	&:hover {
		.opacity(90);
		.box-shadow(0 0 2px rgba(0,0,0,0.5));
	}
}

div.jGrowl div {
	a {
		color: @white;
		border-bottom: 1px dotted;
		&:hover {
			color: @white;
			border-bottom: 1px solid;
			text-decoration: none;
		}
	}
	&.chromatron {
		background-color: @bodyBackground;
		color: @textColor;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		.box-shadow(~"0 0 3px #ababab inset, 0 0 15px 10px @white");
		.opacity(100);
		a {
			color: @templateColor;
			&:hover {
				color: @templateColor;
				text-decoration: underline;
			}
		}
	}
	&.primary {
		background-color: @templateColor;
		color: @white;
	}
	&.danger {
		background-color: @chromatronRed;
		color: @white;
	}
	&.info {
		background-color: @chromatronBlue;
		color: @white;
	}
	&.success {
		background-color: @chromatronGreen;
		color: @white;
	}
	&.warning {
		background-color: @chromatronOrange;
		color: @white;
	}
	&.inverse {
		background-color: @templateDark;
		color: @white;
	}
}

/* Bootstrap wysihtml5 */
.wysihtml5 {
	width: 98% !important;
}
ul.wysihtml5-toolbar {
	margin-bottom: 0;
}
.wysihtml5-sandbox {
	margin-bottom: 0 !important;
}

/* Color picker */
.colorpicker-saturation {
	width: 100px;
	height: 100px;
	background-image: url("@{cpSaturation}");
	cursor: crosshair;
	float: left;
	i {
		display: block;
		height: 5px;
		width: 5px;
		border: 1px solid #000;
		.border-radius(@baseBorderRadius);
		position: absolute;
		top: 0;
		left: 0;
		margin: -4px 0 0 -4px;
		b{
			display: block;
			height: 5px;
			width: 5px;
			border: 1px solid #fff;
			.border-radius(@baseBorderRadius);
		}
	}
}
.colorpicker-hue,
.colorpicker-alpha {
	width: 15px;
	height: 100px;
	float: left;
	cursor: row-resize;
	margin-left: 4px;
	margin-bottom: 4px;
	i {
		display: block;
		height: 1px;
		background: #000;
		border-top: 1px solid #fff;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin-top: -1px;
	}
}
.colorpicker-hue {
	background-image: url("@{cpHue}");
}
.colorpicker-alpha {
	background-image: url("@{cpAlpha}");
	display:none;
}
.colorpicker {
	.clearfix();
	top: 0;
	left: 0;
	padding: 4px;
	min-width: 120px;
	div {
		position: relative;
	}
	&.alpha {
		min-width: 140px;
		.colorpicker-alpha {
			display: block;
		}
	}
}
.colorpicker-color {
	height: 10px;
	margin-top: 5px;
	clear: both;
	background-image: url("@{cpAlpha}");
	background-position: 0 100%;
	div {
		height: 10px;
	}
}
.input-append,
.input-prepend {
	&.color {
		.add-on i {
			display: block;
			cursor: pointer;
			width: 16px;
			height: 16px;
		}
	}
}
.colorpicker-preview {
	display: block;
	.square(18px);
}

/* Date picker */
.datepicker {
	top: 0;
	left: 0;
	padding: 4px;
	.border-radius(4px);
	&:before {
		content: '';
		display: inline-block;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #ccc;
		border-bottom-color: rgba(0,0,0,.2);
		position: absolute;
		top: -7px;
		left: 6px;
	}
	&:after {
		content: '';
		display: inline-block;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid @white;
		position: absolute;
		top: -6px;
		left: 7px;
	}
	& > div {
		display: none;
	}
	&.days div.datepicker-days {
		display: block;
	}
	&.months div.datepicker-months {
		display: block;
	}
	&.years div.datepicker-years {
		display: block;
	}
	table{
		width: 100%;
		margin: 0;
	}
	td,
	th{
		text-align: center;
		width: 20px;
		height: 20px;
		.border-radius(4px);
	}
	td {
		&.day:hover {
			background: @grayLighter;
			cursor: pointer;
		}
		&.old,
		&.new {
			color: @grayLight;
		}
		&.active,
		&.active:hover {
			color: #fff;
			background-color: @templateColor;
			text-shadow: 0 -1px 0 rgba(0,0,0,.25);
		}
		span {
			display: block;
			width: 47px;
			height: 54px;
			line-height: 54px;
			float: left;
			margin: 2px;
			cursor: pointer;
			.border-radius(4px);
			&:hover {
				background: @grayLighter;
			}
			&.active {
				color: #fff;
				background-color: @templateColor;
				text-shadow: 0 -1px 0 rgba(0,0,0,.25);
			}
			&.old {
				color: @grayLight;
			}
		}
	}
	th.switch {
		width: 145px;
	}
	thead tr:first-child th {
		cursor: pointer;
		&:hover{
			background: @grayLighter;
		}
	}
}
.input-append,
.input-prepend {
	&.date {
		.add-on i {
			display: block;
			cursor: pointer;
			width: 16px;
			height: 16px;
		}
	}
}
.datepicker + .add-on .icon-calendar {
	font-size: @baseFontSize + 7;
}

/* Date Range picker */
.daterangepicker {
	padding: @baseMargin / 2 - 5;
	.calendar {
		&.right,
		&.left {
			margin: 5px;
			max-width: 190px;
		}
	}
	.ranges {
		margin: 5px;
	}
	td.in-range {
		background-color: @grayLighter;
	}
	td.active,
	td.active:hover {
		text-shadow: none;
		background: @templateColor;
		.reset-filter();
	}
	input {
		padding: 2px 5px;
	}
	.range_inputs .btn {
		margin-top: 10px;
	}
}

/* Time picker */
.bootstrap-timepicker-widget {
	&.dropdown-menu {
		min-width: 0px;
	}
	table {
		width: auto;
		td {
			height: 0;
			a {
				padding: 0;
				width: auto;
				display: block;
			}
		}
	}
}

/* Bootstrap switch */
.has-switch {
	span {
		text-align: center;
		z-index: 1;
		width: 33%;
		.btn.btn-alt;
		&.switch-left {
			.border-left-radius(4px);
			.border-right-radius(0);
		}
		&.switch-right {
			.btn-inverse;
			.border-left-radius(0);
		}
		&.switch-primary, &.switch-left {
			.btn-primary;
		}
		&.switch-info {
			.btn-info;
		}
		&.switch-success {
			.btn-success;
		}
		&.switch-warning {
			.btn-warning;
		}
		&.switch-danger {
			.btn-danger;
		}
		&.switch-inverse {
			.btn-inverse;
		}
	}
}

// Bootstrap Modal - extended plugin
.modal-open {
	overflow: hidden;
	&.page-overflow {
		.page-container,
		.page-container .navbar-fixed-top,
		.page-container .navbar-fixed-bottom,
		.modal-scrollable {
			overflow-y: scroll;
		}
	}
}
.modal-scrollable {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}
.modal {
	outline: none;
	position: absolute;
	margin-top: 0;
	top: 50%;
	overflow: visible;
	&.fade {
		top: -100%;
		.transition(~'opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out');
		&.in {
			top: 50%;
		}
	}
	&.container {
		width: 940px;
		margin-left: -470px;
	}
	&.modal-absolute {
		position: absolute;
		z-index: 950;
	}
	.loading-mask {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		border-radius: 6px;
	}
}
.modal-body {
	max-height: none;
	overflow: visible;
}
.modal-backdrop {
	&.modal-absolute {
		position: absolute;
		z-index: 940;
	}
	&,
	&.fade.in {
		opacity: 0.7;
		filter: alpha(opacity=70);
		background: #000;
	}
}
.modal-overflow {
	&.modal {
		top: 1%;
		&.fade {
			top: -100%;
			&.in {
				top: 1%;
			}
		}
	}
	.modal-body {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
}
@media (min-width: 1200px) {
	.modal.container {
		width: 1170px;
		margin-left: -585px;
	}
}
@media (max-width: 979px) {
	.modal-open.page-overflow .page-container .navbar-fixed-top,
	.modal-open.page-overflow .page-container .navbar-fixed-bottom  {
		overflow-y: visible;
	}
	.modal, 
	.modal.container,
	.modal.modal-overflow {
		top: 1%;
		right: 1%;
		left: 1%;
		bottom: auto;
		width: auto !important;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	.modal.fade.in, 
	.modal.container.fade.in,
	.modal.modal-overflow.fade.in {
		top: 1%;
		bottom: auto;
	}
	.modal-body,
	.modal-overflow .modal-body {
		position: static;
		margin: 0;
		height: auto !important;
		max-height: none !important;
		overflow: visible !important;
	}
	.modal-footer,
	.modal-overflow .modal-footer {
		position: static;
	}
}
.loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
}
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}
@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}
@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}

// jQuery ElFinder
.elfinder {
	border-color: @dataNestedBorderColor;
	.border-radius(@baseBorderRadius);
	.elfinder-navbar {
		margin: 0;
		padding: @baseMargin / 2;
		height: 100%;
		background: @dataNestedBackgroundColor;
		border-color: @dataNestedBorderColor;
		.ui-state-hover {
			background: transparent;
			border-color: transparent;
		}
		.ui-state-active {
			color: @textColor;
			background: lighten(@dataNestedBackgroundColor, 5%);
			border-color: @dataNestedBorderColor;
		}
	}
	.elfinder-button-search.elfinder-button {
		width: 192px;
		margin: 0;
		input {
			margin: 0;
			padding-left: @baseMargin;
		}
		.ui-icon-close {
			margin-right: @baseMargin / 3;
		}
	}
	.elfinder-statusbar {
		padding: @baseMargin / 2;
		color: @gray;
		a {
			text-decoration: none;
			color: @gray;
		}
		&.ui-widget-header {
			.border-radius(0 0 @baseBorderRadius @baseBorderRadius);
		}
	}
	.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
	.elfinder-cwd table td.ui-state-hover,
	.elfinder-button-menu .ui-state-hover {
		color: @white;
		background: @templateColor;
	}
	.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover {
		background: @dataNestedBackgroundColor;
	}
	.elfinder-cwd table tr {
		border-top: 1px dotted @dataNestedBorderColor;
		&:nth-child(odd) {
			background-color: #f8f8f8;
		}
	}
}
.elfinder-disabled {
	.elfinder-navbar {
		.ui-state-active {
			color: @dataNestedTextColor;
			background: darken(@dataNestedBackgroundColor, 5%);
			border-color: @dataNestedBorderColor;
		}
	}
	.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
	.elfinder-cwd table td.ui-state-hover {
		background: lighten(@grayLight, 15%);
	}
}
.elfinder-contextmenu .ui-state-hover {
	background: @dataNestedBackgroundColor;
	color: #fff;
	.elfinder-contextmenu-arrow {
		background-image: url('../img/arrows-active.png');
	}
}
#elfinder .elfinder-cwd-view-icons .elfinder-cwd-file {
	width: 120px;
	height: 95px;
}
// Custom elFinder jquery UI
.elfinder {
	border-color: @dataNestedBorderColor;
	.ui-widget-header {
		padding: @baseMargin / 2;
		background: @bodyBackground;
		border-color: @dataNestedBorderColor;
		.border-radius(@baseBorderRadius @baseBorderRadius 0 0);
	}
}
