<div class="row-fluid">
    <article class="span12 data-block nested">
        <div class="data-container">
            <?= $this->partial('_partial/header.phtml', $this); ?>
            <section>
                <?php if ($this->error) { ?>
                    <div class="alert alert-error fade in">
                        <strong><?php echo Core_Locale::translate('Form has errors') ?></strong>
                    </div>
                <?php } ?>
                <div>
                    <?php
                    $title = Core_Auth_Admin::getInstance()->getStorage()->read()->group_title;
                    $model = new Model_AdminGroups();
                    $hide = $model->hideBlitzinfo($title);
                    ?>
                    <form enctype="multipart/form-data" name="blitz" class="form-horizontal" method="post"
                          style="margin-bottom: 15px;">
                        <div class="table">
                            <th><?php echo Core_Locale::translate('Main info') ?></th>
                            <?php
                            echo $this->form->order_type;
                            echo $this->form->status;
                            echo $this->form->payment_type;
                            echo $this->form->invoice_nr;
                            ?>
                        </div>
                        <div class="table">
                            <th><?php echo Core_Locale::translate('Person info') ?></th>
                            <?php echo $this->form->name;
                            echo $this->form->surname;
                            echo $this->form->phone;
                            echo $this->form->email;
                            echo $this->form->address;
                            echo $this->form->birth_date ?>
                        </div>
                        <div class="table ">
                            <th><?php echo Core_Locale::translate('Company info') ?></th>
                            <?php
                            echo $this->form->company_code;
                            ?>
                            <?php if ($hide['hide_blitzinfo'] == '1') { ?>
                                <div class="contract-select" style="display: none">
                                    <label for="contract">Select witch contract</label>
                                    <select disabled id="contract" style="margin-left: 9px;">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            <?php } else { ?>
                                <div class="contract-select" style="display: none">
                                    <label for="contract">Select witch contract</label>
                                    <select id="contract" style="margin-left: 9px;">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            <?php } ?>
                            <?php
                            echo $this->form->company;
                            echo $this->form->contract_nr;
                            echo $this->form->pvm_code;
                            echo $this->form->company_phone;
                            echo $this->form->company_email;
                            echo $this->form->company_address;
                            echo $this->form->pvm_invoice ?>
                        </div>
                        <div class="table">
                            <th><?php echo Core_Locale::translate('Car info') ?></th>
                            <?php echo $this->form->plate;
                            echo $this->form->model;
                            echo $this->form->tech_doc_nr;
                            echo $this->form->insurance_nr;
                            echo $this->form->mileage_before;
                            echo $this->form->mileage_after ?>
                        </div>
                        <div class="table">
                            <?php if ($hide['hide_blitzinfo'] == '1') { ?>
                                <th><?php echo Core_Locale::translate('Service info') ?></th>
                                <dt id="date_from-label"><label for="date_from"
                                                                class="date-from-label"><?php echo Core_Locale::translate('Automobilio atidavimo data, laikas') ?>
                                        *</label></dt>
                                <dd><input disabled type="text" class="datetimepicker" id="date_from" name="date_from"
                                           value="<?php echo $this->date_from ?>"></dd>
                                <dt id="date_to-label"><label
                                            for="date_to"><?php echo Core_Locale::translate('Automobilio atsiėmimo data, laikas') ?></label>
                                </dt>
                                <dd><input disabled type="text" class="datetimepicker" id="date_to" name="date_to"
                                           value="<?php echo $this->date_to ?>"></dd>
                            <?php } else { ?>
                                <th><?php echo Core_Locale::translate('Service info') ?></th>
                                <dt id="date_from-label"><label for="date_from"
                                                                class="date-from-label"><?php echo Core_Locale::translate('Automobilio atidavimo data, laikas') ?>
                                        *</label></dt>
                                <dd><input type="text" class="datetimepicker" id="date_from" name="date_from"
                                           value="<?php echo $this->date_from ?>"></dd>
                                <dt id="date_to-label"><label
                                            for="date_to"><?php echo Core_Locale::translate('Automobilio atsiėmimo data, laikas') ?></label>
                                </dt>
                                <dd><input type="text" class="datetimepicker" id="date_to" name="date_to"
                                           value="<?php echo $this->date_to ?>"></dd>
                            <?php } ?>
                            <?php
                            echo $this->form->flight_number;
                            //echo $this->form->days;
                            echo $this->form->washing;
                            echo $this->form->fast_track_nr; ?>
                            <?php if ($hide['hide_blitzinfo'] == '1') { ?>
                                <dt id="club_membership-label"><label
                                            for="club_membership"><?php echo Core_Locale::translate('club_membership') ?></label>
                                </dt>
                                <dd><input disabled value="<?php if (!empty($this->club_membership)) {
                                        echo $this->club_membership;
                                    } else {
                                        echo '0';
                                    } ?>" type="text" id="club_membership" name="club_membership"
                                           onchange="clubFunction()"></dd>
                            <?php } else { ?>
                                <dt id="club_membership-label"><label
                                            for="club_membership"><?php echo Core_Locale::translate('club_membership') ?></label>
                                </dt>
                                <dd><input value="<?php if (!empty($this->club_membership)) {
                                        echo $this->club_membership;
                                    } else {
                                        echo '0';
                                    } ?>" type="text" id="club_membership" name="club_membership"
                                           onchange="clubFunction()"></dd>
                            <?php } ?>
                            <?php
                            echo $this->form->amount;
                            echo $this->form->amount_pvm;
                            echo $this->form->club_membership_nr;
                            ?>
                            <?php //if($hide['hide_blitzinfo'] == '1'){ ?>
                            <!--<div class="left browse">
                                <label for="img_attach1">1 foto</label>
                                <input disabled type="file" name="img_attach1"/>
                            </div>
                            <div class="left browse">
                                <label for="img_attach1">2 foto</label>
                                <input disabled type="file" name="img_attach2"/>
                            </div>
                            <div class="left browse">
                                <label for="img_attach1">3 foto</label>
                                <input disabled type="file" name="img_attach3"/>
                            </div>
                            <div class="left browse">
                                <label for="img_attach1">4 foto</label>
                                <input disabled type="file" name="img_attach4"/>
                            </div>
                            <div class="left browse">
                                <label for="img_attach1">5 foto</label>
                                <input disabled type="file" name="img_attach5"/>
                            </div>
                            <div class="left browse">
                                <label for="img_attach1">6 foto</label>
                                <input disabled type="file" name="img_attach6"/>
                            </div>-->
                            <?php //}else{ ?>
                            <!--<div class="left browse">
                                <label for="img_attach1">1 foto</label>
                                <input  type="file" name="img_attach1"/>
                            </div>
                            <div class="left browse">
                                <label for="img_attach1">2 foto</label>
                                <input  type="file" name="img_attach2"/>
                            </div>
                            <div class="left browse">
                                <label for="img_attach1">3 foto</label>
                                <input  type="file" name="img_attach3"/>
                            </div>
                            <div class="left browse">
                                <label for="img_attach1">4 foto</label>
                                <input  type="file" name="img_attach4"/>
                            </div>
                            <div class="left browse">
                                <label for="img_attach1">5 foto</label>
                                <input  type="file" name="img_attach5"/>
                            </div>
                            <div class="left browse">
                                <label for="img_attach1">6 foto</label>
                                <input  type="file" name="img_attach6"/>
                            </div>-->
                            <?php // } ?>
                            <input type=button onclick="myFunction()" class="btn" style="margin-top: 15px"
                                   value="<?php echo Core_Locale::translate('Add') ?>">
                        </div>
                    </form>
            </section>
        </div>
    </article>
</div>
<script type="text/javascript">
    var club_membership = document.getElementById("club_membership");
    var name = document.getElementById("name");
    var surname = document.getElementById("surname");
    var phone = document.getElementById("phone");
    var email = document.getElementById("email");
    var birth_date = document.getElementById("birth_date");
    var company = document.getElementById("company");
    var company_code = document.getElementById("company_code");
    var company_phone = document.getElementById("company_phone");
    var company_email = document.getElementById("company_email");
    var company_address = document.getElementById("company_address");
    var plate = document.getElementById("plate");
    var amount = document.getElementById("amount");
    var amount_pvm = document.getElementById("amount_pvm");
    var tech_doc_nr = document.getElementById("tech_doc_nr");
    var insurance_nr = document.getElementById("insurance_nr");
    var mileage_before = document.getElementById("mileage_before");
    var date_from = document.getElementById("date_from");
    var date_to = document.getElementById("date_to");
    var flight_number = document.getElementById("flight_number");
    var order_type = $("#order_type");

    /*if(!club_membership.value || club_membership.value =="0"){

    if(!amount.value ){ amount.value = "41.32";}
    if(!amount_pvm.value ){  amount_pvm.value = "50.00";}
    }

    function clubFunction() {

        if(!club_membership.value || club_membership.value =="0")
        {
            amount_pvm.value = "50.00";
            amount.value = parseFloat(amount_pvm.value) / 1.21 ;
            amount.value =  parseFloat(amount.value).toFixed(2);
        }
        var sum = parseFloat(club_membership.value);
        var ampvm = +sum + +50.00;
        var am = ampvm / 1.21;
        amount_pvm.value = parseFloat(ampvm).toFixed(2);
        amount.value = parseFloat(am).toFixed(2);

    }*/

    // Check function
    function myFunction() {
        if (plate.value == "" || date_from.value == "") {
            alert("Ne visi privalomi laukai užpildyti");
            if (plate.value == "") {
                alert("Reikia ivesti automobilio nr.");
            } else if (date_from.value == "") {
                alert("Reikia ivesti automobilio atidavimo laika");
            }
        } else {
            document.blitz.submit();
        }
    }

    // Ajax post company code to PHP
    var getCompanycode = function (code) {
        $.ajax({
            url: 'http://'.<?php echo $_SERVER['HTTP_HOST'] ?>.'/cron/get-billing-company-info',
            type: 'POST',
            cache: false,
            data: {
                data: code,
                ajax: 'get-billing-company-info'
            },
            dataType: 'json',
            success: function (data) {
                console.log('success');
                console.log(data);
                var select = $('.contract-select');
                if (data.length > 1) {
                    var contr = document.getElementById('contract');
                    var contract = $("#contract");
                    contract.empty();
                    contract.prepend("<option value=''></option>");
                    setCompanyInfo('', '', '', '', '', '');
                    select.show();
                    for (var i = 0; i < data.length; i++) {
                        var opt = document.createElement('option');
                        opt.innerHTML = data[i].number;
                        opt.value = i;
                        contr.appendChild(opt);
                        contract.change(function () {
                            setCompanyInfo(data[$(this).val()].name, data[$(this).val()].number, data[$(this).val()].vat_code, data[$(this).val()].phone, data[$(this).val()].email, data[$(this).val()].address);
                        });
                    }
                } else {
                    select.hide();
                    setCompanyInfo(data[0].name, data[0].number, data[0].vat_code, data[0].phone, data[0].email, data[0].address);
                }
            },
            error: function (err) {
            }
        })
    };

    // Ajax get statuses by order type
    var getStatuses = function (id) {
        $.ajax({
            url: 'http://'.<?php echo $_SERVER['HTTP_HOST'] ?>.'/cron/get-blitz-statuses',
            type: 'POST',
            cache: false,
            data: {
                data: id,
                ajax: 'get-blitz-statuses'
            },
            dataType: 'json',
            success: function (data) {
                var select = document.getElementById('status');
                var status_select = $('#status');
                status_select.empty();
                for (var i = 0; i < data.length; i++) {
                    var opt = document.createElement('option');
                    opt.innerHTML = data[i].name;
                    opt.value = data[i].status_id;
                    select.appendChild(opt);
                }
            },
            error: function (err) {

            }
        })
    };

    // Setting info to fields
    var setCompanyInfo = function (company, contract, pvm, phone, email, address) {
        $('#company').val(company);
        $('#contract_nr').val(contract);
        $('#pvm_code').val(pvm);
        $('#company_phone').val(phone);
        $('#company_email').val(email);
        $('#company_address').val(address);
    };

    // Calling ajax after getting company code
    var _key_timeout;
    $("#company_code").keyup(function () {
        var code = $(this).val();
        clearTimeout(_key_timeout);
        _key_timeout = setTimeout(function () {
            getCompanycode(code);
        }, 1000);
    });

    // Document ready
    $(document).ready(function () {
        order_type.change(function () {
            var id = $(this).val();
            getStatuses(id);
        });
    });

</script>