<article class="span12 data-block nested">
    <div class="data-container">
        <?= $this->partial('_partial/header.phtml', [
            $this,
            'sub_actions' =>
                [
                    'add blic contract' => [
                        "href" => '/admin/' . LANG . '/blitz/blitz-insert',
                        "label" => Core_Locale::translate('Add blic contract')
                    ],
                ]
        ]);
        ?>
        <?php
        $title = Core_Auth_Admin::getInstance()->getStorage()->read()->group_title;
        $model = new Model_AdminGroups();
        $hide = $model->hideBlitzinfo($title);
        ?>
        <section>
            <form class="form-search well" method="get" style="margin-bottom: 10px;">
                <div class="control-group pull-right">
                    <div class="controls">
                        <button type="submit" class="btn" name="today"
                                value="today"><?php echo Core_Locale::translate('Today_give_back') ?></button>
                        <input type="text" name="date_from" value="<?php echo $this->date_from ?>"
                               class="search-query datepicker"
                               placeholder="<?php echo Core_Locale::translate('Date From') ?>">
                        <input type="text" name="date_to" value="<?php echo $this->date_to ?>"
                               class="search-query datepicker"
                               placeholder="<?php echo Core_Locale::translate('Date To') ?>">

                        <select name="status" class="search-query" id="statusFilter"
                                data-status="<?php echo $this->status ?>">
                            <option value=""></option>
                            <option value="Naujas">Naujas</option>
                            <option value="Pastatytas aiksteleje">Pastatytas aiksteleje</option>
                            <option value="Paruostas plovimui">Paruostas plovimui</option>
                            <option value="Nuplautas">Nuplautas</option>
                            <option value="Atiduotas klientui">Atiduotas klientui</option>
                        </select>

                        <input type="text" name="filter" value="<?php echo $this->filter ?>" class="search-query"
                               placeholder="<?php echo Core_Locale::translate('Filter') ?>">
                        <button type="submit" class="btn"><?php echo Core_Locale::translate('Search') ?></button>
                    </div>
                </div>
            </form>
            <form method="post">
                <div class="control-group pull-right">

                    <div class="controls">

                        <input type="hidden" name="table" value="<?php echo $this->table ?>"/>
                        <button type="submit" class="btn" name="csv"
                                value="csv"><?php echo Core_Locale::translate('CSV') ?></button>
                        <button type="submit" class="btn" name="xls"
                                value="xls"><?php echo Core_Locale::translate('Excel') ?></button>
                    </div>
                </div>
            </form>
            <table class="table table-hover table-striped tableContentAlignLeft">
                <thead>
                <tr>

                    <th><?php echo Core_Locale::translate('Eiles nr.') ?></th>
                    <th><?php echo Core_Locale::translate('contract_number') ?></th>
                    <th><?php echo Core_Locale::translate('buyer') ?></th>
                    <th><?php echo Core_Locale::translate('Plate') ?></th>
                    <th><?php echo Core_Locale::translate('Date_from') ?></th>
                    <th><?php echo Core_Locale::translate('Date_to') ?></th>
                    <th><?php echo Core_Locale::translate('Payment_type') ?></th>
                    <th><?php echo Core_Locale::translate('Flight_number') ?></th>
                    <th><?php echo Core_Locale::translate('Status') ?></th>
                    <th><?php echo Core_Locale::translate('Order_type') ?></th>
                    <!-- <th><?php // echo Core_Locale::translate('Pdf')?></th>
                    <th><?php //echo Core_Locale::translate('Send')?></th> -->
                </tr>
                </thead>
                <tbody>

                <?php if ($this->paginator->count()) {
                    if (!$this->page) {
                        $p = (((DEFAULT_PAGINATION_ITEMS) * 1) - (DEFAULT_PAGINATION_ITEMS - 1));
                    } else {
                        $p = ((DEFAULT_PAGINATION_ITEMS) * ($this->page) - (DEFAULT_PAGINATION_ITEMS - 1));
                    }
                }
                foreach ($this->paginator->getCurrentItems() as $i) { ?>
                    <tr>
                        <td><?php echo $p++; ?></td>
                        <td>
                            <a href="http://<?php echo $_SERVER['HTTP_HOST'] ?>/admin/<?php echo LANG ?>/blitz/blitz-insert/id/<?php echo $i['id'] ?>"><?php echo $i['contract_nr'] ?></a>
                        </td>
                        <td>
                            <a href="http://<?php echo $_SERVER['HTTP_HOST'] ?>/admin/<?php echo LANG ?>/blitz/blitz-insert/id/<?php echo $i['id'] ?>"><?php echo $i['name'] . ' ' . $i['surname'] ?></a>
                        </td>
                        <td>
                            <a href="http://<?php echo $_SERVER['HTTP_HOST'] ?>/admin/<?php echo LANG ?>/blitz/blitz-insert/id/<?php echo $i['id'] ?>"><?php echo $i['plate'] ?></a>
                        </td>
                        <td>
                            <a href="http://<?php echo $_SERVER['HTTP_HOST'] ?>/admin/<?php echo LANG ?>/blitz/blitz-insert/id/<?php echo $i['id'] ?>"><?php echo $i['date_from'] ?></a>
                        </td>
                        <td>
                            <a href="http://<?php echo $_SERVER['HTTP_HOST'] ?>/admin/<?php echo LANG ?>/blitz/blitz-insert/id/<?php echo $i['id'] ?>"><?php echo $i['date_to'] ?></a>
                        </td>
                        <td>
                            <a href="http://<?php echo $_SERVER['HTTP_HOST'] ?>/admin/<?php echo LANG ?>/blitz/blitz-insert/id/<?php echo $i['id'] ?>"><?php echo $i['payment_type'] ?></a>
                        </td>
                        <td>
                            <a href="http://<?php echo $_SERVER['HTTP_HOST'] ?>/admin/<?php echo LANG ?>/blitz/blitz-insert/id/<?php echo $i['id'] ?>"><?php echo $i['flight_number'] ?></a>
                        </td>
                        <td>
                            <a href="http://<?php echo $_SERVER['HTTP_HOST'] ?>/admin/<?php echo LANG ?>/blitz/blitz-insert/id/<?php echo $i['id'] ?>"><?php echo $i['status_name'] ?></a>
                        </td>
                        <td>
                            <a href="http://<?php echo $_SERVER['HTTP_HOST'] ?>/admin/<?php echo LANG ?>/blitz/blitz-insert/id/<?php echo $i['id'] ?>"><?php echo $i['type'] ?></a>
                        </td>
                        <!--  <?php if ($hide['hide_blitzinfo'] == '1') { ?>
                                <td><a href="<?php // echo $this->baseUrl('blitz/blitz-pdf/id/'.$i['id']) ?>" target="_blank" class="btn inactive"><?php // echo Core_Locale::translate('pdf')?></a> </td>
                                <td><a href="<?php // echo $this->baseUrl('blitz/blitz-send/id/'.$i['id']) ?>" class="btn inactive <?php // if($i['pdf_send'] == '1')echo 'btn-success';?>"><?php // echo Core_Locale::translate('Send')?></a> </td>
                            <?php } else { ?>
                                <td><a href="<?php // echo $this->baseUrl('blitz/blitz-pdf/id/'.$i['id']) ?>" target="_blank" class="btn "><?php // echo Core_Locale::translate('pdf')?></a> </td>
                                <td><a href="<?php // echo $this->baseUrl('blitz/blitz-send/id/'.$i['id']) ?>" class="btn <?php // if($i['pdf_send'] == '1')echo 'btn-success';?>"><?php // echo Core_Locale::translate('Send')?></a> </td>
                            <?php } ?> -->
                    </tr>
                <?php } ?>
                </tbody>
            </table>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', DEFAULT_PAGINATION_SCRIPT,
                ['paginator_params' => $this->paginator_params]); ?>
        </section>
    </div>
</article>


<script type="text/javascript">
    $(document).ready(function () {
        $("#statusFilter").val($("#statusFilter").attr('data-status'));
    });
</script>



