<style>
    OL {
        counter-reset: item;
    }

    LI {
        display: block;
    }

    LI:before {
        content: counters(item, ".") " ";
        counter-increment: item
    }

    .one, .two {
        border: 2px solid black;
        border-collapse: collapse;

    }

    .one td {
        border: 1px solid black;
        border-collapse: collapse;

    }

    .two td {
        border: 1px solid black;
        border-collapse: collapse;

    }

    #left {
        vertical-align: top;
    }

</style>
<?php $date = new DateTime($this->fine['inserted']);

?>
<p style="text-align: center;">
    PASLAUGŲ TEIKIMO SUTARTIS NR. <?php echo $this->fine['id'] ?><br>
    <?php echo $date->format('Y-m-d'); ?><br>
    Vilnius
</p>
<p>
    UAB „Stova“ (juridinio asmens kodas: 302299725), registruota Ozo g. 10a, LT-08200, Vilnius (toliau – Paslaugų
    teikėjas), atstovaujama <?php echo $this->fine['admin'] ?>, ir <?php if ($this->fine['person'] == 'fizinis') {
        echo $this->fine['name'] . ' ' . $this->fine['surname'] . '  (juridinio/ fizinio asmens kodas:  ' . $this->fine['birth_date'] . '  ), registruotas (-a) ' . $this->fine['address'];
    } else {
        echo $this->fine['company'] . '  (juridinio/ fizinio asmens kodas:  ' . $this->fine['company_code'] . '  ), registruotas (-a) ' . $this->fine['address'];
    } ?> (toliau –Užsakovas), sudarė šią paslaugų teikimo sutartį (toliau – Sutartis). Toliau Paslaugų teikėjas ir
    Paslaugų užsakovas kiekvienas atskirai dar vadinami Šalimi, o abu kartu – Šalimis.<br>

</p>
<ol>
    <li style="font-weight: bold; ">Sutarties dalykas</li>
    <ol style="margin-bottom: 7px;">
        <li>
            Pagal šią sutartį Paslaugų teikėjas suteikia teisę Užsakovui pasinaudoti Paslaugų teikėjo automobilių
            stovėjimo aikštelių paslaugomis bei papildomomis paslaugomis, o Užsakovas sutinka sumokėti Paslaugų teikėjui
            už suteiktas paslaugas.
        </li>
        <li>
            Konkretus automobilio stovėjimo laikas, trukmė, papildomos paslaugos, paslaugas gaunantis asmuo ir
            automobilis yra nurodomi Sutarties prieduose, pasirašant priėmimo perdavimo aktus.
        </li>
    </ol>
    <li style="font-weight: bold;">Paslaugos teikėjo pareigos</li>
    <ol>
        <li>Paslaugos teikėjas įsipareigoja:</li>
        <ol style="margin-bottom: 7px;">
            <li>
                Pastatyti Užsakovo automobilį į UAB „Stova“ automobilių stovėjimo aikštelę, esančią Vilniaus oro uosto
                teritorijoje.
            </li>
            <li>
                Palikdamas automobilį aikštelėje užrakinti automobilį, uždaryti visus langus, įjungti vairo užrakinimo
                mechanizmą, įjungti signalizaciją (jei tokia yra), imtis būtinų priemonių Užsakovo turto saugumui
                užtikrinti.
            </li>
            <li>
                Prieš perimdamas automobilį iš Užsakovo, darant fotonuotraukas, užfiksuoti išorinius automobilio kėbulo
                ir salono pažeidimus (jei tokių yra). Automobilio perėmimo metu užpildomas priėmimo-perdavimo aktas.
                Automobilio priėmimo-perdavimo aktas pridedamas prie Sutarties ir yra neatskiriama Sutarties dalis.
                <br></li>
            <li>
                Visą automobilio judėjimą fiksuoti vaizdo registratoriumi ir Užsakovui pareikalavus pateikti visą vaizdo
                medžiagą.
            </li>
            <li>
                Pristatydamas automobilį į stovėjimo aikštelę ir iš jos griežtai laikytis LR galiojančių KET, o jas
                pažeidus prisiimti visišką atsakomybę už padarytus pažeidimus ir atlyginti Paslaugos užsakovui visus su
                tuo susijusius nuostolius.
            </li>
            <li>
                Atlyginti Užsakovui žalą, padarytą jo automobiliui, jei tai įvyko dėl Paslaugos teikėjo kaltės Sutarties
                galiojimo laikotarpiu.
            </li>
            <li>
                Suteikti papildomas paslaugas – automobilio plovimas, greitosios patikros paslaugą (angliškai Fast
                track).
            </li>
        </ol>
    </ol>
    <li style="font-weight: bold;">Užsakovo pareigos</li>
    <ol>
        <li>Užsakovas įsipareigoja:</li>
        <ol style="margin-bottom: 7px;">
            <li>
                Perduoti automobilio raktelius, automobilio draudimo dokumentus, automobilio techninį pasą ir kitus
                reikalingus dokumentus Paslaugų teikėjui.
            </li>
            <li>
                Užtikrinti, kad perduodamas automobilis yra tinkamas eksploatuoti ir atitinka visus privalomus teisės
                aktų reikalavimus (pvz. turi draudimą).
            </li>
            <li>
                Nepalikti automobilio salone vertingų daiktų.
            </li>
            <li>
                Ne vėliau kaip prieš 5 (penkias) valandas iki automobilio atidavimo termino pabaigos, numatyto priėmimo
                perdavimo akte (automobilio grąžinimo Užsakovui laiko), informuoti Paslaugos teikėją tel. +370 700 77877
                apie pasikeitusį automobilio atsiėmimo laiką.
            </li>
            <li>
                Pasirašydamas šią Sutartį Paslaugos užsakovas dar kartą patvirtina, kad yra susipažinęs su Paslaugos
                rezervacijos taisyklėmis.
            </li>
            <li>
                Pasirašydamas šią Sutartį Paslaugos užsakovas patvirtina, kad tretieji asmenys jokių pretenzijų į
                automobilį neturi visą Sutarties galiojimo terminą, perduodamas automobilis nėra areštuotas, neįkeistas,
                jis nėra teisminio ginčo objektas, nėra įtrauktas į ieškomų transporto priemonių registrą.
            </li>
        </ol>
    </ol>

    <li style="font-weight: bold;">Atsiskaitymai ir atsiskaitymų tvarka</li>
    <ol style="margin-bottom: 7px;">
        <li>
            Paslaugų mokestis yra <?php echo $this->fine['amount_pvm'] ?> EUR su PVM. Į kainą įskaičiuotas Užsakovo
            automobilio stovėjimas vienoje iš Paslaugų teikėjo automobilių stovėjimo aikštelėje, esančioje prie
            Tarptautinio Vilniaus oro uosto (ne daugiau kaip 14 dienų), automobilio išorės ir vidaus plovimas,
            greitosios keleivių patikros kuponai (angliškai Fast Trask) (ne daugiau kaip 4 vnt.).
        </li>
        <li>
            Užsakovas privalo sumokėti Paslaugos teikėjui Paslaugų mokestį prieš atsiimdamas automobilį.
        </li>
        <li>
            Jeigu faktinis automobilio stovėjimo laikas yra trumpesnis nei nurodyta automobilio priėmimo perdavimo akte
            – pinigai už nepanaudotą stovėjimo laiką negrąžinami.
        </li>
        <li>
            Jeigu faktinis automobilio stovėjimo laikas yra ilgesnis nei nurodyta priėmimo perdavimo akte - Užsakovas
            įsipareigoja umokėti Paslaugų teikėjui už viršytą laiką pagal tuo metu galiojančius tarifus.
        </li>
    </ol>
    <li style="font-weight: bold;">Sutarties galiojimas</li>
    <ol style="margin-bottom: 7px;">
        <li>
            Ši Sutartis įsigalioja nuo jos pasirašymo momento ir galioja iki Paslaugų teikimo termino pabaigos.
        </li>
        <li>
            Jei bet kuri šios Sutarties nuostata tampa ar pripažįstama visiškai ar iš dalies negaliojančia, tai neturi
            įtakos kitų Sutarties nuostatų galiojimui.
        </li>
        <li>
            Nutraukus Sutartį ar jai pasibaigus, lieka galioti šios Sutarties nuostatos, susijusios su atsakomybe,
            konfidencialumu bei atsiskaitymais tarp Šalių pagal šią Sutartį, taip pat visos kitos šios Sutarties
            nuostatos, kurios, kaip aiškiai nurodyta, išlieka galioti po Sutarties nutraukimo arba turi išlikti galioti,
            kad būtų visiškai įvykdyta ši Sutartis.
        </li>
    </ol>
    <li style="font-weight: bold;"> Kitos sąlygos</li>
    <ol style="margin-bottom: 7px;">
        <li>
            Ši Sutartis sudaryta lietuvių kalba dviem egzemplioriais, iš kurių kiekvienas turi vienodą juridinę galią ir
            kurių po vieną egzempliorių po pasirašymo perduodami Paslaugos teikėjui ir Užsakovui
        </li>
        <li>
            Ši Sutartis yra sudaryta, aiškinama ir interpretuojama, vadovaujantis Lietuvos Respublikos įstatymais.
        </li>
        <li>
            Visi ginčai, nesutarimai arba pretenzijos, kylančios iš šios Sutarties, bus sprendžiami tarp Šalių derybų
            keliu.
        </li>
        <li>
            Jeigu ginčų, nesutarimų ar reikalavimų nepavyksta išspręsti derybų keliu, kiekvienas ginčas, nesutarimas ar
            reikalavimas, kylantis iš šios Sutarties arba su ja susijęs, turi būti sprendžiamas Lietuvos Respublikos
            įstatymų nustatyta tvarka.
        </li>
        <li>
            Visi Sutarties priedai yra neatskiriama šios Sutarties dalis.
        </li>
    </ol>
    <li style="font-weight: bold;">Sutarties šalių rekvizitai</li>
</ol>

<table style="border: 1px solid #000; ">
    <tr>
        <td width="420">
            <b>UAB „STOVA”</b><br>
            Adresas: Ozo g. 10 a, LT-08200 Vilnius<br>
            Tel. (8 5) 235 60 86, faksas (8 5) 211 36 06<br>
            El. paštas: info@unipark.lt<br>
            Įmonės kodas 302299725, PVM m. k. LT100004511618<br>
            A.s. LT777044060006696271<br>
            AB SEB bankas, banko kodas 70440<br>
            <br>
            <?php echo $this->fine['admin'] ?>
        </td>
        <td style="border-left: 1px solid #000" width="420">
            <?php if ($this->fine['person'] == 'fizinis') { ?>
                <b><?php echo $this->fine['name'] . ' ' . $this->fine['surname'] ?></b><br>
                Adresas: <?php echo $this->fine['address'] ?><br>
                Tel. <?php echo $this->fine['phone'] ?><br>
                El. paštas <?php echo $this->fine['email'] ?><br>
                <?php echo $this->fine['birth_date'] ?>,<br>
                PVM m. k. - <br>
                <br>
                <br>
                <?php echo $this->fine['name'] . ' ' . $this->fine['surname'] ?>
            <?php } else { ?>
                <b><?php echo $this->fine['company'] ?></b><br>
                Adresas: <?php echo $this->fine['address'] ?><br>
                Tel. <?php echo $this->fine['company_phone'] ?><br>
                El. paštas <?php echo $this->fine['company_email'] ?><br>
                Juridinio/ fizinio asmens kodas <?php echo $this->fine['company_code'] ?>,<br>
                PVM m. k. <?php echo $this->fine['pvm_code'] ?> <br>
                <br>
                <br>
                <?php echo $this->fine['name'] . ' ' . $this->fine['surname'] ?>
            <?php } ?>
        </td>
    </tr>
</table>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

<p style="text-align: center; font-weight: bold;">Automobilio priėmimo perdavimo aktas
    Nr. <?php echo $this->fine['id'] ?><br>
    <?php echo $date->format('Y-m-d'); ?><br>
    Vilnius
</p>

<br>

<table class="main">
    <tr>
        <td valign="top">
            <table width="350" class="one">
                <tr>
                    <th colspan="2">Fizinio asmens duomenys</th>
                </tr>
                <tr>
                    <td>Vardas, Pavardė</td>
                    <td><?php echo $this->fine['name'] . ' ' . $this->fine['surname'] ?></td>
                </tr>
                <tr>
                    <td>Adresas</td>
                    <td><?php echo $this->fine['address'] ?></td>
                </tr>
                <tr>
                    <td>Tel. numeris</td>
                    <td><?php echo $this->fine['phone'] ?></td>
                </tr>
                <tr>
                    <td>El. paštas</td>
                    <td><?php echo $this->fine['email'] ?></td>
                </tr>
                <tr>
                    <td>Asmens kodas/ gimimo data</td>
                    <td><?php echo $this->fine['birth_date'] ?></td>
                </tr>
            </table>
        </td>
        <td valign="top">
            <table width="500" class="two">
                <tr>
                    <th colspan="2">Juridinio asmens duomenys</th>
                </tr>
                <tr>
                    <td>Įmonės pavadinimas</td>
                    <td><?php echo $this->fine['company'] ?></td>
                </tr>
                <tr>
                    <td>Sutarties numeris su UAB „Stova“</td>
                    <td><?php echo $this->fine['contract_nr'] ?></td>
                </tr>
                <tr>
                    <td>Įmonės kodas</td>
                    <td><?php echo $this->fine['company_code'] ?></td>
                </tr>
                <tr>
                    <td>PVM kodas</td>
                    <td><?php echo $this->fine['pvm_code'] ?></td>
                </tr>
                <tr>
                    <td>Tel numeris</td>
                    <td><?php echo $this->fine['company_phone'] ?></td>
                </tr>
                <tr>
                    <td>El. paštas</td>
                    <td><?php echo $this->fine['company_email'] ?></td>
                </tr>
                <tr>
                    <td>Adresas</td>
                    <td><?php echo $this->fine['company_address'] ?></td>
                </tr>
                <tr>
                    <td>Įtraukti į PVM sąskaitą faktūrą</td>
                    <td><?php echo $this->fine['pvm_invoice'] ?></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <table class="one">
                <tr>
                    <th colspan="2" width="350">Transporto priemonės duomenys</th>
                </tr>
                <tr>
                    <td>Valstybinis numeris</td>
                    <td><?php echo $this->fine['plate'] ?></td>
                </tr>
                <tr>
                    <td>Modelis</td>
                    <td><?php echo $this->fine['model'] ?></td>
                </tr>
                <tr>
                    <td>Techninio paso Nr.</td>
                    <td><?php echo $this->fine['tech_doc_nr'] ?></td>
                </tr>
                <tr>
                    <td>Draudimo poliso Nr.</td>
                    <td><?php echo $this->fine['insurance_nr'] ?></td>
                </tr>
                <tr>
                    <td>Rida atidavimo metu</td>
                    <td><?php echo $this->fine['mileage_before'] ?></td>
                </tr>
                <tr>
                    <td>Rida pasiėmimo metu</td>
                    <td><?php echo $this->fine['mileage_after'] ?></td>
                </tr>
            </table>
        </td>
        <td valign="top">
            <table width="500" class="two">
                <tr>
                    <th colspan="2">Paslaugos informacija</th>
                </tr>
                <tr>
                    <td>Automobilio atidavimo data, laikas</td>
                    <td><?php echo $this->fine['date_from'] ?></td>
                </tr>
                <tr>
                    <td>Automobilio atsiėmimo data, laikas</td>
                    <td><?php echo $this->fine['date_to'] ?></td>
                </tr>
                <tr>
                    <td>Parkavimo parų skaičius</td>
                    <td><?php echo $this->fine['day_amount'] ?></td>
                </tr>
                <tr>
                    <td>Plovimas (vidus/išorė)</td>
                    <td><?php echo $this->fine['washing'] ?></td>
                </tr>
                <tr>
                    <td>Greitosios patikros kuponų sk.</td>
                    <td><?php echo $this->fine['fast_track_nr'] ?></td>
                </tr>
                <tr>
                    <td>Verslo klubo narystė</td>
                    <td><?php echo $this->fine['club_membership'] ?></td>
                </tr>
                <tr>
                    <td>Suma be PVM</td>
                    <td><?php echo $this->fine['amount'] ?></td>
                </tr>
                <tr>
                    <td>Suma su PVM</td>
                    <td><?php echo $this->fine['amount_pvm'] ?></td>
                </tr>
                <tr>
                    <td>Grįžimo skrydžio numeris</td>
                    <td><?php echo $this->fine['flight_number'] ?></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br>
<p>Tvirtinu, kad pateikta informacija yra teisinga ir man suprantamai žodžiu suteikta informacija apie uniPark Blitz
    paslaugą. Pasirašydamas šį aktą sutinku su Sutarties sąlygomis, kuri yra neatskiriama šio priėmimo perdavimo akto
    dalis.</p>
<br>
<table>
    <tr>
        <td id="left">
            <table class="one" width="350">
                <tr>
                    <th colspan="2">Transporto priemonės priėmimas</th>
                </tr>
                <tr>
                    <td>Automobilio priėmimo data, laikas</td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><b>Paslaugos teikėjas</b></td>
                    <td><?php echo $this->fine['admin'] ?> </td>
                </tr>
                <tr>
                    <td>Priėmiau</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><b>Užsakovas</b></td>
                    <td><?php echo $this->fine['name'] . ' ' . $this->fine['surname'] ?></td>
                </tr>
                <tr>
                    <td>Perdaviau</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
        <td id="right">
            <table class="two" width="500">
                <tr>
                    <th colspan="2">Transporto priemonės atidavimas</th>
                </tr>
                <tr>
                    <td>Automobilio priėmimo data, laikas</td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><b>Paslaugos teikėjas</b></td>
                    <td><?php echo $this->fine['admin'] ?> </td>
                </tr>
                <tr>
                    <td>Atidaviau</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><b>Užsakovas</b></td>
                    <td><?php echo $this->fine['name'] . ' ' . $this->fine['surname'] ?></td>
                </tr>
                <tr>
                    <td>Perdaviau</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>